<%
/**
 * @var {tab:string, link:string}[] links
 */

const props = {
    title: typeof title !== 'undefined' ? title : null,
    links: typeof links !== 'undefined' ? links : [],
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
    isDark: typeof isDark !== 'undefined' ? isDark : false,
    hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
    sections: typeof sections !== 'undefined' ? sections : []
}

const styles = {
    faq: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        },
        dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
        },
        border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
        }
    }
}
%>

<div class="module d-flex justify-content-center <%- styles.faq.border -%> <%- styles.faq.darkened -%>" <%- styles.faq.dark -%>>
    <div class="faq container row">
        <div class="col-12 col-md-5 col-xl-3">
            <h3 class="faq-title space-bottom-32 space-bottom-md-48 space-bottom-xl-56"><%- props.title -%></h3>
            <ul class="nav flex-column space-y-16">
                <% props.links.forEach((link)=> { %>
                    <li class="nav-item" >
                        <span data-bs-toggle="tab" data-bs-target="#<%-link.tab-%>">
                            <%- include( `${component}/links/link`, {
                            label: link.label,
                            } ) %>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="col-12 col-md-7 col-xl-8 offset-xl-1 tab-content">
            <% props.sections.forEach((section, index)=>{ %>
                <div class="tab-pane <%- 0 === index ? 'active' : 0 -%>" id="<%-props.links[index].tab-%>">
                    <% section.forEach((item)=> { %>
                        <%- include( `${component}/accordion/accordion`, {
                            idAccordion: item.idAccordion,
                            idItem: item.idItem,
                            label: item.label,
                            content: item.content
                        } ) %>
                    <% }) %>
                </div>
            <% }) %>
        </div>
    </div>
</div>