<%
    const props = {
        input,
        button,
        isDarkened,
        isDark,
        hasBorder
    }

    const styles = {
        searcher: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="searcher module <%- styles.searcher.border -%> <%- styles.searcher.darkened -%>" <%- styles.searcher.dark -%>>
    <div class="container d-grid grid-4 grid-md-8 grid-xl-12 px-0">
        <%- include(`${component}/form/input`, { id: props.input.id, label: props.input.label, icon: props.input.icon}) %>
        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: props.button}) -%>
    </div>
</div>