<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>
<!-- LIGHT -->
<!-- Basic -->
<%
const product = {
    title: 'Party Collection. Spring / Summer 2022',
    cards: [
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic',
                alt: 'Product 1'
            },
            name: 'White print dress',
            price: '$ 60.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic-02',
                alt: 'Product 2'
            },
            name: 'Flowery dress',
            price: '$ 70.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic-03',
                alt: 'Product 3'
            },
            name: 'Blue dress',
            price: '$ 106.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic-04',
                alt: 'Product 4'
            },
            name: 'Combined dress',
            price: '$ 78.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
    ],
    btn: {
        href: '#',
        label: 'See complete collection',
    },
    isDarkened: false,
    isDark: false,
    hasBorder: true
}

const productModule = include(`${module}/productCard/productCard`, product)

const codePreview = {
    idAccordion: 'product',
    idItem: 'product-item',
    isDarkened: true,
    hasBorder: true,
    content: productModule
}
%>
<%- productModule %>

<%- include(`${component}/codePreview/codePreview`, codePreview) %>
<!-- END: Basic -->

<!-- Darkened -->
<%
const productD = {
    title: 'Party Collection. Spring / Summer 2022',
    cards: [
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic',
                alt: 'Product 1'
            },
            name: 'White print dress',
            price: '$ 60.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic-02',
                alt: 'Product 2'
            },
            name: 'Flowery dress',
            price: '$ 70.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic-03',
                alt: 'Product 3'
            },
            name: 'Blue dress',
            price: '$ 106.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'light_product-basic-04',
                alt: 'Product 4'
            },
            name: 'Combined dress',
            price: '$ 78.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
    ],
    btn: {
        href: '#',
        label: 'See complete collection',
    },
    isDarkened: true,
    isDark: false,
    hasBorder: false
}

const productDModule = include(`${module}/productCard/productCard`, productD)

const codePreviewD = {
    idAccordion: 'product-darkened',
    idItem: 'product-darkened-item',
    isDarkened: true,
    hasBorder: true,
    content: productDModule
}
%>
<%- productDModule %>

<%- include(`${component}/codePreview/codePreview`, codePreviewD) %>
<!-- END: Darkened -->
<!-- END: LIGHT -->

<!-- DARK -->
<!-- Basic -->
<%
const productDark = {
    title: 'Party Collection. Spring / Summer 2022',
    cards: [
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-01',
                alt: 'Product 1'
            },
            name: 'White print dress',
            price: '$ 60.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-02',
                alt: 'Product 2'
            },
            name: 'Flowery dress',
            price: '$ 70.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-03',
                alt: 'Product 3'
            },
            name: 'Blue dress',
            price: '$ 106.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-04',
                alt: 'Product 4'
            },
            name: 'Combined dress',
            price: '$ 78.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
    ],
    btn: {
        href: '#',
        label: 'See complete collection',
    },
    isDarkened: false,
    isDark: true,
    hasBorder: true
}

const productDarkModule = include(`${module}/productCard/productCard`, productDark)

const codePreviewDark = {
    idAccordion: 'product',
    idItem: 'product-item',
    isDarkened: true,
    hasBorder: true,
    content: productDarkModule
}
%>
<%- productDarkModule %>

<div class="section p-0" data-b-system-theme="dark">
    <%- include(`${component}/codePreview/codePreview`, codePreviewDark) %>
</div>
<!-- END: Basic -->

<!-- Darkened -->
<%
const productDarkD = {
    title: 'Party Collection. Spring / Summer 2022',
    cards: [
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-01',
                alt: 'Product 1'
            },
            name: 'White print dress',
            price: '$ 60.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-02',
                alt: 'Product 2'
            },
            name: 'Flowery dress',
            price: '$ 70.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-03',
                alt: 'Product 3'
            },
            name: 'Blue dress',
            price: '$ 106.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
        {
            cardStyle: 'basic',
            img: {
                src: 'dark_product-basic-04',
                alt: 'Product 4'
            },
            name: 'Combined dress',
            price: '$ 78.99',
            link: {
                href: '#',
                label: 'View more',
                icon: 'links'
            },
            colors: ['#000', '#b8ddff', '#f6f6f6']
        },
    ],
    btn: {
        href: '#',
        label: 'See complete collection',
    },
    isDarkened: true,
    isDark: true,
    hasBorder: false
}

const productDarkDModule = include(`${module}/productCard/productCard`, productDarkD)

const codePreviewDarkD = {
    idAccordion: 'product-darkened',
    idItem: 'product-darkened-item',
    isDarkened: true,
    hasBorder: true,
    content: productDarkDModule
}
%>
<%- productDarkDModule %>
<div class="section p-0" data-b-system-theme="dark">
    <%- include(`${component}/codePreview/codePreview`, codePreviewDarkD) %>
</div>
<!-- END: Darkened -->
<!-- END: DARK -->