<% const props = {
    navigation
} %>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body">
        <ul class="navbar-nav" id="accordion-nav">
            <% props.navigation.forEach((navItem, index) => { %>
                <li class="nav-item accordion-item">
                    <span id="heading-<%- navItem.key -%>"
                          data-bs-toggle="collapse"
                          aria-controls="<%- navItem.key -%>"
                          data-bs-target="#<%- navItem.key -%>"
                          class="inner-space-bottom-32">
                            <%- navItem.label -%>
                        </span>
                    <div id="<%- navItem.key -%>"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading-<%- navItem.key -%>"
                         data-bs-parent="#accordion-nav">
                        <div class="accordion-body">
                            <% if(navItem.entries) { %>
                                <ul class="navbar-nav" id="accordion-<%- navItem.key -%>">
                                    <% navItem.entries.forEach((entry, index) => { %>
                                        <% const group = entry.group; %>
                                        <% if(group) { %>
                                            <% group.forEach((item, itemIndex) => { %>
                                                <li class="nav-item accordion-item">
                                                    <% const key = `key_${item.label.toLowerCase()}` %>
                                                    <span id="heading-<%- key -%>"
                                                          data-bs-toggle="collapse"
                                                          aria-controls="<%- key -%>"
                                                          data-bs-target="#<%- key -%>"
                                                          class="inner-space-bottom-32">
                                                          <%- item.label -%>
                                                     </span>
                                                    <div id="<%- key -%>" class="accordion-collapse collapse" aria-labelledby="heading-<%- key -%>"  data-bs-parent="#accordion-<%- navItem.key -%>">
                                                        <div class="accordion-body">
                                                            <% item.entries.forEach((groupEntry, entryIndex) => { %>
                                                                <a class="nav-link" href="<%- groupEntry.href -%>">
                                                                    <%- groupEntry.label %>
                                                                </a>
                                                            <% }) %>
                                                        </div>
                                                    </div>

                                                </li>
                                            <% }) %>
                                        <% } else { %>
                                            <a class="nav-link" href="<%- entry.href -%>">
                                                <%- entry.label %>
                                            </a>
                                        <%}%>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio labore non
                                    possimus
                                    sunt vel. Consequatur cumque cupiditate explicabo quia voluptas voluptatem. Alias
                                    cupiditate eveniet ipsa modi odit officiis quibusdam unde!</p>
                            <% } %>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
