<%- include(`${view}/quick_start/layout`)%>

<%- contentFor('body') %>


<section class="section">
    <div class="container gap-5">
        <div class="row">
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', icon: 'award', align: 'left' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', icon: 'award', align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', icon: 'award', align: 'right' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', variant: 'image', icon: 'award', align: 'left' }) %>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: 'fill-4.svg', align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: 'fill-4.svg', align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: "image_sample.png", align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: "image_sample.png", image_mask_svg: true, align: 'left' }) %>
            </div>
        </div>
    </div>
</section>

<section class="section" data-bsystem="dark">
    <div class="container gap-5">
        <div class="row">
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', icon: 'award', align: 'left' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', icon: 'award', align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', icon: 'award', align: 'right' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions.', variant: 'image', icon: 'award', align: 'left' }) %>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: 'fill-4.svg', align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: 'fill-4.svg', align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: "image_sample.png", align: 'center' }) %>
            </div>
            <div class="col">
                <%- include(`${component}/icondescription/icondescription`, { label: 'An organic design system', content: 'Create your digital brand in a natural and fluid way. Do we start?', variant: 'image', imageSrc: "image_sample.png", image_mask_svg: true, align: 'left' }) %>
            </div>
        </div>
    </div>
</section>
