<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!-- Section Light -->
    <%
        const brand = {
            title: 'Awards and honours',
            target: 'light',
            brands: [
                    {
                        img: {
                            src: 'brand-01',
                            alt: 'light brand 01',
                        }
                    },
                    {
                        img: {
                            src: 'brand-02',
                            alt: 'light brand 02',
                        }
                    },
                    {
                        img: {
                            src: 'brand-03',
                            alt: 'light brand 03',
                        }
                    },
                    {
                        img: {
                            src: 'brand-04',
                            alt: 'light brand 04',
                        }
                    },
                ],
            isDark: false,
            hasBorder: true
        }

        const brandModule = include(`${module}/brand/brand`, brand)

        const codePreview = {
            idAccordion: 'brand',
            idItem: 'brand-item',
            isDarkened: true,
            content: brandModule
        }
    %>

    <%- brandModule %>

    <%- include(`${component}/codePreview/codePreview`, codePreview) %>
<!-- END: Section Light -->
<!-- Section Dark -->
    <%
    const brandDark = {
        title: 'Awards and honours',
        target: 'dark',
        brands: [
                {
                    img: {
                        src: 'brand-01_darkmode',
                        alt: 'dark brand 01',
                    }
                },
                {
                    img: {
                        src: 'brand-02_darkmode',
                        alt: 'dark brand 02',
                    }
                },
                {
                    img: {
                        src: 'brand-03_darkmode',
                        alt: 'dark brand 03',
                    }
                },
                {
                    img: {
                        src: 'brand-04_darkmode',
                        alt: 'dark brand 04',
                    }
                },
            ],
        isDark: true,
        hasBorder: true
    }

    const brandDarkModule = include(`${module}/brand/brand`, brandDark)

    const codePreviewDark = {
        idAccordion: 'brand',
        idItem: 'brand-item',
        isDarkened: true,
        content: brandDarkModule
    }
    %>

    <%- brandDarkModule %>

    <div class="section p-0" data-b-system-theme="dark">
        <%- include(`${component}/codePreview/codePreview`, codePreviewDark) %>
    </div>
<!-- END: Section Dark -->