<%
/**
 * @required {string} label
 */
const props = {
    label: label,
    href: typeof href !== 'undefined' ? href : '#',
    variant: typeof variant !== 'undefined' ? variant : 'primary',
    isCTA: typeof isCTA !== 'undefined' ? isCTA : false,
    icon: typeof icon !== 'undefined' ? icon : '',
    iconPosition: typeof icon !== 'undefined' && typeof iconPosition !== 'undefined' ? iconPosition : typeof icon !== 'undefined' ? 'after' : null,
    isActionNext: typeof isActionNext !== 'undefined' ? isActionNext : false,
    isActionPrevious: typeof isActionPrevious !== 'undefined' ? isActionPrevious : false,
    isDisabled: typeof isDisabled !== 'undefined' ? isDisabled : false,
    isTransparent: typeof isTransparent !== 'undefined' ? isTransparent : false
}


function validate(props) {
    const buttonVariants = ['primary', 'secondary', 'tertiary', 'subtle']
    const buttonIconPositions = ['after', 'before']

    if (!buttonVariants.includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
    }

    if (props.iconPosition && !buttonIconPositions.includes(props.iconPosition)) {
        throw new Error(`The icon position ${props.iconPosition} doesn't exists`)
    }

    if (props.isTransparent && buttonVariants[2] !== props.variant) {
        throw new Error('Only the tertiary variant can be transparent')
    }
}
validate(props)
%>

<button href="<%= props.href %>"
        class="btn <%= `btn-${props.variant} ${props.isCTA ? 'btn-primary-cta' : ''} ${props.isActionNext ? 'btn-action-next' : props.isActionPrevious ? ' btn-action-previous' : ''} ${props.isTransparent ? 'transparent' : ''}` %>"
        <%= `${props.isDisabled ? 'disabled' : ''}` %>
>

    <% if( (props.icon && props.iconPosition === 'before') || props.isActionPrevious ) { %>
        <% if (props.isActionPrevious) { %>
            <span class="icon-back-mini"></span>
        <% } else { %>
            <span class="<%= `icon-${props.icon}` %>"></span>
        <% } %>
    <% } %>

    <% if( props.icon !== '' || props.isActionNext || props.isActionPrevious) { %>
        <span><%= props.label %></span>
    <% } else { %>
        <%= props.label %>
    <% } %>

    <% if( (props.icon && props.iconPosition === 'after') || props.isActionNext ) { %>
        <% if (props.isActionNext) { %>
            <span class="icon-next-mini"></span>
        <% } else { %>
            <span class="<%= `icon-${props.icon}` %>"></span>
        <% } %>
    <% } %>

</button>
