<%
    /**
     * @required {string} label
     */
    const props = {
        label: label,
        href: typeof href !== 'undefined' ? href : '#',
        variant: typeof variant !== 'undefined' ? variant : 'primary',
        isCTA: typeof isCTA !== 'undefined' ? isCTA : false,
        icon: typeof icon !== 'undefined' ? icon : '',
        icon_position: typeof icon_position !== 'undefined' ? icon_position : 'after'
    }

    function validate(props) {
      if(!['primary', 'secondary', 'tertiary', 'subtle'].includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
      }
    }
    validate(props)
%>

<button href="<%= props.href %>" class="btn <%= `btn-${props.variant} ${ props.isCTA ? 'btn-primary-cta' : '' }` %>">

    <% if( (props.icon ) && (props.icon_position === 'before') ) { %>
        <span class="<%= props.icon %>"></span>
    <% } %>

    <% if( props.icon !== '' ) { %>
        <span><%= props.label %></span>
    <% } else { %>
        <%= props.label %>
    <% } %>

    <% if( (props.icon ) && (props.icon_position === 'after') ) { %>
        <span class="<%= props.icon %>"></span>
    <% } %>

</button>
