<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section section-divider">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Sans serif texts' }) %>
        <div class="d-grid grid-12 ">

            <div class="space-y-24 col-1-to-13 col-md-1-to-7 col-lg-1-to-5">

                <p class="x1-text">X1 Text</p>
                <p class="x2-text">X2 Text</p>
                <p class="x3-text">X3 Text</p>
                <p class="x4-text">X4 Text</p>
                <p class="x5-text">X5 Text</p>
                <p class="x6-text">X6 Text</p>
                <p class="x7-text">X7 Text</p>
                <p class="x8-text">X8 Text</p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-7-to-13 col-lg-5-to-8">

                <p class="body-bold-text">Body bold</p>
                <p class="body-medium-text">Body medium</p>
                <p class="body-regular-text">Body regular</p>
                <p class="body-italic-text">Body Italic</p>
                <p class="body-light-dark-text">Body light dark</p>
                <p class="body-light-text">Body light</p>
                <p class="body-input-text">Inputs</p>
                <p class="x9-text">X9 Text</p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-1-to-7 col-lg-8-to-11">

                <p><%- include( `${component}/links/link`, { href: '#', weight:'bold', label: 'Links bold' } ) %></p>
                <p><%- include( `${component}/links/link`, { href: '#', label: 'Links medium' } ) %></p>
                <p><%- include( `${component}/links/link`, { href: '#', weight: 'regular', label: 'Links regular' } ) %></p>
                <p><%- include( `${component}/links/link`, { href: '#', weight:'light', label: 'Links light' } ) %></p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-7-to-13 col-lg-11-to-13">

                <p class="body-eren-text">Body eren</p>
                <p class="body-annie-text">Body annie</p>
                <p class="body-levi-text">Body levi</p>
                <p class="body-armin-text">Body armin</p>

            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Serif texts' }) %>
        <div class="d-grid grid-12 ">

            <div class="space-y-24 col-1-to-13 col-md-1-to-7 col-lg-1-to-5">

                <p class="x1-text-serif">X1 Text</p>
                <p class="x2-text-serif">X2 Text</p>
                <p class="x3-text-serif">X3 Text</p>
                <p class="x4-text-serif">X4 Text</p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-7-to-13 col-lg-5-to-8">

                <p class="body-bold-text-serif">Body bold</p>
                <p class="body-regular-text-serif">Body regular</p>
                <p class="body-italic-text-serif">Body regular italic</p>

            </div>

        </div>
    </div>
</section>

<section class="section section-divider" data-bsystem="dark">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Sans serif texts' }) %>
        <div class="d-grid grid-12 ">

            <div class="space-y-24 col-1-to-13 col-md-1-to-7 col-lg-1-to-5">

                <p class="x1-text">X1 Text</p>
                <p class="x2-text">X2 Text</p>
                <p class="x3-text">X3 Text</p>
                <p class="x4-text">X4 Text</p>
                <p class="x5-text">X5 Text</p>
                <p class="x6-text">X6 Text</p>
                <p class="x7-text">X7 Text</p>
                <p class="x8-text">X8 Text</p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-7-to-13 col-lg-5-to-8">

                <p class="body-bold-text">Body bold</p>
                <p class="body-medium-text">Body medium</p>
                <p class="body-regular-text">Body regular</p>
                <p class="body-italic-text">Body Italic</p>
                <p class="body-light-text">Body light</p>
                <p class="body-regular-gray-text">Body regular grey</p>
                <p class="body-light-gray-text">Body light grey</p>
                <p class="body-input-text">Inputs</p>
                <p class="x9-text">X9 Text</p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-1-to-7 col-lg-8-to-11">

                <p><%- include( `${component}/links/link`, { href: '#', weight:'bold', label: 'Links bold' } ) %></p>
                <p><%- include( `${component}/links/link`, { href: '#', label: 'Links medium' } ) %></p>
                <p><%- include( `${component}/links/link`, { href: '#', weight: 'regular', label: 'Links regular' } ) %></p>
                <p><%- include( `${component}/links/link`, { href: '#', weight: 'light', label: 'Links light' } ) %></p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-7-to-13 col-lg-11-to-13">

                <p class="body-eren-text">Body eren</p>
                <p class="body-annie-text">Body annie</p>
                <p class="body-levi-text">Body levi</p>
                <p class="body-armin-text">Body armin</p>

            </div>

        </div>
    </div>
</section>

<section class="section" data-bsystem="dark">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Serif texts' }) %>
        <div class="d-grid grid-12 ">

            <div class="space-y-24 col-1-to-13 col-md-1-to-7 col-lg-1-to-5">

                <p class="x1-text-serif">X1 Text</p>
                <p class="x2-text-serif">X2 Text</p>
                <p class="x3-text-serif">X3 Text</p>
                <p class="x4-text-serif">X4 Text</p>

            </div>

            <div class="space-y-24 col-1-to-13 col-md-7-to-13 col-lg-5-to-8">

                <p class="body-bold-text-serif">Body bold</p>
                <p class="body-regular-text-serif">Body regular</p>
                <p class="body-italic-text-serif">Body regular italic</p>

            </div>

        </div>
    </div>
</section>
