<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('styles') %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: true,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<main class="main">
    <section class="section section-divider p-0">
        <%- include(`${module}/cta/cta`, {
            title: 'Do you want to start with B_system today?',
            btn: {
                label: 'Purchase B_system',
                isCTA: true,
                icon: 'links',
                iconPosition: 'after'
            }
        }) %>
    </section>

    <section class="section section-divider darkened p-0">
        <%- include(`${module}/cta/cta`, {
            title: 'Do you want to start with B_system today?',
            btn: {
                label: 'Purchase B_system',
                isCTA: true,
                icon: 'links',
                iconPosition: 'after'
            }
        }) %>
    </section>

    <section class="section section-divider p-0" data-bsystem="dark">
        <%- include(`${module}/cta/cta`, {
            title: 'Do you want to start with B_system today?',
            btn: {
                label: 'Purchase B_system',
                isCTA: true,
                icon: 'links',
                iconPosition: 'after'
            }
        }) %>
    </section>
    
    <section class="section section-divider darkened p-0" data-bsystem="dark">
        <%- include(`${module}/cta/cta`, {
            title: 'Do you want to start with B_system today?',
            btn: {
                label: 'Purchase B_system',
                isCTA: true,
                icon: 'links',
                iconPosition: 'after'
            }
        }) %>
    </section>
    
</main>
