<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>
<% ['light', 'dark'].forEach((section) => { %>
    <!-- Section <%- section -%> -->
    <section class="section p-0"
        <% if(section === 'dark') { %>
             data-b-system-theme="dark"
        <% } %>
    >
        <!-- Basic -->
        <%
            const cta = {
                title: 'Do you want to start with B_system today?',
                btn: {
                    label: 'Purchase B_system',
                    isCTA: true,
                    icon: 'links',
                    iconPosition: 'after'
                },
                isDarkened: false,
                isDark: false,
                hasBorder: true    
            }

            const ctaModule = include(`${module}/cta/cta`, cta)

            const codePreview = {
                idAccordion: 'cta',
                idItem: 'cta-item',
                isDarkened: true,
                hasBorder: true,
                content: ctaModule
            }
        %>

        <%- ctaModule %>

        <%- include(`${component}/codePreview/codePreview`, codePreview) %>
        <!-- END: Basic -->

        <!-- Darkened -->
        <%
            const ctaDarkened = {
                title: 'Do you want to start with B_system today?',
                btn: {
                    label: 'Purchase B_system',
                    isCTA: true,
                    icon: 'links',
                    iconPosition: 'after'
                },
                isDarkened: true,
                isDark: false,
                hasBorder: false    
            }

            const ctaDarkenedModule = include(`${module}/cta/cta`, ctaDarkened)

            const codePreviewDarkened = {
                idAccordion: 'cta-darkened',
                idItem: 'cta-darkened-item',
                isDarkened: true,
                hasBorder: true,
                content: ctaDarkenedModule
            }
        %>

        <%- ctaDarkenedModule %>

        <%- include(`${component}/codePreview/codePreview`, codePreviewDarkened) %>
        <!-- END: Darkened -->
    </section>
    <!-- END:Section <%- section -%> -->
<% }) %>