<%
/**
 * @required {src:String, alt:String } img
 * @required {src:String, alt:String } background
 */
    const props = {
        img: img,
        background: background,
        columns: typeof columns !== 'undefined' ? columns : [],
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    const styles = {
        statistic: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            }
        }
    }
%>

<section class="section-statistic section section-divider <%- styles.statistic.darkened -%> position-relative" <%- styles.statistic.dark -%>>
    <picture>
        <img class="statistic-background img-background" src="<%- `${image}/${props.background.src}` -%>" alt="<%- props.background.alt -%>">
    </picture>
    <div class="container statistic d-grid grid-4 grid-md-8 grid-xl-12">
        <picture class="statistic-img-container col-span-5 col-md-3-to-7 col-span-xl-5 d-flex align-items-center">
            <img class="statistic-img w-100" src="<%- `${image}/${props.img.src}` -%>" alt="<%- props.img.alt -%>">
        </picture>
        <div class="statistic-content col-span-4 col-span-md-8 col-xl-7-to-13 d-grid grid-2 row-gap-48">
            <% if(props.columns.length <= 4 && props.columns.length > 0) {
            props.columns.forEach((column)=> { %>
                <div class="statistic-column col-span-2 col-span-md-1 space-y-24">
                    <h1 class="statistic-data"><%- column.data -%></h1>
                    <h4 class="statistic-title"><%- column.title -%></h4>
                    <p class="statistic-text statistic-background-text body-light-text"><%- column.text -%></p>
                    <%- include( `${component}/links/link`, {
                        href: column.link.href,
                        label: column.link.label,
                        icon: column.link.icon,
                        iconPosition: column.link.iconPosition
                    } )%>
                </div>
            <% }) 
            } %>
        </div>
    </div>
</section>