<%
/**
 * @required { src:String, alt:String } img
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
 */

    const props = {
        id: typeof id !== 'undefined' ? id : null,
        img: img,
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        btn: typeof btn !== 'undefined' ? btn : null,
        marginTop: typeof marginTop !== 'undefined' ? marginTop : false,
        onLeft: typeof onLeft !== 'undefined' ? onLeft : false,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
    }

    const styles = {
        marquee: {
            onLeft: {
                toString: () => (props.onLeft ? ' text-left' : ' text-center m-auto')
            },
            titleWhite: {
                toString: () => (props.title.titleWhite ? ' text-white' : '')
            },
            darkened: {
                toString: () => (props.isDarkened ? ' marquee-bg-darkened' : '')
            },
            border: {
                toString: () => (props.hasBorder ? ' section-divider' : '')
            },
        }
    }
%>
    <div class="marquee marquee-basic module p-0<%- styles.marquee.border -%>" id="<%- props.id -%>">
        <div class="container">
            <picture>
                <img class="marquee-bg img-mode-light<%- styles.marquee.darkened -%>" src="<%- `${image}/marquee/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
                <img class="marquee-bg img-mode-dark<%- styles.marquee.darkened -%>" src="<%- `${image}/marquee/${props.img.src}_darkmode.jpg` -%>" alt="<%- props.img.alt -%>">
            </picture>
            <div class="marquee-basic-content space-y-32<%- styles.marquee.onLeft -%>">
                <h1 class="marquee-title<%- styles.marquee.titleWhite -%>"><%= props.title.title %></h1>
                <% if(props.text) { %>
                    <p class="marquee-text"><%= props.text %></p>
                <% } 
                if(props.btn) {%>
                <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
                <% } %>
            </div>
        </div>
    </div>