<%
/**
 * @required { src:String, alt:String } img
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
 */

const props = {
    img: img,
    title: typeof title !== 'undefined' ? title : null,
    text: typeof text !== 'undefined' ? text : null,
    btn: btn,
    quote: typeof quote !== 'undefined' ? quote : null,
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false
}

const styles = {
    marquee: {
        darkened: {
            toString: () => (props.isDarkened ? 'marquee-bg-darkened' : '')
        }
    }
}
%>

<div class="marquee-wrapper position-relative">
    <%- include( `${component}/swiper/start`,
    {
    target: 'marquee-extended',
    next: '.button-next',
    prev: '.button-prev'
    }
    ) %>
    <!-- Habría que añadir un bucle para listar varias imagenes y textos distintos -->
    <div class="swiper-slide">
        <!-- si todas las marquees tienen el mismo padding, porque no es la clase marquee quien lo define? no se
         necesita de .marquee-space -->
        <!-- lo mismo para .marquee-size. Si solo hay un caso donde no se necesiten estos estilos, es mejor una
        clase que los elimine. Por ejemplo un p-0 o similar. -->

        <!-- los estilos definidos dentro de style, son los estilos que necesita este diseño para centrar contenido,
        poner el texto abajo a la derecha, etc, pero eso son estilos própios del ejemplo, no del marquee. Es decir,
        la marquee extend puede no tener el contenido centrado, más ser un marquee extend, no? para ello los estilos
        deberían estar definidos en clases que no hagan referencia a las marquees. En este caso no sería incorrecto usar las clases propias de BS. -->
        <div class="marquee marquee-extended marquee-space marquee-size"
             style="display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(3,1fr);">
            <picture>
                <img class="marquee-bg <%- styles.marquee.darkened -%>"
                     src="<%- `${image}/marquee/${props.img.src}.jpg` -%>"
                     alt="<%- props.img.alt -%>">
            </picture>
            <div class="marquee-content space-y-24 space-y-md-32">
                <h1 class="marquee-title text-white"><%= props.title %></h1>
                <% if(props.text) { %>
                    <p class="marquee-text text-white"><%= props.text %></p>
                <% } %>
                <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
            </div>
            <p class="text-end align-self-end text-white body-italic-text body-light-text">
                "<%= props.quote %>"</p>
        </div>
    </div>

    <!-- duplicado que se puede eliminar -->
    <div class="swiper-slide">
        <!-- si todas las marquees tienen el mismo padding, porque no es la clase marquee quien lo define? no se
         necesita de .marquee-space -->
        <!-- lo mismo para .marquee-size. Si solo hay un caso donde no se necesiten estos estilos, es mejor una
        clase que los elimine. Por ejemplo un p-0 o similar. -->

        <!-- los estilos definidos dentro de style, son los estilos que necesita este diseño para centrar contenido,
        poner el texto abajo a la derecha, etc, pero eso son estilos própios del ejemplo, no del marquee. Es decir,
        la marquee extend puede no tener el contenido centrado, más ser un marquee extend, no? para ello los estilos
        deberían estar definidos en clases que no hagan referencia a las marquees. En este caso no sería incorrecto usar las clases propias de BS. -->
        <div class="marquee marquee-extended marquee-space marquee-size"
             style="display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(3,1fr);">
            <picture>
                <img class="marquee-bg <%- styles.marquee.darkened -%>"
                     src="<%- `${image}/marquee/${props.img.src}.jpg` -%>"
                     alt="<%- props.img.alt -%>">
            </picture>
            <div class="marquee-content space-y-24 space-y-md-32">
                <h1 class="marquee-title text-white"><%= props.title %></h1>
                <% if(props.text) { %>
                    <p class="marquee-text text-white"><%= props.text %></p>
                <% } %>
                <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
            </div>
            <p class="text-end align-self-end text-white body-italic-text body-light-text">
                "<%= props.quote %>"</p>
        </div>
    </div>
    <!-- end: duplicado que se puede eliminar -->

    <%- include( `${component}/swiper/end`) %>


    <!-- tanto el botón de scroll down como los del slide no pueden estar dentro del slide porque son fijos. Ambos deben estar posicionados absolutos-->
    <div class="marquee-content-bottom">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'links' }) %>
    </div>
    <div class="marquee-slider-control">
        <div class="button-prev">
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
        </div>
        <div class="button-next">
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
        </div>
    </div>
</div>