<%
    /**
     * @required { src:String, size:String, alt:String } illustration
     * @required { label:String, variant:String, isTransparent:Boolean } btn
     */

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        btn: btn,
        illustration: illustration,
        quote: typeof quote !== 'undefined' ? quote : null,
        backgroundColor: typeof backgroundColor !== 'undefined' ? backgroundColor : false
    }

    const data = {
        color: ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'].includes(props.color),
    }

    const styles = {
        marquee: {
            background: {
                toString: () => (props.backgroundColor ? `bg-${props.backgroundColor}` : '')
            }
        }
    }

%>

<div class="marquee marquee-illustration marquee-space marquee-size <%- styles.marquee.background -%>">
    <div class="marquee-illustration-container">
        <div class="marquee-content space-y-32">
            <h1 class="marquee-title text-white"><%= props.title %></h1>
            <% if(props.text) { %>
            <p class="marquee-text text-white"><%= props.text %></p>
            <% } %>
            <%- include(`${component}/button/button`, { label: props.btn.label, variant: props.btn.variant, isTransparent: props.btn.isTransparent }) %>
        </div>
        <%- include(`${component}/illustration/illustration`, {img: {src: props.illustration.src, size: props.illustration.size, alt: props.illustration.alt}} ) %>
    </div>
    <div class="marquee-slider-control justify-content-between w-100 position-absolute">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
    </div>
    <div class="marquee-content-bottom d-grid grid-1 grid-xl-3">
        <span></span>
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'links' }) %>
        <p class="marquee-quote text-white body-italic-text body-light-text">"<%= props.quote %>"</p>
    </div>
</div>