<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    slides: typeof slides != 'undefined' ? slides : []
}
%>

<div class="marquee-wrapper position-relative" id="<%- props.id -%>">
    <%- include( `${component}/swiper/start`,
    {
    target: 'marquee-cta',
    next: '.button-next',
    prev: '.button-prev',
            draggable: false

    }
    ) %>

    <% props.slides.forEach((slide, i)=> { %>
        <div class="swiper-slide">
            <%- include(`${module}/marquee/cta/ctaSlideContent`, {slide}) %>
        </div>
    <% }) %>

    <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>

    <div class="marquee-content-bottom">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'links' }) %>
    </div>
    <div class="button-prev">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
    </div>
    <div class="button-next">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
    </div>

</div>