<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    slides: typeof slides != 'undefined' ? slides : [],
    interactiveButtonCssClass: typeof interactiveButtonCssClass != "undefined" ? interactiveButtonCssClass : '',
    hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
}

const styles = {
        marquee: {
            border: {
                toString: () => (props.hasBorder ? ' section-divider' : '')
            },
        }
    }
%>

<section class="module marquee-wrapper position-relative p-0<%- styles.marquee.border -%>" id="<%- props.id -%>">
    <%- include( `${component}/swiper/start`,
    {
    target: 'marquee-cta',
    next: '.button-next',
    prev: '.button-prev',
            draggable: false

    }
    ) %>

    <% props.slides.forEach((slide, i)=> { %>
        <div class="swiper-slide">
            <%- include(`${module}/marquee/cta/ctaSlideContent`, {slide}) %>
        </div>
    <% }) %>

    <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>

    <div class="marquee-content-bottom">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'scroll', interactiveButtonCssClass: `${props.interactiveButtonCssClass ?? ''} btn-interactive-effect-down` }) %>
    </div>
    <div class="button-prev">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back', interactiveButtonCssClass: `${props.interactiveButtonCssClass ?? ''} btn-interactive-effect-left` }) %>
    </div>
    <div class="button-next">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next', interactiveButtonCssClass: `${props.interactiveButtonCssClass ?? ''} btn-interactive-effect-right` }) %>
    </div>

</section>