<%
/**
 * @required { 
 *      img:{src:String, alt:String}, 
 *      title:{ link:String, text:normal }, 
 *      btn:{ label:String, isCTA:Boolean, icon:String, iconPosition:String }, 
 *      quote:String
 *} slide
 */

props = {
    slide
}
%>

<div class="marquee marquee-cta marquee-space marquee-size">
    <div class="marquee-content d-xl-grid grid-xl-12 gap-0 h-auto space-y-32 space-y-xl-64">
        <picture>
            <img class="marquee-bg" src="<%- `${image}/marquee/${props.slide.img.src}.jpg` -%>" alt="<%- props.slide.img.alt -%>">
        </picture>
        <h1 class="marquee-title text-black col-xl-1-to-11">
            <%= props.slide.title.normal %>
            <a class="action-link marquee-title-link d-inline" href="<%- props.slide.title.linkHref -%>">
                <%- props.slide.title.linkLabel -%>
            </a>
        </h1>
        <div class="col-xl-1-to-13 d-flex justify-content-center justify-content-sm-start w-100">
            <%- include(`${component}/button/button`, {
            label: props.slide.btn.label,
            isCTA: props.slide.btn.isCTA,
            icon: props.slide.btn.icon,
            iconPosition: props.slide.btn.iconPosition
            }) %>
        </div>
    </div>
    <p class="text-end align-self-end body-italic-text body-gray-text d-none d-xl-flex">"<%= props.slide.quote %>"</p>
</div>