<%
/**
 * @required { 
 *      img:{src:String, alt:String}, 
 *      title:{ emphasis:String, text:normal }, 
 *      btn:{ label:String, isCTA:Boolean, icon:String, iconPosition:String }, 
 *      quote:String
 *} slide
 */

props = {
    slide
}
%>

<div class="marquee marquee-cta marquee-space marquee-size">
    <div class="marquee-content space-y-32 space-y-xl-64">
        <% if(props.slide.img) { %>
            <%- include(`${component}/illustration/illustration`, {
                img: {
                src: props.slide.img.src,
                size:'microillustration',
                alt: props.slide.img.alt
                }
                }) %>
        <% } %>
        <h1 class="marquee-title">
            <span class="marquee-title-emphasis x2-text">
                <%= props.slide.title.emphasis %>
            </span>
            <%= props.slide.title.normal %>
        </h1>
        <div class="d-flex justify-content-center justify-content-sm-start w-100">
            <%- include(`${component}/button/button`, {
            label: props.slide.btn.label,
            isCTA: props.slide.btn.isCTA,
            icon: props.slide.btn.icon,
            iconPosition: props.slide.btn.iconPosition
            }) %>
        </div>
    </div>
    <p class="text-end align-self-end body-italic-text body-gray-text d-none d-xl-flex">"<%= props.slide.quote %>"</p>
</div>