<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<div class="main-content main-content-space-top">
    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/standard`, {
                img: {src:'logo-dark-gray.svg', alt:'Logo'},
                text:'Massive Multipurpose HTML5 Template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
            }) %>
        </div>
    </section>

    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/standard`, {
                img: {src:'logo-dark-gray.svg', alt:'Logo'},
                text:'Massive Multipurpose HTML5 Template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                isDarkened: true,
            }) %>
        </div>
    </section>

    <section class="module-wrapper" data-b-system-theme="dark">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/standard`, {
                img: {src:'logo-light-gray.svg', alt:'Logo'},
                text:'Massive Multipurpose HTML5 Template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
            }) %>
        </div>
    </section>

    <section class="module-wrapper" data-b-system-theme="dark">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/standard`, {
                img: {src:'logo-light-gray.svg', alt:'Logo'},
                text:'Massive Multipurpose HTML5 Template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                isDarkened: true,
            }) %>
        </div>
    </section>
</div>

