<%
    /**
     * @required {string} label
     */
    const props = {
        label: typeof label !== 'undefined' ? label : '',
        content: content,
        href: typeof href !== 'undefined' ? href : '',
        variant: typeof variant !== 'undefined' ? variant : 'icon',
        icon: typeof icon !== 'undefined' ? icon : '',
        imageSrc: typeof imageSrc !== 'undefined' ? imageSrc : '',
        align: typeof align !== 'undefined' ? align : 'left',
    }

    function validate(props) {
      if(!['icon', 'image'].includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
      }
      if(!['left', 'center', 'right'].includes(props.align)) {
        throw new Error(`The variant ${props.align} doesn't exists`)
      }
    }
    validate(props)
%>


<div class="icondesc mb-5 p-4 text-<% if (props.align === 'left') {%>start<%} else if (props.align === 'right') {%>end<% } else {%>center<% } %>">
    <div class="image">
        <% if( ( props.variant === "image" ) && (props.imageSrc)){ %>
            <img src="<%=image%>/<%= props.imageSrc %>" alt="">
        <% }  else if( props.icon !== '' ){ %>
            <span class="rounded-circle  <%= `icon-${props.icon}` %>"></span>
        <% } %>
    </div>

    <% if( props.label !== '' ){ %>
        <div class="label"><%= props.label %></div>
    <% } %>
    <div class="content">
        <%= props.content %>
    </div>        
</div>