<% 
/**
 * @required { src:String, alt:String } img
 */

    const props = {
        head: typeof head !== 'undefined' ? head : null,
        text: typeof text !== 'undefined' ? text : null,
        img: img,
        shape: typeof shape !== 'undefined' ? shape : null,
    }

    function validate(props) {
        const VARIANTS = ['system', 'module', 'template', 'consistency', 'process', null]
        if (!VARIANTS.includes(props.shape)) {
            throw new Error(`The shape ${props.shape} doesn't exists`)
        }
    }

    validate(props)
    const attr = {
        iconDescription: {
            shape: {
                toString: () => (props.shape == null ? '' : `style="mask-image:url(${assets}/masks/${props.shape}.svg); -webkit-mask-image:url(${assets}/masks/${props.shape}.svg);"`)
            }
        }
    }
%>

<div class="icon-description icon-description-content icon-description-masked">
    <picture class="masked" <%- attr.iconDescription.shape -%>>
        <img class="masked-img" src="<%- `${image}/featured-content/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <% if(props.head) { %>
    <h5 class="icon-description-title m-0"><%- props.head -%></h5>
    <% } 
    if(props.text) { %>
    <p class="icon-description-text body-light-gray-text"><%- props.text -%></p>
    <% } %>
</div>