<% 
/**
 * @required { src:String, alt:String, width:String, height:String } img
 */

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        img: img,
        shape: typeof shape !== 'undefined' ? shape : 'system',
    }

    function validate(props) {
        const VARIANTS = ['system', 'module', 'template', 'consistency']
        if (!VARIANTS.includes(props.shape)) {
            throw new Error(`The shape ${props.shape} doesn't exists`)
        }
    }

    validate(props)
    const attr = {
        iconDescription: {
            shape: {
                toString: () => ('info' === props.shape ? 'system' : `${props.shape}.svg`)
            }
        }
    }
%>

<div class="icon-description icon-description-content icon-description-masked">
    <picture class="masked" style="mask-image:<%- `url(${assets}/masks/${attr.iconDescription.shape})`-%>; -webkit-mask-image:<%- `url(${assets}/masks/${attr.iconDescription.shape})`-%>; height:<%- `${props.img.height}` -%>; width:<%- `${props.img.width}` -%>;">
        <img class="masked-img" src="<%- `${image}/${props.img.src}` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <h5 class="icon-description-title m-0"><%- props.title -%></h5>
    <p class="icon-description-text body-light-gray-text"><%- props.text -%></p>
</div>