<%
/**
 * @requires {href:String, label:String icon:String, iconPosition:String} link
*/

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        link: link,
        accordion: typeof accordion !== 'undefined' ? accordion : [],
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        iconService: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="module <%- styles.iconService.border -%> d-flex justify-content-center <%- styles.iconService.darkened -%>" <%- styles.iconService.dark -%>>
    <div class="icon-service container row px-0">
        <div class="icon-service-head col-12 col-md-5 col-xl-4">
            <h3 class="icon-service-title space-bottom-24 space-bottom-md-32"><%- props.title -%></h3>
            <p class="icon-service-text body-light-text"><%- props.text -%></p>
        </div>
        <div class="icon-service-accordion col-12 col-md-7 col-xl-6 offset-xl-2">
            <% props.accordion.forEach((item)=> { %>
                <%- include( `${component}/accordion/accordion`, {
                    idAccordion: item.idAccordion,
                    idItem: item.idItem,
                    label: item.label,
                    content: item.content
                } ) %>
            <% }) %>
        </div>
        <div class="icon-service-link col-12 col-md-5 col-xl-3">
            <%- include( `${component}/links/link`, {
                href: link.href,
                label: link.label,
                icon: link.icon,
                iconPosition: link.iconPosition
            } ) %>
        </div>
    </div>
</div>