<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<% ['light', 'dark'].forEach((section) => { %>
    <!-- Section <%- section -%> -->
    <section class="section p-0"
    <% if(section === 'dark') { %>
             data-b-system-theme="dark"
            <% } %>
    >
        <%
            const footer = {
                img: {src: 'logo-dark-gray.svg', alt: 'logo '},
                text:'Massive Multipurpose HTML5 Template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                textNewsletter: 'Find out about all our news in our newsletter:',
                input: {type: 'email', id:'newsletter-input', label: 'Name'},
            }

            const footerModule = include(`${component}/footer/newsletter`, footer)

            const codePreview = {
                idAccordion: 'footer',
                idItem: 'footer-item',
                isDarkened: true,
                content: footerModule
            }
        %>
        <div class="section section-divider p-0">
            <%- footerModule %>
        </div>

        <%- include(`${component}/codePreview/codePreview`, codePreview) %>

        <!-- Darkened -->
        <%
            const footerDarkened = {
                img: {src: 'logo-dark-gray.svg', alt: 'logo '},
                text:'Massive Multipurpose HTML5 Template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                textNewsletter: 'Find out about all our news in our newsletter:',
                input: {type: 'email', id:'newsletter-input', label: 'Name'},
                idDarkened: true
            }

            const footerDarkenedModule = include(`${component}/footer/newsletter`, footerDarkened)

            const codePreviewDarkened = {
                idAccordion: 'footer',
                idItem: 'footer-item',
                isDarkened: true,
                content: footerDarkenedModule
            }
        %>
        <div class="section section-divider p-0">
            <%- footerDarkenedModule %>
        </div>

        <%- include(`${component}/codePreview/codePreview`, codePreviewDarkened) %>
        <!-- END: Darkened -->
    </section>
    <!-- END:Section <%- section -%> -->
<% }) %>