<%
/**
 * @required {string} id
 */

const props = {
    id,
    label: typeof label !== 'undefined' ? label : '',
    checked: typeof checked !== 'undefined' ? checked : false,
    labelCss: typeof labelCss !== 'undefined' ? labelCss : ''
}

const styles = {
    full: {
        toString: () =>  props.label ? 'w-100' : ''
    },
}

const attrs = {
    checked: {
        toString: () => {
            return props.checked ? 'checked' : ''
        }
    }
}
%>

<div class="switch d-inline-flex justify-content-between space-x-24 <%- styles.full -%>">
    <% if(props.label){ %>
        <label class="<%- props.labelCss %>" for="<%= props.id %>">Dark mode</label>
    <% } %>
    <div class="form-check form-switch">
        <input class="form-switch-input bg-transition" type="checkbox" id="<%= props.id %>" <%- attrs.checked -%>>
        <div class="form-switch-wrapper">
            <span class="form-switch-dot"></span>
        </div>
    </div>
</div>
