<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<% ['light', 'dark'].forEach((section) => { %>
    <!-- Section <%- section -%> -->
    <section class="section p-0"
        <% if(section === 'dark') { %>
             data-b-system-theme="dark"
        <% } %>
    >
    <!-- Basic -->
    <% const iconService = {
        title: 'Know all our services',
        text: 'Learn about all the services we can offer you to help you build your brand.',
        link: {
            href: '#',
            label: 'More info',
            icon: 'info',
            iconPosition: 'before'
        },
        accordion: [
            {
                idAccordion: 'light-accordion1',
                idItem: 'light-item1',
                label: 'Branding',
                content: 'B_system is the design system that will help you create your digital brand and its application to digital touch points.'
            },
            {
                idAccordion: 'light-accordion2',
                idItem: 'light-item2',
                label: 'Digital estrategic',
                content: 'B_system is the design system that will help you create your digital brand and its application to digital touch points.'
            },
            {
                idAccordion: 'light-accordion3',
                idItem: 'light-item3',
                label: 'UX / UI design',
                content: 'B_system is the design system that will help you create your digital brand and its application to digital touch points.'
            },
        ],
        isDarkened: false,
        isDark: false,
        hasBorder: true
    }

    const iconServiceModule = include(`${module}/iconService/iconService`, iconService)

    const codePreview = {
        idAccordion: 'basic',
        idItem: 'basic-item',
        isDarkened: true,
        content: iconServiceModule
    }
    %>

    <%- iconServiceModule %>

    <%- include(`${component}/codePreview/codePreview`, codePreview) %>
    <!-- END: Basic -->

    <!-- Darkened -->
    <% const iconServiceDarkened = {
        title: 'Know all our services',
        text: 'Learn about all the services we can offer you to help you build your brand.',
        link: {
            href: '#',
            label: 'More info',
            icon: 'info',
            iconPosition: 'before'
        },
        accordion: [
            {
                idAccordion: 'light-accordion1',
                idItem: 'light-item1',
                label: 'Branding',
                content: 'B_system is the design system that will help you create your digital brand and its application to digital touch points.'
            },
            {
                idAccordion: 'light-accordion2',
                idItem: 'light-item2',
                label: 'Digital estrategic',
                content: 'B_system is the design system that will help you create your digital brand and its application to digital touch points.'
            },
            {
                idAccordion: 'light-accordion3',
                idItem: 'light-item3',
                label: 'UX / UI design',
                content: 'B_system is the design system that will help you create your digital brand and its application to digital touch points.'
            },
        ],
        isDarkened: true,
        isDark: false
    }

    const iconServiceDarkenedModule = include(`${module}/iconService/iconService`, iconServiceDarkened)

    const codePreviewDarkened = {
        idAccordion: 'basic',
        idItem: 'basic-item',
        isDarkened: true,
        content: iconServiceDarkenedModule
    }
    %>

    <%- iconServiceDarkenedModule %>

    <%- include(`${component}/codePreview/codePreview`, codePreviewDarkened) %>
    <!-- END: Darkened -->

</section>
<!-- END:Section <%- section -%> -->
<% }) %>