<%
/** 
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
 */

 const props = {
    id: typeof id !== 'undefined' ? id : null,
    title: typeof title !== 'undefined' ? title : null,
    isPlus: typeof isPlus === 'undefined' ? false : isPlus,
    background: typeof background !== 'undefined' ? background : null,
    btn: btn,
    isDarkened,
    isDark,
    hasBorder
 }

 const styles = {
        cta: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            },
            plus: {
                toString: () => (props.isPlus ? 'cta-plus' : '')
            }
        }
    }
%>

<div class="cta module space-y-32 <%- styles.cta.plus -%> <%- styles.cta.border -%> <%- styles.cta.darkened -%>" id="<%- props.id -%>" <%- styles.cta.dark -%>>
    <% if(props.background) { %>
        <picture class="cta-bg-wrapper">
            <img class="cta-bg" src="<%- `${image}/${props.background.src}.jpg` -%>" alt="<%- props.background.alt -%>">
        </picture>
    <% } %>
    <% if(props.isPlus) { %>
        <h1 class="cta-title cta-title-plus text-center "><%- props.title -%></h1>
    <% }else{ %>
        <p class="cta-title x7-text text-center"><%= props.title %></p>
    <% } %>

    <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
</div>