<%
/** 
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
 */

 const props = {
    id: typeof id !== 'undefined' ? id : null,
    title: typeof title !== 'undefined' ? title : null,
    btn: btn,
    isDarkened,
    isDark,
    hasBorder
 }

 const styles = {
        cta: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="cta module space-y-32 <%- styles.cta.border -%> <%- styles.cta.darkened -%>" id="<%- props.id -%>" <%- styles.cta.dark -%>>
    <p class="cta-title x7-text text-center"><%= props.title %></p>
    <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
</div>