<%
/**
 * @required {array} items
 */
const props = {
    items: items,
    logo: typeof logo !== 'undefined' ? logo : 'dark',
    home: typeof home !== 'undefined' ? home : '/',
    size: typeof size !== 'undefined' ? size : 'standard',
    buttons: typeof buttons !== 'undefined' ? buttons : [],
    justify: typeof justify !== 'undefined' ? justify : 'center',
    hasBackground: typeof hasBackground !== 'undefined' ? hasBackground : true,
    isSticky: typeof isSticky !== 'undefined' ? isSticky : false,
    canSearch: typeof canSearch !== 'undefined' ? canSearch : false,
    isNarrow: typeof isNarrow !== 'undefined' ? isNarrow : false,
    mainHeader: typeof mainHeader !== 'undefined' ? mainHeader : false,
    hasLightNav: typeof hasLightNav !== 'undefined' ? hasLightNav : false,
    hasContactBar: typeof hasContactBar !== 'undefined' ? hasContactBar : false
}

const HEADER_SIZE = {
    STANDARD: 'standard',
    FULL: 'full'
}

const styles = {
    header: {
        position: {
            toString: () => {
                return props.isSticky ? 'header-fixed' : ''
            }
        },
        variant: {
            toString: () => {
                return [
                    props.hasBackground ? 'header-light' : '',
                    props.hasLightNav && !props.hasBackground ? 'header-clear' : '',
                    props.isNarrow ? 'header-narrow' : ''].join(' ')
            }
        }
    },
    wrapper: {
        toString: () => {
            return props.size === HEADER_SIZE.STANDARD ? 'container-xl' : ''
        }
    },
    brand: {
        width: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                    case 'left':
                        return 'col-8 col-xl-min'
                    default:
                        return 'col-8 col-xl-3'
                }
            }
        }
    },
    navbar: {
        width: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                    case 'left':
                        return 'col'
                    default:
                        return 'col-2 col-xl-6'
                }
            }
        },
        justify: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                        return 'space-right-xl-32 justify-content-end'
                    case 'left':
                        return 'space-left-xl-32 justify-content-start'
                    default:
                        return 'justify-content-center'
                }
            }
        }
    },
    buttons: {
        width: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                    case 'left':
                        return 'col-2 col-xl-min'
                    default:
                        return 'col-2 col-xl-3'
                }
            }
        },

    }
}

const attrs = {
    header: {
        sticky: {
            toString: () => props.isSticky ? 'data-b-system-header-position="sticky"' : ''
        },
        variant: {
            toString: () => props.hasBackground ? 'data-b-system-header="light"' : 'data-b-system-header="transparent"'
        }
    }
}

const searcher = {
    input: {
        id: 'searcher',
        label: 'Search...',
        icon: 'm-glass'
    },
    button: 'blade',
    isDarkened: true,
    isDark: false,
    hasBorder: false
};

const contactBar = {
    links: [
        {
            href: 'tel:916040581',
            label: '91 604 05 81',
            icon: 'call',
            iconPosition: 'before'
        },
        {
            href: 'mailto:info@b_bank.com',
            label: 'info@b_bank.com',
            icon: 'message',
            iconPosition: 'before'
        },
    ],
    texts: {
        name: 'Say goodbye to all the red tape',
        contact: 'Follow us:'
    },
    socials: ['behance', 'youtube', 'pinterest', 'twitter', 'linkedin'],
    isDarkened: false,
    isTop: true,
    hasBorder: true
}

%>
<% if (props.canSearch && props.isSticky) { %>
<div class="header-wrapper <%- styles.header.position -%>">
    <div class="collapsed-content">
        <%- include(`${module}/searcher/searcher`, searcher) %>
    </div>
    <% } %>
    <% if(props.hasContactBar) { %>
        <%- include(`${module}/contactBar/contactBar`, contactBar) %>
    <% } %>
    <header class="header <%- styles.header.position -%> <%- styles.header.variant -%>" <%- attrs.header.sticky -%> <%- attrs.header.variant -%>>
        <div class="d-flex justify-content-between align-items-center <%- styles.wrapper %>">
            <div class="buttons-wrapper d-flex justify-content-xl-end order-0 order-xl-2 align-items-center space-x-16 space-x-xl-16 <%- styles.buttons.width %>"
                 data-b-system-wrapper="buttons">
                <% if (props.canSearch) { %>
                    <div class="<%- `order-${props.buttons.length + 1}` %> order-xl-0 space-right-xl-32">
                        <% if(props.isSticky) { %>
                            <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'm-glass', id: 'searcher-button' }) -%>
                        <% } else { %>
                            <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'm-glass' }) -%>
                        <% } %>
                    </div>
                <% } %>
                <% props.buttons.slice(0, 1).forEach((button, index) => { %>
                    <div class="d-flex d-xl-none order-0">
                        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: button.mobileIcon ?? button.icon }) -%>
                    </div>
                <% }) %>
                <% props.buttons.forEach((button, index) => { %>
                    <div class="d-none d-xl-block <%- `order-${index + 1}` %>">
                        <%- include(`${component}/button/button`, { ...button, isNarrow: props.isNarrow, isFit: true }) -%>
                    </div>
                <% }) %>
            </div>
            <a href="#"
               class="navbar-brand order-1 order-xl-0 d-flex d-xl-block justify-content-center <%- styles.brand.width %> ">
                <img src="<%= `${image}/logo-${props.logo}.svg` %>" class="logo" alt="b system logo"/>
            </a>
            <div class="nav-wrapper order-2 order-xl-1 <%- styles.navbar.width %>">
                <div class="d-none d-xl-flex <%- styles.navbar.justify %>">
                    <%- include(`${component}/navbar/nav`, {items}) -%>
                </div>
                <div class="d-flex d-xl-none justify-content-end align-items-center space-x-16 space-x-xl-16">
                    <% props.buttons.slice(1, 2).forEach((button, index) => { %>
                        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: button.mobileIcon ?? button.icon }) -%>
                    <% }) %>
                    <% if(props.mainHeader) { %>
                        <button type="button"
                                class="btn btn-only-icon navbar-toggler"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar"
                                aria-controls="offcanvasNavbar">
                            <%- include(`${component}/icons/icon`, {icon: 'menu'}) %>
                        </button>
                    <% } else { %>
                        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'menu'}) -%>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
    <% if (props.canSearch && props.isSticky) { %>
</div><% } %>
