<%
/**
 * @required {array} items
 */
const props = {
    items: items,
    size: typeof size !== 'undefined' ? size : 'standard',
    home: typeof home !== 'undefined' ? home : '/',
    buttons: typeof buttons !== 'undefined' ? buttons : [],
    justify: typeof justify !== 'undefined' ? justify : 'center',
    hasBackground: typeof hasBackground !== 'undefined' ? hasBackground : true,
    isSticky: typeof isSticky !== 'undefined' ? isSticky : false,
    canSearch: typeof canSearch !== 'undefined' ? canSearch : false,
    isNarrow: typeof isNarrow !== 'undefined' ? isNarrow : false
}

const HEADER_SIZE = {
    STANDARD: 'standard',
    FULL: 'full'
}

const styles = {
    header: {
        position: {
            toString: () => {
                return props.isSticky ? 'header-fixed' : ''
            }
        },
        variant: {
            toString: () => {
                return [!props.hasBackground ? 'header-transparent' : 'header-light',
                    props.isNarrow ? 'header-narrow' : ''].join(' ')
            }
        }
    },
    wrapper: {
        toString: () => {
            return props.size === HEADER_SIZE.STANDARD ? 'container' : ''
        }
    },
    brand: {
        width: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                    case 'left':
                        return 'col-8 col-xl-min'
                    default:
                        return 'col-8 col-xl-3'
                }
            }
        }
    },
    navbar: {
        width: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                    case 'left':
                        return 'col'
                    default:
                        return 'col-2 col-xl-6'
                }
            }
        },
        justify: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                        return 'space-right-xl-32 justify-content-end'
                    case 'left':
                        return 'space-left-xl-32 justify-content-start'
                    default:
                        return 'justify-content-center'
                }
            }
        }
    },
    buttons: {
        width: {
            toString: () => {
                switch (props.justify) {
                    case 'right':
                    case 'left':
                        return 'col-2 col-xl-min'
                    default:
                        return 'col-2 col-xl-3'
                }
            }
        }
    }
}
%>

<!--<header class="header header-light header-fixed" data-b-system="narrower">
    <nav class="navbar navbar-right navbar-expand-lg">
        <a href="<%= QUICK_START.HOME %>" class="header__logo header__logo-dark">
            <img src="<%= image %>/logo-dark.svg" class="logo" alt="b system logo"/>
        </a>

        <div class="purchase-button-wrapper" data-b-system="narrow-button-wrapper">
            <button class="btn btn-only-icon d-lg-none icon-cart" type="button"></button>
            <button class="btn btn-primary d-none d-lg-block">Purchase B_System</button>
        </div>

        <button class="btn btn-only-icon navigation-toggle icon-menu-mobile"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#navigation-bar"
                aria-controls="navigation-bar"
                aria-label="Toggle navigation">
        </button>

        <%- include(`${component}/navbar/nav`,{ items: props.items }) %>
    </nav>

    <div class="offcanvas offcanvas-start d-block d-lg-none" id="navigation-bar" tabindex="-1"
         data-b-system="navbar-nav">
        <div class="offcanvas-header">
            <button class="btn btn-only-icon icon-blade"
                    type="button"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
            </button>
        </div>
    </div>
</header>-->


<header class="header <%- styles.header.position %> <%- styles.header.variant %>">
    <div class="d-flex justify-content-between align-items-center <%- styles.wrapper %>">
        <div class="buttons-wrapper d-flex justify-content-xl-end order-0 order-xl-2 align-items-center space-x-16 space-x-xl-32 <%- styles.buttons.width %>">
            <% if (props.canSearch) { %>
                <div class="<%- `order-${props.buttons.length + 1}` %> order-xl-0">
                    <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'magnifying-glass' }) %>
                </div>
            <% } %>
            <% props.buttons.forEach((button, index) => { %>
                <div class="d-block d-xl-none order-0">
                    <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: button.mobileIcon ?? button.icon }) %>
                </div>
                <div class="d-none d-xl-block <%- `order-${index + 1}` %>">
                    <%- include(`${component}/button/button`, { ...button, isNarrow: props.isNarrow }) %>
                </div>
            <% }) %>
        </div>
        <a href="#" class="navbar-brand m-0 order-1 order-xl-0 d-flex d-xl-block justify-content-center <%- styles.brand.width %> ">
            <img src="<%= image %>/logo-dark.svg" class="logo" alt="b system logo" />
        </a>
        <div class="nav-wrapper order-2 order-xl-1 <%- styles.navbar.width %>">
            <div class="d-none d-xl-flex <%- styles.navbar.justify %>">
                <%- include(`${component}/navbar/nav`, { items}) %>
            </div>
            <div class="d-flex d-xl-none justify-content-end">
                <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'menu-mobile'}) %>
            </div>
        </div>
    </div>
</header>
