<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('styles') %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: true,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<main class="main">
        <section class="section">
            <div class="container">
                <%- include(`${component}/text/head-x3`, { text: 'Alerts' }) %>

                <div class="d-grid grid-4 grid-md-8 grid-xl-12">
                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'lock',
                            text: 'You must include at least one letter.',
                            variant: 'info'
                        }) %>
                        <span class="body-light-gray-text">
                            Info alert
                        </span>
                    </div>

                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'error',
                            text: 'The data you have entered is already in our system.',
                            variant: 'error'
                        }) %>
                        <span class="body-light-gray-text">
                            Error alert
                        </span>
                    </div>

                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'avatar',
                            text: 'Your data is safe with B System. In no case may they be published.',
                            variant: 'advice'
                        }) %>
                        <span class="body-light-gray-text">
                            Advice alert
                        </span>
                    </div>

                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'message',
                            text: 'You can also write an email to these departments and we will get back to you as soon as possible: bsystem@company.com',
                            variant: 'basic'
                        }) %>
                        <span class="body-light-gray-text">
                            Alert
                        </span>
                    </div>

                    <div class="col-span-4 space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            link: {
                                href: '#',
                                label: 'Find our offices easily in our search engine',
                                icon: 'place'
                            },
                            variant: 'link'
                        }) %>
                        <span class="body-light-gray-text">
                            Link alert
                        </span>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="section" data-bsystem="dark">
            <div class="container">
                <%- include(`${component}/text/head-x3`, { text: 'Alerts' }) %>

                <div class="d-grid grid-4 grid-md-8 grid-xl-12">
                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'lock',
                            text: 'You must include at least one letter.',
                            variant: 'info'
                        }) %>
                        <span class="body-light-gray-text">
                            Info alert
                        </span>
                    </div>

                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'error',
                            text: 'The data you have entered is already in our system.',
                            variant: 'error'
                        }) %>
                        <span class="body-light-gray-text">
                            Error alert
                        </span>
                    </div>

                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'avatar',
                            text: 'Your data is safe with B System. In no case may they be published.',
                            variant: 'advice'
                        }) %>
                        <span class="body-light-gray-text">
                            Advice alert
                        </span>
                    </div>

                    <div class="col-span-4 d-flex flex-column space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            icon: 'message',
                            text: 'You can also write an email to these departments and we will get back to you as soon as possible: bsystem@company.com',
                            variant: 'basic'
                        }) %>
                        <span class="body-light-gray-text">
                            Alert
                        </span>
                    </div>

                    <div class="col-span-4 space-y-24">
                        <%- include(`${component}/alert/alert`, {
                            link: {
                                href: '#',
                                label: 'Find our offices easily in our search engine',
                                icon: 'place'
                            },
                            variant: 'link'
                        }) %>
                        <span class="body-light-gray-text">
                            Link alert
                        </span>
                    </div>
                </div>
            </div>
        </section>

</main>