<%
/**
 * @required { emphasis:String, text:normal } title
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
*/

    const props = {
        title: title,
        btn: btn,
        quote: typeof quote !== 'undefined' ? quote : null,
    }

%>

<div class="marquee marquee-cta">
    <div class="marquee-content space-y-32">
        <h1 class="marquee-title"><span class="marquee-title-emphasis"><%= props.title.emphasis %></span> <%= props.title.normal %></h1>
        <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
    </div>
    <div class="marquee-slider-control position-absolute">
        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'back'}) %>
        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'next'}) %>
    </div>
    <div class="marquee-content-bottom">

    </div>
</div>