<%
/**
 * @required { emphasis:String, text:normal } title
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
*/

    const props = {
        title: title,
        btn: btn,
        quote: typeof quote !== 'undefined' ? quote : null,
    }

%>

<div class="marquee marquee-cta marquee-space marquee-size">
    <%- include(`${component}/illustration/illustration`, {img: {src: 'consistency', size:'microillustration', alt: 'consistency'}} ) %>
    <div class="marquee-content space-y-32 space-y-xl-64">
        <h1 class="marquee-title"><span class="marquee-title-emphasis x2-text"><%= props.title.emphasis %></span> <%= props.title.normal %></h1>
        <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
    </div>
    <div class="marquee-slider-control justify-content-between w-100 position-absolute">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
    </div>
    <div class="marquee-content-bottom">
        <span></span>
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'links' }) %>
        <p class="marquee-quote body-italic-text body-light-text">"<%= props.quote %>"</p>
    </div>
</div>