<%
    /**
     * @required { src:String, alt:String } img
     */

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        btn: btn,
        img: img,
        quote: typeof quote !== 'undefined' ? quote : null,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false
    }

    const styles = {
        marquee: {
            darkened: {
                toString: () => (props.isDarkened ? 'marquee-bg-darkened' : '')
            }
        }
    }

%>

<div class="marquee marquee-image marquee-space marquee-size">
    <picture>
        <img class="marquee-bg <%- styles.marquee.darkened -%>" src="<%- `${image}/marquee/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="marquee-content space-y-32">
        <h1 class="marquee-title"><%= props.title %></h1>
        <% if(props.text) { %>
        <p class="marquee-text body-light-text text-black"><%= props.text %></p>
        <% } %>
        <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
    </div>
    <div class="marquee-slider-control justify-content-between w-100 position-absolute">
        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'back'}) %>
        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'next'}) %>
    </div>
    <div class="marquee-content-bottom">

    </div>
</div>