<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: true,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<!-- MARQUEE HERO -->
<section class="section section-divider p-0">
    <%- include(`${module}/marquee/cta/cta`, {
        slides: [
            {
                title: {
                    emphasis: 'We are a new concept of digital studio.',
                    normal: 'We work with startups and large companies to activate and consolidate their brands.'
                },
                btn: {
                    label: 'Start with B System', 
                    isCTA: true, 
                    icon: 'links', 
                    iconPosition: 'after' 
                },
                quote: '“People ignore design that ignores people”'
            },
            {
                img: {
                    src: 'consistency',
                    alt: 'consistency'
                },
                title: {
                    emphasis: 'We are 100% customer-oriented and offer tailor-made solutions.',
                    normal: 'Always thinking about the specific needs of each of our clients.'
                },
                btn: {
                    label: 'Start with B System', 
                    isCTA: true, 
                    icon: 'links', 
                    iconPosition: 'after' 
                },
                quote: '“People ignore design that ignores people”'
            },
            {
                title: {
                    emphasis: 'We combine creative talent, strategic vision, technical specialization.',
                    normal: 'And above all, the desire to feel pride in each job.'
                },
                btn: {
                    label: 'Start with B System', 
                    isCTA: true, 
                    icon: 'links', 
                    iconPosition: 'after' 
                },
                quote: '“People ignore design that ignores people”'
            },
        ]
    }) %>
</section>

<!-- END: MARQUEE HERO -->

<!-- BASIC CONTENT SIMPLE 2 COLUMNS -->
<%- include(`${module}/basicContent/simple`, { 
    variant:'2-columns', 
    title:'Our work methodology', 
    text:'B_system is a multipurpose HTML5 template that will help you create responsive web pages with very little effort. It is made with completely scalable and reusable components, so you only have to worry about creating your wonderful project.',
    hasBorder: false 
}) %>
<!-- END: BASIC CONTENT SIMPLE 2 COLUMNS -->

<!-- CATEGORY MENU -->
<%- include(`${module}/categoriesMenu/categoriesMenu`, {
    align: 'center',
    items: [
        {
            label: '1. Explration',
            href: '#exploration',
            id: 'menu-exploration',
            active: true
        },
        {
            label: '2. Empathy',
            href: '#empathy',
            id: 'menu-empathy'
        },
        {
            label: '3. Definition',
            href: '#definition',
            id: 'menu-definition'
        },
        {
            label: '4. Ideation',
            href: '#ideation',
            id: 'menu-ideation'
        },
        {
            label: '5. Prototyping',
            href: '#prototyping',
            id: 'menu-propotyping'
        }
    ]
}) %>
<!-- END: CATEGORY MENU -->

<!-- FEATURED CONTENT -->
<%- include( `${module}/featuredContent/featuredContent`, {
    id: 'exploration',
    masked: {
        img: {
            src: 'featured-content_01',
            alt: 'featured content image',
        },
        shape: 'module'
    },
    subtitle: '1. Exploration phase',
    title: 'Explore new concepts, products, services, ventures, brands, and systems.',
    link: {
        href: '#',
        label: 'Learn more',
        icon: 'links'
    },
    contentPosition: 'left',
    isDarkened: false,
    isDark: false,
    hasBorder: true
} ) %>

<%- include( `${module}/featuredContent/featuredContent`, {
    id: 'empathy',
    masked: {
        img: {
            src: 'featured-content_02',
            alt: 'featured content image 2',
        },
        shape: 'consistency'
    },
    subtitle: '2. Empathy phase',
    title: 'A deep understanding of the needs of the users involved in the solution.',
    link: {
        href: '#',
        label: 'Learn more',
        icon: 'links'
    },
    contentPosition: 'right',
    isDarkened: false,
    isDark: false,
    hasBorder: true
} ) %>

<%- include( `${module}/featuredContent/featuredContent`, {
    id: 'definition',
    masked: {
        img: {
            src: 'featured-content_05',
            alt: 'featured content image 3',
        },
        shape: 'system'
    },
    subtitle: '3. Definition phase',
    title: 'Staying with what really adds value and brings us to new interesting perspectives.',
    link: {
        href: '#',
        label: 'Learn more',
        icon: 'links'
    },
    contentPosition: 'left',
    isDarkened: false,
    isDark: false,
    hasBorder: true
} ) %>

<%- include( `${module}/featuredContent/featuredContent`, {
    id: 'ideation',
    masked: {
        img: {
            src: 'featured-content_03',
            alt: 'featured content image 4',
        },
        shape: 'process'
    },
    subtitle: '4. Ideation phase',
    title: 'In this phase, activities favor expansive thinking and we eliminate value judgments.',
    link: {
        href: '#',
        label: 'Learn more',
        icon: 'links'
    },
    contentPosition: 'right',
    isDarkened: false,
    isDark: false,
    hasBorder: true
} ) %>

<%- include( `${module}/featuredContent/featuredContent`, {
    id: 'prototyping',
    masked: {
        img: {
            src: 'featured-content_04',
            alt: 'featured content image 5',
        },
        shape: 'system'
    },
    subtitle: '5. Prototyping phase',
    title: 'Building prototypes makes ideas tangible and helps us visualize possible solutions.',
    link: {
        href: '#',
        label: 'Learn more',
        icon: 'links'
    },
    contentPosition: 'left',
    isDarkened: false,
    isDark: false,
    hasBorder: true
} ) %>
<!-- END: FEATURED CONTENT -->

<!-- BASIC CONTENT SIMPLE 2 COLUMNS -->
<%- include(`${module}/basicContent/simple`, { 
    variant:'2-columns', 
    title:'Our portfolio', 
    text:'B_system is a multipurpose HTML5 template that will help you create responsive web pages with very little effort. It is made with completely scalable and reusable components, so you only have to worry about creating your wonderful project.',
    hasBorder: true 
}) %>
<!-- END: BASIC CONTENT SIMPLE 2 COLUMNS -->

<!-- PORTFOLIO GRID DECOMPOSED -->

<!-- END: PORTFOLIO GRID DECOMPOSED -->

<!-- CTA -->
<%- include(`${module}/cta/cta`, {
    title: 'Do you want to start with B_system today?',
    btn: {
        label: 'Purchase B_system',
        isCTA: true,
        icon: 'links',
        iconPosition: 'after'
    },
    isDarkened: false,
    isDark: false,
    hasBorder: true
}) %>
<!-- END: CTA -->

<!-- ICONS SOCIAL -->
<%- include(`${module}/iconSocial/iconSocial`, { 
    socials: ['behance', 'youtube', 'pinterest', 'twitter', 'linkedin'],
    isDarkened: false,
    isDark: false,
    hasBorder: false
}) -%>
<!-- END: ICONS SOCIAL -->