<%

    const props = {
        id: typeof id !== 'undefined' ? id : null,
        socials: typeof socials !== 'undefined' ? socials : [],
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        iconSocial: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>
%>
<div class="module <%- styles.iconSocial.border -%> <%- styles.iconSocial.darkened -%>" id="<%- props.id -%>" <%- styles.iconSocial.dark -%>>
    <div class="icons-social">
        <% props.socials.forEach((social) => { %>
            <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: social}) -%>
        <% }) %>
    </div>
</div>