<%
/**
 * @required { 
 *      img:{src:String, alt:String}, 
 *      title:{ emphasis:String, text:normal }, 
 *      btn:{ label:String, isCTA:Boolean, icon:String, iconPosition:String }, 
 *      quote:String
 *} slide
 */

const props = {
    slide
}

const styles = {
    background: {
        toString: () => `bg-${props.slide.bg}`
    }
}
%>

<div class="marquee marquee-illustration <%- styles.background -%> marquee-space marquee-size position-relative">
    <div class="marquee-content ">
        <div class="d-flex flex-column-reverse flex-md-row inner-space-inline-xl-120 gap-xl-48 container">
            <div class="marquee-content-info d-flex flex-column justify-content-center">
                <h1 class="text-white space-bottom-32">
                    <%= props.slide.title %>
                </h1>
                <p class="text-white space-bottom-40">
                    <%= props.slide.text %>
                </p>
                <div class="cta-wrapper">
                    <%- include(`${component}/button/button`, {
                    label: props.slide.btn.label,
                    variant: 'glass',
                    }) %>
                </div>
            </div>
            <div class="position-relative">
                <%- include(`${component}/illustration/illustration`, {
                img: {
                src: props.slide.img.src,
                size:'scenes',
                alt: props.slide.img.alt
                }
                }) %>
            </div>
        </div>
    </div>
    <p class="text-end align-self-end body-italic-text body-gray-text d-none d-xl-block position-absolute text-white"
       style="bottom: 32px; right: 32px">
        "<%= props.slide.quote %>"
    </p>
</div>
