<%- include(`${view}/quick_start/layout`)%>

<%- contentFor('body') %>
<div class="main-content main-content-space-top">
    <section class="module-wrapper footer-basic">
        <div class="module-view-example-wrapper">
<!--            <%- include(`${component}/footer/corporate`) %>-->
<!--            <%- include(`${component}/footer/corporate`, {variant: 'footer-darkener'}) %>-->
<!--            <%- include(`${component}/footer/corporate`, { isDark:true}) %>-->
<!--            <%- include(`${component}/footer/corporate`, {variant: 'footer-darkener', darkMode:true}) %>-->
        </div>
    </section>
</div>


