<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<div class="main-content main-content-space-top">
    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/corporate`, {
                img: {src: 'logo-dark-gray.svg', alt: 'logo'},
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                link: {href: 'info@itertika.studio', label: 'info@itertika.studio', icon: 'message', iconPosition: 'before'},
                columns: [
                    [
                        {
                            title: 'About',
                        },
                        {
                            name: 'B_system',
                            href: '#'
                        },
                        {
                            name: 'About us',
                            href: '#'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'Contact us',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Services'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'What we offer',
                            href: '#'
                        },
                        {
                            name: 'Contact classic',
                            href: '#'
                        },
                        {
                            name: 'Contracting',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Customer'
                        },
                        {
                            name: 'Customer support',
                            href: '#'
                        },
                        {
                            name: 'Testimonials',
                            href: '#'
                        },
                        {
                            name: 'Team classic',
                            href: '#'
                        },
                        {
                            name: 'Team modern',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Featured demos'
                        },
                        {
                            name: 'Startup',
                            href: '#'
                        },
                        {
                            name: 'Design studio',
                            href: '#'
                        },
                        {
                            name: 'Branding agency',
                            href: '#'
                        },
                        {
                            name: 'Freelance',
                            href: '#'
                        },
                    ]
                ]
            }) %>
        </div>
    </section>

    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/corporate`, {
                img: {src: 'logo-dark-gray.svg', alt: 'logo'},
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                link: {href: 'info@itertika.studio', label: 'info@itertika.studio', icon: 'message', iconPosition: 'before'},
                variant: 'darkener',
                columns: [
                    [
                        {
                            title: 'About',
                        },
                        {
                            name: 'B_system',
                            href: '#'
                        },
                        {
                            name: 'About us',
                            href: '#'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'Contact us',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Services'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'What we offer',
                            href: '#'
                        },
                        {
                            name: 'Contact classic',
                            href: '#'
                        },
                        {
                            name: 'Contracting',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Customer'
                        },
                        {
                            name: 'Customer support',
                            href: '#'
                        },
                        {
                            name: 'Testimonials',
                            href: '#'
                        },
                        {
                            name: 'Team classic',
                            href: '#'
                        },
                        {
                            name: 'Team modern',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Featured demos'
                        },
                        {
                            name: 'Startup',
                            href: '#'
                        },
                        {
                            name: 'Design studio',
                            href: '#'
                        },
                        {
                            name: 'Branding agency',
                            href: '#'
                        },
                        {
                            name: 'Freelance',
                            href: '#'
                        },
                    ]
                ]
            }) %>
        </div>
    </section>

    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/corporate`, {
                img: {src: 'logo-light-gray.svg', alt: 'logo'},
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                link: {href: 'info@itertika.studio', label: 'info@itertika.studio', icon: 'message', iconPosition: 'before'},
                isDark: true,
                columns: [
                    [
                        {
                            title: 'About',
                        },
                        {
                            name: 'B_system',
                            href: '#'
                        },
                        {
                            name: 'About us',
                            href: '#'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'Contact us',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Services'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'What we offer',
                            href: '#'
                        },
                        {
                            name: 'Contact classic',
                            href: '#'
                        },
                        {
                            name: 'Contracting',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Customer'
                        },
                        {
                            name: 'Customer support',
                            href: '#'
                        },
                        {
                            name: 'Testimonials',
                            href: '#'
                        },
                        {
                            name: 'Team classic',
                            href: '#'
                        },
                        {
                            name: 'Team modern',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Featured demos'
                        },
                        {
                            name: 'Startup',
                            href: '#'
                        },
                        {
                            name: 'Design studio',
                            href: '#'
                        },
                        {
                            name: 'Branding agency',
                            href: '#'
                        },
                        {
                            name: 'Freelance',
                            href: '#'
                        },
                    ]
                ]
            }) %>
        </div>
    </section>

    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/corporate`, {
                img: {src: 'logo-light-gray.svg', alt: 'logo'},
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                link: {href: 'info@itertika.studio', label: 'info@itertika.studio', icon: 'message', iconPosition: 'before'},
                variant: 'darkener',
                isDark: true,
                columns: [
                    [
                        {
                            title: 'About',
                        },
                        {
                            name: 'B_system',
                            href: '#'
                        },
                        {
                            name: 'About us',
                            href: '#'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'Contact us',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Services'
                        },
                        {
                            name: 'Our services',
                            href: '#'
                        },
                        {
                            name: 'What we offer',
                            href: '#'
                        },
                        {
                            name: 'Contact classic',
                            href: '#'
                        },
                        {
                            name: 'Contracting',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Customer'
                        },
                        {
                            name: 'Customer support',
                            href: '#'
                        },
                        {
                            name: 'Testimonials',
                            href: '#'
                        },
                        {
                            name: 'Team classic',
                            href: '#'
                        },
                        {
                            name: 'Team modern',
                            href: '#'
                        },
                    ],
                    [
                        {
                            title: 'Featured demos'
                        },
                        {
                            name: 'Startup',
                            href: '#'
                        },
                        {
                            name: 'Design studio',
                            href: '#'
                        },
                        {
                            name: 'Branding agency',
                            href: '#'
                        },
                        {
                            name: 'Freelance',
                            href: '#'
                        },
                    ]
                ]
            }) %>
        </div>
    </section>
</div>