<%
    /**
     * @required {string} type
     * @required {string} id
     */

    const props = {
        type: type,
        id: id,
        label: typeof label !== 'undefined' ? label : '',
		isChecked: typeof isChecked !== 'undefined' ? 'checked' : '',
    }

    function validate( props ) {
        if ( ! [ 'checkbox', 'radio' ].includes( props.type ) ) {
            throw new Error( `The variant ${props.type} doesn't exists` )
        }
    }
    validate( props )
%>

<div class="form-check">

    <input class="form-check-input" type="<%= props.type %>" id="<%= props.id %>"
        <% if ( 'checkbox' === props.type ) { %>
            value="<%= props.id %>"
        <% } %>
        <% if ( 'radio'  === props.type ) { %>
            name="<%= props.id %>"
        <% } %>
        <%= props.isChecked %>
    >

    <label class="form-check-label" for="<%= props.id %>">
        <%= props.label %>
    </label>

</div>
