<%
    /**
     * @required {string} type
     * @required {string} id
     * @required {string} label
     */

    const props = {
        type: type,
        id: id,
        label: label,
        icon: typeof icon !== 'undefined' ? icon : '',
        isRequired: typeof isRequired !== 'undefined' ? isRequired : false,
    }
%>

<div class="form-floating<%= '' !== props.icon ? ' with-icon' : '' %>">

    <input type="<%= props.type %>" class="form-control" id="<%= props.id %>" <%= props.isRequired %> placeholder="<%= props.label %>">

    <label for="<%= props.id %>"><%= props.label %></label>

    <% if ( '' !== props.icon ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

</div>



<!--
    https://getbootstrap.com/docs/5.0/forms/floating-labels/
    https://getbootstrap.com/docs/5.0/forms/validation/
-->
