<%
    /**
     * @required {string} type
     * @required {string} id
     */
    const props = {
        type: type,
        id: id,
        label: typeof label !== 'undefined' ? label : '',
        placeholder: typeof placeholder !== 'undefined' ? placeholder : '',
        required: typeof required !== 'undefined' ? required : false,
        icon: typeof icon !== 'undefined' ? icon : '',
        withIcon: typeof icon !== 'undefined' ? 'with-icon' : '',
        withWrapper: typeof withWrapper !== 'undefined' ? withWrapper : false,
        css_wrapper: typeof css_wrapper !== 'undefined' ? css_wrapper : '',
        css_label: typeof css_label !== 'undefined' ? css_label : '',
        css_input: typeof css_input !== 'undefined' ? css_input : '',

        // variant: typeof variant !== 'undefined' ? variant : '',
        // icon: typeof icon !== 'undefined' ? icon : '',
        // placeholder: typeof placeholder !== 'undefined' ? ` placeholder=${placeholder}` : '',
        // placeholder: typeof placeholder !== 'undefined' ? ' placeholder="'+placeholder+'"' : '',
    }
%>


<% if ( props.withWrapper ) { %>
    <div
        <% if ( '' !== props.css_wrapper ) { %>
            class="<%= props.css_wrapper %>"
        <% } %>
    >
<% } %>

    <% if ( '' !== props.label ) { %>
        <label for="<%= props.id %>"
            <% if ( '' !== props.css_label ) { %>
                class="<%= props.css_label %>"
            <% } %>
        ><%= props.label %></label>
    <% } %>

    <input type="<%= props.type %>" class="form-control <%= props.withIcon %> <%= props.css_input %>" id="<%= props.id %>" <%= props.required %>
        <% if ( '' !== props.placeholder ) { %>
            placeholder="<%= props.placeholder %>"
        <% } %>
    >

    <% if ( '' !== props.icon ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

<% if ( props.withWrapper ) { %>
    </div>
<% } %>



<!--
    https://getbootstrap.com/docs/5.0/forms/floating-labels/
    https://getbootstrap.com/docs/5.0/forms/validation/

    withWrapper: true,
-->
