<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap + reset styles-->
    <link rel="stylesheet" href="<%= assets %>/vendor/bootstrap/5.1/css/bootstrap.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>


    <!-- Highlight -->
    <link rel='stylesheet' href='<%= assets %>/css/style.min.css'/>


    <!--B_system styles-->
    <link rel='stylesheet' href='<%= assets %>/css/style.min.css'/>

    <!-- Demo styles -->

    <style lang="css">
        <%- defineContent('styles') %>
    </style>
</head>
<body>

<% /*
Define a required placeholder for the header.
If a page doesn't define a header, there will be an error when rendering.
*/ %>

<!--MAIN HEADER-->
<%- header %>
<!--END: MAIN HEADER-->

<%- fixed %>

<!--MAIN CONTENT-->
<main class="main">
    <%- body %>
</main>
<!--END: MAIN CONTENT-->

<% /*
Define an optional placeholder for the footer.
If a page doesn't define a footer, this section will simply be empty.
*/ %>

<!--MAIN FOOTER-->
<%- footer %>
<!--END: MAIN FOOTER-->


<!--SCRIPTS-->

<!--Bootstrap JS Bundle-->
<script src="<%= assets %>/vendor/bootstrap/5.1/js/bootstrap.bundle.min.js"></script>

<!-- Swiper bundle CDN -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.7/beautify-html.min.js"></script>


<!-- Highlight -->
<script src="<%= assets %>/vendor/highlight/js/highlight.js"></script>
<script>hljs.highlightAll();</script>


<!--B_system JS-->
<script src="<%= assets %>/js/bsystem.min.js"></script>


<script src="<%= assets %>/js/script.min.js"></script>

<% /* Place any scripts contained in views at the end of the page. */ %>
<script>
  let quickStart = <%- JSON.stringify({ ...QUICK_START }) %>;
  delete quickStart.ROUTE_NAME;
  delete quickStart.HOME;
  quickStart = Object.values(quickStart)
    .map((value) => {
      if (typeof value !== 'string') {
        return Object.values(value);
      }
      return value;
    })
    .flat(1);
  window.quickStart = quickStart;

  let demos = <%- JSON.stringify({ ...DEMOS }) %>
    delete demos.ROUTE_NAME;
  demos = Object.values(demos)
    .map((value) => {
      if (typeof value !== 'string') {
        return Object.values(value);
      }
      return value;
    })
    .flat(1);
  window.demos = demos;

  <%- defineContent('script') %>
</script>

<!--END: SCRIPTS-->
</body>
</html>
