<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%=assets%>/vendor/bootstrap/5.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='<%=assets%>/css/style.css' />
</head>
<body>

<%- content %>

<!--Bootstrap Bundle-->
<script src="<%=assets%>/vendor/bootstrap/5.1/js/bootstrap.bundle.min.js"></script>
<!--B_System-->
<script src="<%=assets%>/js/b_system.min.js"></script>
</body>
</html>
