<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap + reset styles-->
    <link rel="stylesheet" href="<%= assets %>/vendor/bootstrap/5.1/css/bootstrap.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <!--B_system styles-->
    <link rel='stylesheet' href='<%= assets %>/css/style.min.css'/>

    <!-- Demo styles -->

    <style lang="css">
        <%- defineContent('styles') %>
    </style>
</head>
<body>

<% /*
Define a required placeholder for the header.
If a page doesn't define a header, there will be an error when rendering.
*/ %>

<!--MAIN HEADER-->
<%- header %>
<!--END: MAIN HEADER-->

<%- fixed %>

<!--MAIN CONTENT-->
<main class="main">
    <%- body %>
</main>
<!--END: MAIN CONTENT-->

<% /*
Define an optional placeholder for the footer.
If a page doesn't define a footer, this section will simply be empty.
*/ %>

<!--MAIN FOOTER-->
<%- footer %>
<!--END: MAIN FOOTER-->


<!--SCRIPTS-->

<!--Bootstrap JS Bundle-->
<script src="<%= assets %>/vendor/bootstrap/5.1/js/bootstrap.bundle.min.js"></script>

<!-- Swiper bundle CDN -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!--B_system JS-->
<script src="<%= assets %>/js/bsystem.min.js"></script>

<% /* Place any scripts contained in views at the end of the page. */ %>
<script>
const transformHeader = (purchaseButtonType) => {
        const headerElement = document.querySelector('header.header')
        const img = document.querySelector('header img.logo')
        const purchaseButton = document.querySelector('header button.btn.btn-fit')

        let isNavActive = false
        let isHeaderTransparent = true
        let isBodyDark = false

        document.addEventListener(b_system.$EVENTS.ON_MOBILE_NAV_TOGGLE, (evt) => {
            const {detail: nav} = evt
            isNavActive = nav.isActive
            if (isNavActive) {
                if (!isBodyDark) {
                    img.src = '/assets/img/logo-dark.svg'
                }
            } else {
                if (isHeaderTransparent) {
                    img.src = '/assets/img/logo-light.svg'
                }
            }
        })
        document.addEventListener(b_system.$EVENTS.ON_TRANSPARENT_HEADER_CHANGE_BACKGROUND, (evt) => {
            const {detail: header} = evt
            const isDark = !!document.querySelector('body[data-b-system-theme="dark"]')

            isHeaderTransparent = header.isTransparent
            isBodyDark = isDark

            if (header.isTransparent && !isNavActive) {
                img.src = '/assets/img/logo-light.svg'
                if (purchaseButtonType !== 'primary') {
                    purchaseButton.classList.remove('btn-primary')
                    purchaseButton.classList.add('btn-glass')
                }
            } else {
                if (!isBodyDark) {
                    img.src = '/assets/img/logo-dark.svg'
                }
                if (purchaseButtonType !== 'primary') {
                    purchaseButton.classList.remove('btn-glass')
                    purchaseButton.classList.add('btn-primary')
                }
            }
        })
    }
    <%- defineContent('script') %>
</script>
<!--END: SCRIPTS-->
</body>
</html>
