<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%=assets%>/vendor/bootstrap/5.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='<%=assets%>/css/style.css' />
    <link rel='stylesheet' href='<%=assets%>/css/demo.css' />
</head>
<body>


<% /*
Define an required placeholder for the header.
If a page doesn't define a header, there will be an error when rendering.
*/ %>
<%- header %>

<main class="main">
    <%- body %>
</main>


<% /*
Define an optional placeholder for the footer.
If a page doesn't define a footer, this section will simply be empty.
*/ %>

<%- footer %>


<% /* Place any scripts contained in views at the end of the page. */ %>
<%- defineContent('script') %>

<!--Bootstrap Bundle-->
<script src="<%=assets%>/vendor/bootstrap/5.1/js/bootstrap.bundle.min.js"></script>
<!--B_System-->
<script src="<%=assets%>/js/b_system.min.js"></script>
</body>
</html>
