<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap + reset styles-->
    <link rel="stylesheet" href="<%= assets %>/vendor/bootstrap/5.1/css/bootstrap.min.css">

    <!--B_System styles-->
    <link rel='stylesheet' href='<%= assets %>/css/style.min.css' />
</head>
<body>

<% /*
Define a required placeholder for the header.
If a page doesn't define a header, there will be an error when rendering.
*/ %>

<!--MAIN HEADER-->
<%- header %>
<!--END: MAIN HEADER-->

<!--MAIN CONTENT-->
<main class="main">
    <%- body %>
</main>
<!--END: MAIN CONTENT-->

<% /*
Define an optional placeholder for the footer.
If a page doesn't define a footer, this section will simply be empty.
*/ %>

<!--MAIN FOOTER-->
<%- footer %>
<!--END: MAIN FOOTER-->


<!--SCRIPTS-->
<% /* Place any scripts contained in views at the end of the page. */ %>
<%- defineContent('script') %>

<!--Bootstrap JS Bundle-->
<script src="<%= assets %>/vendor/bootstrap/5.1/js/bootstrap.bundle.min.js"></script>
<!--B_System JS-->
<script src="<%= assets %>/js/bsystem.min.js"></script>
<!--END: SCRIPTS-->
</body>
</html>
