<%

    const props = {
        head: typeof head !== 'undefined' ? head : null,
        columns: typeof columns !== 'undefined' ? columns : [],
        icon: typeof icon !== 'undefined' ? icon : null,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    const styles = {
        iconDescription: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            }
        }
    }
%>

<section class="section-icon-description section section-divider <%- styles.iconDescription.darkened -%> text-center position-relative" <%- styles.iconDescription.dark -%>>
    <%- include(`${component}/text/head-x3`, { text: props.head }) %>
    <% if(props.icon) { %>
    <%- include(`${component}/icons/icon`, { icon: props.icon } ) %>
    <% } %>
    <div class="container d-grid grid-4 grid-md-8 grid-xl-12 row-gap-56">
        <% props.columns.forEach((column)=> { %>
            <div class="col-span-4 col-span-md-8 col-span-xl-4">
                <%- include(`${component}/iconDescription/content`, { 
                    microillustration: {
                        src: column.microillustration.src,
                        alt: column.microillustration.alt
                    },
                    title: column.title,
                    text: column.text
                    } )
                %>
            </div>
        <% }) %>
    </div>
</section>