<%
    const props = {
        title: typeof title != 'undefined' ? title : null,
        background: typeof background != 'undefined' ? background : null,
        cards: typeof cards != 'undefined' ? cards : [],
        isDarkened,
        isDark,
        haveBorder
    }

    const styles = {
        price: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.haveBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="prices module <%- styles.price.border -%> <%- styles.price.darkened -%> position-relative" <%- styles.price.dark -%>>
    <% if(props.background && props.isDarkened == true) { %>
        <picture class="prices-bg-container d-none d-xl-block w-100 h-100 position-absolute">
            <img class="prices-bg w-100 h-100" src="<%= `${image}/${props.background.src}.jpg` %>" alt="<%= props.background.alt %>">
        </picture>
    <% } %>
    <div class="container p-0 inner-space-inline-xl-80 position-relative">
        <h3 class="prices-title text-center d-none d-xl-block space-bottom-48 space-bottom-md-56 space-bottom-xl-72"><%= props.title.extended %></h3>
        <h3 class="prices-title text-center d-xl-none space-bottom-48 space-bottom-md-56 space-bottom-xl-72"><%= props.title.shortened %></h3>
        <!-- Prices grid (tablet & desktop) -->
        <div class="prices-content-wrapper d-none d-md-grid grid-md-3">
            <% props.cards.forEach((card)=> { %>
                <%- include( `${component}/card/comparative`, {
                    price: card.price,
                    icon: card.icon,
                    titleComparative: card.title,
                    text: card.text,
                    link: {
                        href: card.link.href,
                        label: card.link.label,
                        icon: card.link.icon
                    },
                    typesListElements: card.typesListElements
                } ) %>
            <% }) %>
        </div>
        <!-- END: Prices grid (tablet & desktop) -->

        <!-- Prices carousel (mobile) -->
        <div class="prices-wrapper d-block d-md-none my-0 overflow-hidden">
            <%- include( `${component}/swiper/start`,
            {
            target: 'price',
            effect: 'centered',
            items: 1
            }
            ) %>
    
            <% props.cards.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/price/priceSlideContent`, {slide}) %>
                </div>
            <% }) %>
    
            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>
        <!-- END: Prices carousel (mobile) -->
    </div>
</div>