<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!-- Light -->
<%
    const service = {
        cards: [
            {
                title: 'Digital strategy',
                text: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business.',
                tag: '1',
                img: {
                    src: 'card-service-grid-01',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'right'
            },
            {
                title: 'Digital Marketing',
                text: 'In markets as competitive as the current ones, we must focus on real online marketing strategies that work and on strategies based on results.',
                tag: '2',
                img: {
                    src: 'card-service-grid-02',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'right'
            },
            {
                title: 'Social media',
                text: 'A team with great experience in Social & Content Marketing that has worked with more than 500 social profiles for different clients simultaneously.',
                tag: '3',
                img: {
                    src: 'card-service-grid-03',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'left'
            },
            {
                title: 'Digital strategy',
                text: 'We optimize all the means to help you sell. Our extensive Know How in performance supports our experience.',
                tag: '4',
                img: {
                    src: 'card-service-grid-04',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'left'
            },
        ],
        isDark: false
    }

    const serviceModule = include(`${module}/serviceGrid/serviceGrid`, service)

    const codePreview = {
        idAccordion: 'service',
        idItem: 'service-item',
        isDarkened: true,
        content: serviceModule
    }
%>

<%- serviceModule %>

<%- include(`${component}/codePreview/codePreview`, codePreview) %>
<!-- END: Light -->

<!-- Dark -->
<%
    const serviceDark = {
        cards: [
            {
                title: 'Digital strategy',
                text: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business.',
                tag: '1',
                img: {
                    src: 'card-service-grid-01_darkmode',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'right'
            },
            {
                title: 'Digital Marketing',
                text: 'In markets as competitive as the current ones, we must focus on real online marketing strategies that work and on strategies based on results.',
                tag: '2',
                img: {
                    src: 'card-service-grid-02_darkmode',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'right'
            },
            {
                title: 'Social media',
                text: 'A team with great experience in Social & Content Marketing that has worked with more than 500 social profiles for different clients simultaneously.',
                tag: '3',
                img: {
                    src: 'card-service-grid-03_darkmode',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'left'
            },
            {
                title: 'Digital strategy',
                text: 'We optimize all the means to help you sell. Our extensive Know How in performance supports our experience.',
                tag: '4',
                img: {
                    src: 'card-service-grid-04_darkmode',
                    alt: 'service grid image',
                },
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links'
                },
                contentPosition: 'left'
            },
        ],
        isDark: true
    }

    const serviceDarkModule = include(`${module}/serviceGrid/serviceGrid`, serviceDark)

    const codePreviewDark = {
        idAccordion: 'service',
        idItem: 'service-item',
        isDarkened: true,
        content: serviceModule
    }
%>

<%- serviceDarkModule %>

<div class="section p-0" data-b-system-theme="dark">
    <%- include(`${component}/codePreview/codePreview`, codePreviewDark) %>
</div>
<!-- END: Dark -->