<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">

    <div class="container">

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Concept icons</h3>
        <div class="d-grid grid-min-4 grid-md-min-8 grid-lg-min-12 justify-content-between row-gap-48 space-bottom-88">

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'avatar' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Avatar
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'award' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Award
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'blade' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Blade
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'back' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Back
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'bullets' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Bullets
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'calendar' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Calendar
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'call' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Call
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'cart' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Cart
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'charts' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Charts
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'check' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Check
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'clock' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Clock
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'close' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Close
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'close-blade' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Close blade
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-back' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Dart back
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-next' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Dart next
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'docu' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Docu
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'done' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Done
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'down' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Down
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'download' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Download
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'download-docu' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Download docu
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'edit' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Edit
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'edit-content' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Edit content
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'error' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Error
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'eye' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Eye
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'filters' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Filters
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'folder' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Folder
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'garbage' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Garbage
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'heart' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Heart
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'home' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Home
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'image' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Image
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'info' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Info
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'm-glass' } ) %>
                </div>
                <span class="body-light-gray-text">
                    M glass
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'medal' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Medal
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'menu' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Menu
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'message' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Message
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'micro' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Micro
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'medal' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Medal
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'more-less' } ) %>
                </div>
                <span class="body-light-gray-text">
                    More less
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'more' } ) %>
                </div>
                <span class="body-light-gray-text">
                    More
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'museum' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Museum
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'next' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Next
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'less' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Less
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'legal' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Legal
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'links' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Links
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'lock' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Lock
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'logout' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Logout
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'open' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Open
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'place' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Place
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'purse' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Purse
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'rain' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Rain
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'saving' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Saving
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'secure' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Secure
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'settings' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Settings
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'share' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Share
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'shopping' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Shopping
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'sun' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Sun
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'transfer' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Transfer
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'transfer-destin' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Transfer destin
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'upgrade' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Upgrade
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'view-code' } ) %>
                </div>
                <span class="body-light-gray-text">
                    View code
                </span>
            </div>

        </div>

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Concept icons filled</h3>
        <div class="d-grid grid-min-4 grid-md-min-8 grid-lg-min-12 justify-content-between row-gap-48 space-bottom-88">
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'call', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Call filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'cart', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Cart filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'check', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Check filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'clock', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Clock filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'error', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Error filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'eye', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Eye filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'folder', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Folder filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'garbage', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Garbage filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'heart', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Heart filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'home', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Home filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'image', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Image filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'info', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Info filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'message', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Message filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'micro', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Micro filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'legal', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Legal filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'lock', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Lock filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'place', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Place filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'rain', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Rain filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'saving', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Saving filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'secure', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Secure filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'settings', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Settings filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'shopping', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Shopping filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'sun', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Sun filled
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'upgrade', variant:'filled' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Upgrade filled
                </span>
            </div>
        </div>

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Numbers</h3>
        <div class="d-grid grid-min-4 grid-md-min-8 grid-lg-min-12 justify-content-between row-gap-48 space-bottom-88">

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-1' } ) %>
                </div>
                <span class="body-light-gray-text">
                    One
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-2' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Two
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-3' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Three
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-4' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Four
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-5' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Five
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-6' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Six
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-7' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Seven
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-8' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Eight
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-9' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Nine
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-10' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Ten
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-11' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Eleven
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-12' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Twelve
                </span>
            </div>

        </div>

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Social</h3>
        <div class="d-grid grid-min-4 grid-md-min-8 grid-lg-min-12 justify-content-between row-gap-48 space-bottom-88">

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'behance' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Behance
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'linkedin' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Linkedin
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'pinterest' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Pinterest
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'twitter' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Twitter
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'whatsapp' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Whatsapp
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'youtube' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Youtube
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'contact' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Contact
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'star' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Star
                </span>
            </div>

        </div>

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Circle icons</h3>
        <div class="d-grid grid-2 grid-md-4 grid-lg-6 justify-content-between row-gap-48 space-bottom-88">
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: '1', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    1 Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'awards', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Awards Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'check', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Check Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'component', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Component Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'fonts', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Fonts Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'image', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Image Circle
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'interaction', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Interaction Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'legal', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Legal Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'museum', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Museum Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'paint', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Paint Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'pencil', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Pencil Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'people', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    People Circle
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'premium', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Premium Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'purse', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Purse Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'responsive', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Responsive Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'saving', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Saving Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'secure', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Secure Circle
                </span>
            </div>
            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 6rem">
                    <%- include(`${component}/icons/icon`, { icon: 'transfer', variant:'circle' } ) %>
                </div>
                <span class="body-light-gray-text">
                    Transfer Circle
                </span>
            </div>

        </div>

    </div>

</section>
