<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">

    <div class="container">

        <h3 class="space-bottom-88">Concept icons</h3>
        <div class="d-grid grid-12 row-gap-48 space-bottom-88">

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'avatar' } ) %>
                </div>
                <span>
                    Avatar
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'award' } ) %>
                </div>
                <span>
                    Award
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'blade' } ) %>
                </div>
                <span>
                    Blade
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'back' } ) %>
                </div>
                <span>
                    Back
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'bullets' } ) %>
                </div>
                <span>
                    Bullets
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'calendar' } ) %>
                </div>
                <span>
                    Calendar
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'call' } ) %>
                </div>
                <span>
                    Call
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'cart' } ) %>
                </div>
                <span>
                    Cart
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'charts' } ) %>
                </div>
                <span>
                    Charts
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'check' } ) %>
                </div>
                <span>
                    Check
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'clock' } ) %>
                </div>
                <span>
                    Clock
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'close' } ) %>
                </div>
                <span>
                    Close
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'close-blade' } ) %>
                </div>
                <span>
                    Close blade
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-back' } ) %>
                </div>
                <span>
                    Dart back
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-next' } ) %>
                </div>
                <span>
                    Dart next
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'docu' } ) %>
                </div>
                <span>
                    Docu
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'done' } ) %>
                </div>
                <span>
                    Done
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'down' } ) %>
                </div>
                <span>
                    Down
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'download' } ) %>
                </div>
                <span>
                    Download
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'download-docu' } ) %>
                </div>
                <span>
                    Download docu
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'edit' } ) %>
                </div>
                <span>
                    Edit
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'edit-content' } ) %>
                </div>
                <span>
                    Edit content
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'error' } ) %>
                </div>
                <span>
                    Error
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'eye' } ) %>
                </div>
                <span>
                    Eye
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'filters' } ) %>
                </div>
                <span>
                    Filters
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'folder' } ) %>
                </div>
                <span>
                    Folder
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'garbage' } ) %>
                </div>
                <span>
                    Garbage
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'heart' } ) %>
                </div>
                <span>
                    Heart
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'home' } ) %>
                </div>
                <span>
                    Home
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'image' } ) %>
                </div>
                <span>
                    Image
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'info' } ) %>
                </div>
                <span>
                    Info
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'm-glass' } ) %>
                </div>
                <span>
                    M glass
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'medal' } ) %>
                </div>
                <span>
                    Medal
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'menu' } ) %>
                </div>
                <span>
                    Menu
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'message' } ) %>
                </div>
                <span>
                    Message
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'micro' } ) %>
                </div>
                <span>
                    Micro
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'medal' } ) %>
                </div>
                <span>
                    Medal
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'more-less' } ) %>
                </div>
                <span>
                    More less
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'more' } ) %>
                </div>
                <span>
                    More
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'museum' } ) %>
                </div>
                <span>
                    Museum
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'next' } ) %>
                </div>
                <span>
                    Next
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'less' } ) %>
                </div>
                <span>
                    Less
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'legal' } ) %>
                </div>
                <span>
                    Legal
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'links' } ) %>
                </div>
                <span>
                    Links
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'lock' } ) %>
                </div>
                <span>
                    Lock
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'logout' } ) %>
                </div>
                <span>
                    Logout
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'open' } ) %>
                </div>
                <span>
                    Open
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'place' } ) %>
                </div>
                <span>
                    Place
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'purse' } ) %>
                </div>
                <span>
                    Purse
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'rain' } ) %>
                </div>
                <span>
                    Rain
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'saving' } ) %>
                </div>
                <span>
                    Saving
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'secure' } ) %>
                </div>
                <span>
                    Secure
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'settings' } ) %>
                </div>
                <span>
                    Settings
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'share' } ) %>
                </div>
                <span>
                    Share
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'shopping' } ) %>
                </div>
                <span>
                    Shopping
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'sun' } ) %>
                </div>
                <span>
                    Sun
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'transfer' } ) %>
                </div>
                <span>
                    Transfer
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'transfer-destin' } ) %>
                </div>
                <span>
                    Transfer destin
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'upgrade' } ) %>
                </div>
                <span>
                    Upgrade
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'view-code' } ) %>
                </div>
                <span>
                    View code
                </span>
            </div>

        </div>

        <h3 class="space-bottom-88">Numbers</h3>
        <div class="d-grid grid-12 row-gap-48 space-bottom-88">

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-1' } ) %>
                </div>
                <span>
                    One
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-2' } ) %>
                </div>
                <span>
                    Two
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-3' } ) %>
                </div>
                <span>
                    Three
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-4' } ) %>
                </div>
                <span>
                    Four
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-5' } ) %>
                </div>
                <span>
                    Five
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-6' } ) %>
                </div>
                <span>
                    Six
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-7' } ) %>
                </div>
                <span>
                    Seven
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-8' } ) %>
                </div>
                <span>
                    Eight
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-9' } ) %>
                </div>
                <span>
                    Nine
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-10' } ) %>
                </div>
                <span>
                    Ten
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-11' } ) %>
                </div>
                <span>
                    Eleven
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'n-12' } ) %>
                </div>
                <span>
                    Twelve
                </span>
            </div>

        </div>

        <h3 class="space-bottom-88">Social</h3>
        <div class="d-grid grid-12 row-gap-48">

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'behance' } ) %>
                </div>
                <span>
                    Behance
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'linkedin' } ) %>
                </div>
                <span>
                    Linkedin
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'pinterest' } ) %>
                </div>
                <span>
                    Pinterest
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'twitter' } ) %>
                </div>
                <span>
                    Twitter
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'whatsapp' } ) %>
                </div>
                <span>
                    Whatsapp
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'youtube' } ) %>
                </div>
                <span>
                    Youtube
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'contact' } ) %>
                </div>
                <span>
                    Contact
                </span>
            </div>

            <div class="space-y-24">
                <div class="icon-wrapper" style="font-size: 2rem">
                    <%- include(`${component}/icons/icon`, { icon: 'star' } ) %>
                </div>
                <span>
                    Star
                </span>
            </div>

        </div>
    </div>

</section>
