<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">

    <div class="container">
        <header>
            <h3 class="space-bottom:88">Concept icons</h3>
        </header>
        <div class="demo-grid-size--96 demo-boxes">

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'avatar' } ) %>
                </div>
                <div class="demo-label">
                    Avatar
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'award' } ) %>
                </div>
                <div class="demo-label">
                    Award
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'blade' } ) %>
                </div>
                <div class="demo-label">
                    Blade
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'back' } ) %>
                </div>
                <div class="demo-label">
                    Back
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'bullets' } ) %>
                </div>
                <div class="demo-label">
                    Bullets
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'calendar' } ) %>
                </div>
                <div class="demo-label">
                    Calendar
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'call' } ) %>
                </div>
                <div class="demo-label">
                    Call
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'cart' } ) %>
                </div>
                <div class="demo-label">
                    Cart
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'charts' } ) %>
                </div>
                <div class="demo-label">
                    Charts
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'check' } ) %>
                </div>
                <div class="demo-label">
                    Check
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'clock' } ) %>
                </div>
                <div class="demo-label">
                    Clock
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'close' } ) %>
                </div>
                <div class="demo-label">
                    Close
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'close-blade' } ) %>
                </div>
                <div class="demo-label">
                    Close blade
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-back' } ) %>
                </div>
                <div class="demo-label">
                    Dart back
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-next' } ) %>
                </div>
                <div class="demo-label">
                    Dart next
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'docu' } ) %>
                </div>
                <div class="demo-label">
                    Docu
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'done' } ) %>
                </div>
                <div class="demo-label">
                    Done
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'down' } ) %>
                </div>
                <div class="demo-label">
                    Down
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'download' } ) %>
                </div>
                <div class="demo-label">
                    Download
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'donwload-docu' } ) %>
                </div>
                <div class="demo-label">
                    Donwload docu
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'edit' } ) %>
                </div>
                <div class="demo-label">
                    Edit
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'edit-content' } ) %>
                </div>
                <div class="demo-label">
                    Edit content
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'error' } ) %>
                </div>
                <div class="demo-label">
                    Error
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'eye' } ) %>
                </div>
                <div class="demo-label">
                    Eye
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'filters' } ) %>
                </div>
                <div class="demo-label">
                    Filters
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'folder' } ) %>
                </div>
                <div class="demo-label">
                    Folder
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'garbage' } ) %>
                </div>
                <div class="demo-label">
                    Garbage
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'heart' } ) %>
                </div>
                <div class="demo-label">
                    Heart
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'home' } ) %>
                </div>
                <div class="demo-label">
                    Home
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'image' } ) %>
                </div>
                <div class="demo-label">
                    Image
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'info' } ) %>
                </div>
                <div class="demo-label">
                    Info
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'm-glass' } ) %>
                </div>
                <div class="demo-label">
                    M glass
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'medal' } ) %>
                </div>
                <div class="demo-label">
                    Medal
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'menu' } ) %>
                </div>
                <div class="demo-label">
                    Menu
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'message' } ) %>
                </div>
                <div class="demo-label">
                    Message
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'micro' } ) %>
                </div>
                <div class="demo-label">
                    Micro
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'medal' } ) %>
                </div>
                <div class="demo-label">
                    Medal
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'more-less' } ) %>
                </div>
                <div class="demo-label">
                    More less
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'more' } ) %>
                </div>
                <div class="demo-label">
                    More
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'museum' } ) %>
                </div>
                <div class="demo-label">
                    Museum
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'next' } ) %>
                </div>
                <div class="demo-label">
                    Next
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'less' } ) %>
                </div>
                <div class="demo-label">
                    Less
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'legal' } ) %>
                </div>
                <div class="demo-label">
                    Legal
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'links' } ) %>
                </div>
                <div class="demo-label">
                    Links
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'lock' } ) %>
                </div>
                <div class="demo-label">
                    Lock
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'logout' } ) %>
                </div>
                <div class="demo-label">
                    Logout
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'open' } ) %>
                </div>
                <div class="demo-label">
                    Open
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'place' } ) %>
                </div>
                <div class="demo-label">
                    Place
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'purse' } ) %>
                </div>
                <div class="demo-label">
                    Purse
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'rain' } ) %>
                </div>
                <div class="demo-label">
                    Rain
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'saving' } ) %>
                </div>
                <div class="demo-label">
                    Saving
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'secure' } ) %>
                </div>
                <div class="demo-label">
                    Secure
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'settings' } ) %>
                </div>
                <div class="demo-label">
                    Settings
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'share' } ) %>
                </div>
                <div class="demo-label">
                    Share
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'shopping' } ) %>
                </div>
                <div class="demo-label">
                    Shopping
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'sun' } ) %>
                </div>
                <div class="demo-label">
                    Sun
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'transfer' } ) %>
                </div>
                <div class="demo-label">
                    Transfer
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'transfer-destin' } ) %>
                </div>
                <div class="demo-label">
                    Transfer destin
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'upgrade' } ) %>
                </div>
                <div class="demo-label">
                    Upgrade
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'view-code' } ) %>
                </div>
                <div class="demo-label">
                    View code
                </div>
            </div>

        </div>
    </div>



    <div class="container">
        <header>
            <h3 class="space-top:88 space-bottom:88">Numbers</h3>
        </header>
        <div class="demo-grid-size--96 demo-boxes">

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-1' } ) %>
                </div>
                <div class="demo-label">
                    One
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-2' } ) %>
                </div>
                <div class="demo-label">
                    Two
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-3' } ) %>
                </div>
                <div class="demo-label">
                    Three
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-4' } ) %>
                </div>
                <div class="demo-label">
                    Four
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-5' } ) %>
                </div>
                <div class="demo-label">
                    Five
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-6' } ) %>
                </div>
                <div class="demo-label">
                    Six
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-7' } ) %>
                </div>
                <div class="demo-label">
                    Seven
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-8' } ) %>
                </div>
                <div class="demo-label">
                    Eight
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-9' } ) %>
                </div>
                <div class="demo-label">
                    Nine
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-10' } ) %>
                </div>
                <div class="demo-label">
                    Ten
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-11' } ) %>
                </div>
                <div class="demo-label">
                    Eleven
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'n-12' } ) %>
                </div>
                <div class="demo-label">
                    Twelve
                </div>
            </div>

        </div>
    </div>



    <div class="container">
        <header>
            <h3 class="space-top:88 space-bottom:88">Social</h3>
        </header>
        <div class="demo-grid-size--96 demo-boxes">

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'behance' } ) %>
                </div>
                <div class="demo-label">
                    Behance
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'linkedin' } ) %>
                </div>
                <div class="demo-label">
                    Linkedin
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'pinterest' } ) %>
                </div>
                <div class="demo-label">
                    Pinterest
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'twitter' } ) %>
                </div>
                <div class="demo-label">
                    Twitter
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'whatsapp' } ) %>
                </div>
                <div class="demo-label">
                    Whatsapp
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'youtube' } ) %>
                </div>
                <div class="demo-label">
                    Youtube
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'contact' } ) %>
                </div>
                <div class="demo-label">
                    Contact
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/icons/icon`, { icon: 'star' } ) %>
                </div>
                <div class="demo-label">
                    Star
                </div>
            </div>

        </div>
    </div>

</section>
