<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">

    <div class="container">
        <header>
            <h3 class="space-bottom:88">Concept icons</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'avatar' } ) %>
                <span class="label">
                    Avatar
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'award' } ) %>
                <span class="label">
                    Award
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'blade' } ) %>
                <span class="label">
                    Blade
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'back' } ) %>
                <span class="label">
                    Back
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'bullets' } ) %>
                <span class="label">
                    Bullets
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'calendar' } ) %>
                <span class="label">
                    Calendar
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'call' } ) %>
                <span class="label">
                    Call
                </span>
            </div>

        </div>
    </div>



    <div class="container">
        <header>
            <h3 class="space-top:88 space-bottom:88">Numbers</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-1' } ) %>
                <span class="label">
                    One
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-2' } ) %>
                <span class="label">
                    Two
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-3' } ) %>
                <span class="label">
                    Three
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-4' } ) %>
                <span class="label">
                    Four
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-5' } ) %>
                <span class="label">
                    Five
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-6' } ) %>
                <span class="label">
                    Six
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-7' } ) %>
                <span class="label">
                    Seven
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-8' } ) %>
                <span class="label">
                    Eight
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-9' } ) %>
                <span class="label">
                    Nine
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-10' } ) %>
                <span class="label">
                    Ten
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-11' } ) %>
                <span class="label">
                    Eleven
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-12' } ) %>
                <span class="label">
                    Twelve
                </span>
            </div>

        </div>
    </div>



    <div class="container">
        <header>
            <h3 class="space-top:88 space-bottom:88">Social</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">


            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'behance' } ) %>
                <span class="label">
                    Behance
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'linkedin' } ) %>
                <span class="label">
                    Linkedin
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'pinterest' } ) %>
                <span class="label">
                    Pinterest
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'twitter' } ) %>
                <span class="label">
                    Twitter
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'whatsapp' } ) %>
                <span class="label">
                    Whatsapp
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'youtube' } ) %>
                <span class="label">
                    Youtube
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'contact' } ) %>
                <span class="label">
                    Contact
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'star' } ) %>
                <span class="label">
                    Star
                </span>
            </div>
        </div>
    </div>



</section>
