<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">

    <div class="container">
        <header>
            <h3 class="space-bottom:88">Concept icons</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'avatar' } ) %>
                <span class="label">
                    Avatar
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'award' } ) %>
                <span class="label">
                    Award
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'blade' } ) %>
                <span class="label">
                    Blade
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'back-mini' } ) %>
                <span class="label">
                    Back<br>(back-mini)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'bullets' } ) %>
                <span class="label">
                    Bullets
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'calendar' } ) %>
                <span class="label">
                    Calendar
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'call' } ) %>
                <span class="label">
                    Call
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'cart' } ) %>
                <span class="label">
                    Cart
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'chart' } ) %>
                <span class="label">
                    Charts<br>(chart)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'check' } ) %>
                <span class="label">
                    Check
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'clock' } ) %>
                <span class="label">
                    Clock
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'close-mini' } ) %>
                <span class="label">
                    Close<br>(mini)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'close-blade' } ) %>
                <span class="label">
                    Close blade
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'dart-back' } ) %>
                <span class="label">
                    Dart back
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'dart-next' } ) %>
                <span class="label">
                    Dart next
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'document' } ) %>
                <span class="label">
                    Docu<br>(document)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'done' } ) %>
                <span class="label">
                    Done
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'down' } ) %>
                <span class="label">
                    Down
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'download' } ) %>
                <span class="label">
                    Download
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'document-load' } ) %>
                <span class="label">
                    Download<br>(document-load)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'edit' } ) %>
                <span class="label">
                    Edit
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'edit-content' } ) %>
                <span class="label">
                    Edit content
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'error' } ) %>
                <span class="label">
                    Error
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'eye' } ) %>
                <span class="label">
                    Eye
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'filters' } ) %>
                <span class="label">
                    Filters
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'folder' } ) %>
                <span class="label">
                    Folders<br>(folder)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'garbage' } ) %>
                <span class="label">
                    Garbage
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'hear' } ) %>
                <span class="label">
                    Heart<br>(hear)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'home' } ) %>
                <span class="label">
                    Home
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'image' } ) %>
                <span class="label">
                    Image
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'info' } ) %>
                <span class="label">
                    Info
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'magnifying-glass' } ) %>
                <span class="label">
                    M glass<br>(magnifying-glass)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'medal' } ) %>
                <span class="label">
                    Medal
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'menu' } ) %>
                <span class="label">
                    Menu
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'message' } ) %>
                <span class="label">
                    Message
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'microphone' } ) %>
                <span class="label">
                    Micro<br>(microphone)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'medal' } ) %>
                <span class="label">
                    Medal
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'more-less' } ) %>
                <span class="label">
                    More less
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'more' } ) %>
                <span class="label">
                    More
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'museum' } ) %>
                <span class="label">
                    Museum
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'next-mini' } ) %>
                <span class="label">
                    Next<br>(next-mini)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'less' } ) %>
                <span class="label">
                    Less
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'legal' } ) %>
                <span class="label">
                    Legal
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'links' } ) %>
                <span class="label">
                    Links
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'lock' } ) %>
                <span class="label">
                    Lock
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'logout' } ) %>
                <span class="label">
                    Logout
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'open-mini' } ) %>
                <span class="label">
                    Open<br>(open-mini)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'place-holder' } ) %>
                <span class="label">
                    Place<br>(place-holder)
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'purse' } ) %>
                <span class="label">
                    Purse
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'rain' } ) %>
                <span class="label">
                    Rain
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'saving' } ) %>
                <span class="label">
                    Saving
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'secure' } ) %>
                <span class="label">
                    Secure
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'settings' } ) %>
                <span class="label">
                    Settings
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'share' } ) %>
                <span class="label">
                    Share
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'shopping' } ) %>
                <span class="label">
                    Shopping
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'sun' } ) %>
                <span class="label">
                    Sun
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'transfer' } ) %>
                <span class="label">
                    Transfer
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'transfer-destin' } ) %>
                <span class="label">
                    Transfer destin
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'upgrade' } ) %>
                <span class="label">
                    Upgrade
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'view-code' } ) %>
                <span class="label">
                    View code
                </span>
            </div>

        </div>
    </div>



    <div class="container">
        <header>
            <h3 class="space-top:88 space-bottom:88">Numbers</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-1' } ) %>
                <span class="label">
                    One
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-2' } ) %>
                <span class="label">
                    Two
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-3' } ) %>
                <span class="label">
                    Three
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-4' } ) %>
                <span class="label">
                    Four
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-5' } ) %>
                <span class="label">
                    Five
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-6' } ) %>
                <span class="label">
                    Six
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-7' } ) %>
                <span class="label">
                    Seven
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-8' } ) %>
                <span class="label">
                    Eight
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-9' } ) %>
                <span class="label">
                    Nine
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-10' } ) %>
                <span class="label">
                    Ten
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-11' } ) %>
                <span class="label">
                    Eleven
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'n-12' } ) %>
                <span class="label">
                    Twelve
                </span>
            </div>

        </div>
    </div>



    <div class="container">
        <header>
            <h3 class="space-top:88 space-bottom:88">Social</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">


            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'behance' } ) %>
                <span class="label">
                    Behance
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'linkedin' } ) %>
                <span class="label">
                    Linkedin
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'pinterest' } ) %>
                <span class="label">
                    Pinterest
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'twitter' } ) %>
                <span class="label">
                    Twitter
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'whatsapp' } ) %>
                <span class="label">
                    Whatsapp
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'youtube' } ) %>
                <span class="label">
                    Youtube
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'contact' } ) %>
                <span class="label">
                    Contact
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/icons/icons`, { icon: 'star' } ) %>
                <span class="label">
                    Star
                </span>
            </div>
        </div>
    </div>



</section>
