<%- include(`${view}/quick_start/layout`) %>
<%- include(`${view}/quick_start/darkened-layout`) %>


<%- contentFor('body') %>
<%
const navbarEntries = [
    {
        label: 'Demos'
    },
    {
        label: 'Pages'
    },
    {
        label: 'Modules',
        key: 'modules'
    },
    {
        label: 'Components'
    },
    {
        label: 'Transitions'
    }
]

const navbarStandard = {
    items: navbarEntries,
    canSearch: true,
    justify: 'right',
    buttons: [
        {
            label: 'Access',
            icon: 'avatar',
            variant: 'subtle'
        }
    ]
}
const navbarFullRight = {
    items: navbarEntries,
    size: 'full',
    justify: 'right',
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
const navbarFullCenter = {
    items: navbarEntries,
    canSearch: true,
    size: 'full',
    buttons: [
        {
            label: 'Access',
            icon: 'avatar',
            variant: 'subtle'
        }
    ]
}
const navbarShop = {
    items: navbarEntries,
    canSearch: true,
    size: 'full',
    buttons: [
        {
            label: 'Access',
            icon: 'avatar',
            variant: 'subtle'
        },
        {
            label: 'Cart',
            icon: 'shopping',
            variant: 'subtle'
        }
    ]
}

const navbarFullRightSticky = {
    ...navbarFullRight,
    isNarrow: true
}
const navbarFullCenterSticky = {
    ...navbarFullCenter,
    isNarrow: true
}

const navbarStandardTransparent = {
    ...navbarStandard,
    hasBackground: false
}
const navbarFullRightTransparent = {
    ...navbarFullRight,
    hasBackground: false
}
const navbarFullCenterTransparent = {
    ...navbarFullCenter,
    hasBackground: false
}
const navbarShopTransparent = {
    ...navbarShop,
    hasBackground: false
}

const navbarStandardTransparentDark = {
    ...navbarStandard,
    buttons: navbarStandard.buttons.map(button => ({
        ...button,
        variant: 'tertiary'
    })),
    hasBackground: false
}
const navbarFullRightTransparentDark = {
    ...navbarFullRight,
    hasBackground: false
}
const navbarFullCenterTransparentDark = {
    ...navbarFullCenter,
    buttons: navbarFullCenter.buttons.map(button => ({
        ...button,
        variant: 'tertiary'
    })),
    hasBackground: false
}
const navbarShopTransparentDark = {
    ...navbarShop,
    buttons: navbarShop.buttons.map(button => ({
        ...button,
        variant: 'tertiary'
    })),
    hasBackground: false
}
%>

<div class="section darkened px-0">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Header menus' }) %>
    </div>
    <div class="headers-wrapper space-y-32 space-y-lg-40">
        <div class="wrapper-standard space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarStandard }) %>
            <div class="container">
                <span class="body-light-gray-text">Header standard</span>
            </div>
        </div>
        <div class="wrapper-full-right space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullRight }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen right aligned</span>
            </div>
        </div>
        <div class="wrapper-full-center space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullCenter }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen center aligned</span>
            </div>
        </div>
        <div class="wrapper-shop space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarShop }) %>
            <div class="container">
                <span class="body-light-gray-text">Header shop</span>
            </div>
        </div>
    </div>
</div>

<div class="section darkened px-0 pt-0">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Header sticky' }) %>
    </div>
    <div class="headers-wrapper space-y-32 space-y-lg-40">
        <div class="wrapper-full-right-sticky space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullRightSticky }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen right aligned sticky</span>
            </div>
        </div>
        <div class="wrapper-full-center-sticky space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullCenterSticky }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen center aligned sticky</span>
            </div>
        </div>
    </div>
</div>

<div class="section darkened px-0 pt-0">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Header menus transparent' }) %>
    </div>
    <div class="headers-wrapper space-y-32 space-y-lg-40">
        <div class="wrapper-standard space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarStandardTransparent }) %>
            <div class="container">
                <span class="body-light-gray-text">Header standard transparent</span>
            </div>
        </div>
        <div class="wrapper-full-right space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullRightTransparent }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen right aligned transparent</span>
            </div>
        </div>
        <div class="wrapper-full-center space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullCenterTransparent }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen center aligned transparent</span>
            </div>
        </div>
        <div class="wrapper-shop space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarShopTransparent }) %>
            <div class="container">
                <span class="body-light-gray-text">Header shop transparent</span>
            </div>
        </div>
    </div>
</div>

<div data-b-system-theme="dark" class="section darkened px-0">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Header menus dark' }) %>
    </div>
    <div class="headers-wrapper space-y-32 space-y-lg-40">
        <div class="wrapper-standard space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarStandard, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header standard</span>
            </div>
        </div>
        <div class="wrapper-full-right space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullRight, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen right aligned</span>
            </div>
        </div>
        <div class="wrapper-full-center space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullCenter, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen center aligned</span>
            </div>
        </div>
        <div class="wrapper-shop space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarShop, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header shop</span>
            </div>
        </div>
    </div>
</div>

<div data-b-system-theme="dark" class="section darkened px-0 pt-0">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Header sticky dark' }) %>
    </div>
    <div class="headers-wrapper space-y-32 space-y-lg-40">
        <div class="wrapper-full-right-sticky space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullRightSticky, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen right aligned sticky</span>
            </div>
        </div>
        <div class="wrapper-full-center-sticky space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullCenterSticky, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen center aligned sticky</span>
            </div>
        </div>
    </div>
</div>

<div data-b-system-theme="dark" class="section darkened px-0 pt-0 ">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Header menus transparent dark' }) %>
    </div>
    <div class="headers-wrapper space-y-32 space-y-lg-40">
        <div class="wrapper-standard space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarStandardTransparentDark, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header standard transparent</span>
            </div>
        </div>
        <div class="wrapper-full-right space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullRightTransparentDark, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen right aligned transparent</span>
            </div>
        </div>
        <div class="wrapper-full-center space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarFullCenterTransparentDark, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header fullscreen center aligned transparent</span>
            </div>
        </div>
        <div class="wrapper-shop space-y-24 space-y-lg-32">
            <%- include(`${component}/header/header`, { ...navbarShopTransparentDark, logo: 'light' }) %>
            <div class="container">
                <span class="body-light-gray-text">Header shop transparent</span>
            </div>
        </div>
    </div>
</div>
