<%
 const props = {
    title,
    services,
    isDarkened,
    isDark,
    haveBorder
}

const styles = {
        service: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.isDark ? 'section-divider' : '')
            }
        }
    }

%>

<div class="module <%- styles.service.border -%> position-relative overflow-hidden space-y-48 space-y-md-56 space-y-xl-72 space-y-xxl-88 <%- styles.service.darkened -%>" <%- styles.service.dark -%>>
    <h3 class="contact-title text-center"><%- props.title -%></h3>
    <!-- Carousel Desktop -->
    <div class="services-wrapper services-wrapper-xl d-none d-xl-block my-0">
        <%- include( `${component}/swiper/start`,
        {
            target: 'service-xl',
            effect: 'centered',
            items: 2
        }
        ) %>

        <% props.services.forEach((slide)=> { %>
            <div class="swiper-slide ">
                <%- include(`${module}/service/serviceSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Carousel Desktop -->
    
    <!-- Carousel Tablet -->
    <div class="services-wrapper services-wrapper-md d-none d-md-block d-xl-none my-0">
        <%- include( `${component}/swiper/start`,
        {
            target: 'service-md',
            effect: 'centered',
            items: 1
        }
        ) %>

        <% props.services.forEach((slide)=> { %>
            <div class="swiper-slide ">
                <%- include(`${module}/service/serviceSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Carousel Tablet -->

    <!-- Carousel Mobile -->
    <div class="services-wrapper services-wrapper-sm d-block d-md-none my-0">
        <%- include( `${component}/swiper/start`,
        {
            target: 'service',
            effect: 'centered',
            items: 1
        }
        ) %>

        <% props.services.forEach((slide)=> { %>
            <div class="swiper-slide ">
                <%- include(`${module}/service/serviceSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Carousel Mobile -->

    <div class="pagination d-none d-sm-flex d-xl-none mx-auto my-0 col-min"></div>
</div>