<%
 const props = {
    title,
    services,
    isDarkened,
    isDark
}

const styles = {
        service: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            }
        }
    }

%>

<section class="services section position-relative overflow-hidden space-y-48 space-y-md-56 space-y-xl-72 space-y-xxl-96 <%- styles.service.darkened -%>" <%- styles.service.dark -%>>
    <h3 class="contact-title text-center"><%- props.title -%></h3>
    <div class="services-wrapper my-0">
        <%- include( `${component}/swiper/start`,
        {
            target: 'service',
            effect: 'centered',
            items: 2
        }
        ) %>

        <% props.services.forEach((slide)=> { %>
            <div class="swiper-slide ">
                <%- include(`${module}/service/serviceSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <div class="pagination d-none d-sm-flex d-xl-none mx-auto my-0 col-min"></div>
</section>