<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    title,
    services,
    isDarkened,
    isDark,
    hasBorder,
    target: typeof target !== 'undefined' ? target : 'service',
}

const styles = {
    service: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        },
        dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
        },
        border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
        }
    }
}
%>

<div class="module <%- styles.service.border -%> position-relative overflow-hidden space-y-48 space-y-md-56 space-y-xl-72 <%- styles.service.darkened -%>" id="<%- props.id -%>" <%- styles.service.dark -%>>
    <h3 class="contact-title text-center"><%- props.title -%></h3>
    <!-- Carousel Desktop -->
    <div class="services-wrapper services-wrapper my-0">
        <%- include( `${component}/swiper/start`,
        {
            target: props.target,
            effect: 'centered',
            items: {
                xs: 1,
                md: 2,
            },
            loop: true
        }
        ) %>

        <% props.services.forEach((slide)=> { %>
            <div class="swiper-slide">
                <%- include(`${module}/service/serviceSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Carousel Desktop -->
</div>