<%
    const props = {
        type: typeof type !== 'undefined' ? type : 'checkbox',
        id: typeof id !== 'undefined' ? id : null,
        label: typeof label !== 'undefined' ? label : null,
    }

%>

<div class="form-check position-relative h-100">
    <% if(props.type == 'checkbox') { %>
        <input type="<%- props.type -%>" class="input-check form-check-input input space-right-8" id="<%- props.id -%>">
        <%- include(`${component}/icons/icon`, { icon: 'done' } ) %>
        <label class="form-check-label p-0" for="<%- props.id -%>"><%- props.label -%></label>
    <% } %>

    <% if(props.type == 'radio') { %>
        <input type="<%- props.type -%>" class="input-radio form-check-input input space-right-8" id="<%- props.id -%>">
        <label class="label-radio form-check-label p-0" for="<%- props.id -%>"><%- props.label -%></label>
    <% } %>
</div>
