<%

    const COMPONENTS_ENUM = {
        text: 'text',
        password: 'password',
        checkbox: 'checkbox',
        radio: 'radio',
        info: 'info',
        link: 'link'
    }

    const props = {
        componentType: typeof componentType !== 'undefined' ? componentType : null,
        name: typeof name !== 'undefined' ? name : 'Please enter input name',
        id: typeof id !== 'undefined' ? id : null,
        label: typeof label !== 'undefined' ? label : null,
        text: typeof text !== 'undefined' ? text : null,
        icon: typeof icon !== 'undefined' ? icon : null,
        link: typeof link !== 'undefined' ? link : null,
    }

    function validate(props) {
        if (!Object.values(COMPONENTS_ENUM)
                .includes(props.componentType)) {
            throw new Error(`The variant ${props.componentType} isn't allowed`)
        }
    }
    validate(props)
%>

<div class="form-group">
    <% switch (props.componentType) {
        case 'text': %>
            <input type="<%- props.componentType -%>" class="input-basic form-control" placeholder="<%- props.name -%>">
           <% break;

        case 'password': %>
            <input type="<%- props.componentType -%>" class="input-hiddeable form-control" placeholder="<%- props.name -%>">
            <% break;

        case 'checkbox': %>
            <input type="<%- props.componentType -%>" class="input-check form-check-input space-right-8" id="<%- props.id -%>">
            <label class="form-check-label" for="<%- props.id -%>"><%- props.label -%></label>
            <% break;

        case 'radio': %>
            <input type="<%- props.componentType -%>" class="input-radio form-check-input space-right-8" id="<%- props.id -%>">
            <label class="form-check-label" for="<%- props.id -%>"><%- props.label -%></label>
            <% break; 
    }
    
    if(props.componentType == 'info') { %>
    <div class="d-flex align-items-center space-x-8">
        <% if(props.componentType == 'info') { %>
            <%- include(`${component}/icons/icon`, { icon: props.icon } ) -%>
            <p class="body-light-gray-text"><%- props.text -%></p>
        <% } %>
    </div>
    <% } %>
</div>