<%
    const COMPONENTS_ENUM = {
        text: 'text',
        password: 'password',
        checkbox: 'checkbox',
        radio: 'radio',
        info: 'info',
        infoLink: 'link'
    }

    const props = {
        componentType: typeof componentType !== 'undefined' ? componentType : null,
        name: typeof name !== 'undefined' ? name : 'Please enter input name',
        id: typeof id !== 'undefined' ? id : null,
        label: typeof label !== 'undefined' ? label : null,
        text: typeof text !== 'undefined' ? text : null,
        icon: typeof icon !== 'undefined' ? icon : null,
        linkHref: typeof linkHref !== 'undefined' ? linkHref : '#',
        linkLabel: typeof linkLabel !== 'undefined' ? linkLabel : null,
        linkIcon: typeof linkIcon !== 'undefined' ? linkIcon : null,
        linkPosition: typeof linkPosition !== 'undefined' ? linkPosition : 'before',
    }

    function validate(props) {
        if(!Object.values(COMPONENTS_ENUM)
            .includes(props.componentType)) {
            throw new Error(`The variant ${props.componentType} isn't allowed`)
        }
    }
    validate(props)

%>

<div class="form-group position-relative">
    <% switch (props.componentType) {
        case 'text': %>
            <input type="<%- props.componentType -%>" class="input-basic form-control input" placeholder="<%- props.name -%>">
           <% break;

        case 'password': %>
            <input type="<%- props.componentType -%>" class="input-hiddeable form-control input" placeholder="<%- props.name -%>">
            <% break;

        case 'checkbox': %>
            <input type="<%- props.componentType -%>" class="input-check form-check-input input space-right-8" id="<%- props.id -%>">
            <%- include(`${component}/icons/icon`, { icon: 'done' } ) %>
            <label class="form-check-label" for="<%- props.id -%>"><%- props.label -%></label>
            <% break;

        case 'radio': %>
            <input type="<%- props.componentType -%>" class="input-radio form-check-input input space-right-8" id="<%- props.id -%>">
            <label class="label-radio form-check-label" for="<%- props.id -%>"><%- props.label -%></label>
            <% break; 
    } %>
</div>