<%
    const COMPONENTS_ENUM = {
        text: 'text',
        password: 'password',
        checkbox: 'checkbox',
        radio: 'radio',
        info: 'info',
        infoLink: 'link'
    }

    const props = {
        type: typeof type !== 'undefined' ? type : 'text',
        name: typeof name !== 'undefined' ? name : 'Please enter input name',
        id: typeof id !== 'undefined' ? id : null,
        label: typeof label !== 'undefined' ? label : null,
    }

    function validate(props) {
        if(!Object.values(COMPONENTS_ENUM)
            .includes(props.type)) {
            throw new Error(`The variant ${props.type} isn't allowed`)
        }
    }
    validate(props)

%>

<div class="form-group position-relative">
    <% switch (props.type) {
        case 'text': %>
            <input type="<%- props.type -%>" class="input-basic form-control input" placeholder=" ">
            <label class="form-placeholder"><%- props.name -%></label>
           <% break;

        case 'password': %>
            <input type="<%- props.type -%>" class="input-hideable form-control input" placeholder=" ">
            <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: 'eye'}) %>
            <label class="form-placeholder"><%- props.name -%></label>
            <% break;

        case 'checkbox': %>
            <input type="<%- props.type -%>" class="input-check form-check-input input space-right-8" id="<%- props.id -%>">
            <%- include(`${component}/icons/icon`, { icon: 'done' } ) %>
            <label class="form-check-label" for="<%- props.id -%>"><%- props.label -%></label>
            <% break;

        case 'radio': %>
            <input type="<%- props.type -%>" class="input-radio form-check-input input space-right-8" id="<%- props.id -%>">
            <label class="label-radio form-check-label" for="<%- props.id -%>"><%- props.label -%></label>
            <% break; 
    } %>
</div>