<%
/**
 *
 * @requires string id
 * @requires string label
 */
const props = {
    id: id,
    label: typeof label !== 'undefined' ? label : null,
    type: typeof type !== 'undefined' ? type : 'text',
    icon: typeof icon !== 'undefined' ? icon : null,
    disabled: typeof disabled !== 'undefined' ? disabled : false,
    invalid: typeof invalid !== 'undefined' ? invalid : false,
    optional: typeof optional !== 'undefined' ? optional : false,
    validation: typeof validation !== 'undefined' ? validation : false,
    value: typeof value !== 'undefined' ? value : '',
}

function validator(props) {
    if (props.validation && props.type !== 'email') {
        throw new Error('Can only validate the email type')
    }
}
validator(props)

const data = {
  icon: props.type === 'password'?'eye': props.icon
}

const styles = {
    invalid: {
        toString: () => {
            return props.invalid ? 'is-invalid' : ''
        }
    }
}

const attr = {
    value: {
        toString: () => {
            return props.value ? `value='${props.value}'` : ''
        }
    },
    disabled: {
        toString: () => {
            return props.disabled ? 'disabled' : ''
        }
    },
    invalid: {
        toString: () => {
            return props.invalid ? 'aria-invalid="true"' : 'aria-invalid="false"'
        }
    },
    required: {
        toString: () => {
            return props.optional ? 'aria-required="false"' : 'aria-required="true"'
        }
    },
    validation: {
        toString: () => {
            return props.validation ? 'data-bsystem="validate-email"' : ''
        }
    },
}
%>


<div class="form-floating">
    <input
            id="<%- props.id -%>"
            type="<%- props.type -%>"
            class="form-control <%- styles.invalid -%>"
            placeholder="<%- props.label -%>"
            <%- attr.disabled -%>
            <%- attr.invalid -%>
            <%- attr.required -%>
            <%- attr.validation -%>
            <%- attr.value -%>
    >
    <% if(props.icon) { %>
        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: data.icon}) -%>
    <% } %>
    <label for="<%- props.id -%>" class="form-placeholder"><%- props.label -%></label>

</div>
