<%
/**
 *
 * @requires string id
 * @requires string label
 */
const props = {
    id: id,
    label: typeof label !== 'undefined' ? label : null,
    type: typeof type !== 'undefined' ? type : 'text',
    icon: typeof icon !== 'undefined' ? icon : null
}
%>

<div class="form-floating">
    <input id="<%- props.id -%>" type="text" class="form-control" placeholder="<%- props.label -%>">
    <label for="<%- props.id -%>" class="form-placeholder"><%- props.label -%></label>
    <%if(props.icon) {%>
    <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
    <%}%>
</div>
