<%
/**
 * @requires {string} id
 * @requires {string} label
 * @requires {string} group
 */
const props = {
    id,
    label,
    group,
    checked: typeof checked !== 'undefined' ? checked : false
}

const attr = {
    checked: {
        toString: () => {
            return props.checked ? 'checked' : ''
        }
    }
}
%>

<div class="form-check">
    <input class="form-check-input" type="radio" value="" id="<%- props.id -%>" name="<%- props.group -%>" <%- attr.checked -%>>
    <span class="dot"></span>
    <label class="form-check-label" for="<%- props.id -%>">
        <%- props.label -%>
    </label>
</div>
