<%
/**
 *
 * @requires string id
 * @requires string label
 * @requires Array<String> options
 */
const props = {
    id: id,
    label: label,
    options: options,
    type: typeof type !== 'undefined' ? type : 'text',
    icon: typeof icon !== 'undefined' ? icon : null,
    disabled: typeof disabled !== 'undefined' ? disabled : false,
    invalid: typeof invalid !== 'undefined' ? invalid : false,
    optional: typeof optional !== 'undefined' ? optional : false,
    validation: typeof validation !== 'undefined' ? validation : false
}

function validator(props) {
    if (props.validation && props.type !== 'email') {
        throw new Error('Can only validate the email type')
    }
}
validator(props)

const styles = {
    invalid: {
        toString: () => {
            return props.invalid ? 'is-invalid' : ''
        }
    }
}

const attr = {
    disabled: {
        toString: () => {
            return props.disabled ? 'disabled' : ''
        }
    },
    invalid: {
        toString: () => {
            return props.invalid ? 'aria-invalid="true"' : 'aria-invalid="false"'
        }
    },
    required: {
        toString: () => {
            return props.optional ? 'aria-required="false"' : 'aria-required="true"'
        }
    },
    validation: {
        toString: () => {
            return props.validation ? 'data-bsystem="validate-email"' : ''
        }
    },
}
%>


<div class="form-floating">
    <select
            id="<%- props.id -%>"
            type="<%- props.type -%>"
            class="form-select <%- styles.invalid -%>"
            <%- attr.disabled -%>
            <%- attr.invalid -%>
            <%- attr.required -%>
            <%- attr.validation -%>
    >
        <% options.forEach((option)=>{ %>
            <option value="<%- option -%>"> <%- option -%> </option>
        <% }) %>
    </select>
    <div class="chevron">
        <%- include(`${component}/icons/icon`, {icon: 'close'}) %>
    </div>
    <label for="<%- props.id -%>" class="form-placeholder"><%- props.label -%></label>
    <% if(props.icon) { %>
        <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
    <% } %>
</div>
