<%
    /**
    * @required {string} idAccordion
    * @required {string} idItem
    * @required {string} label
    * @required {string} content
    */

    const props = {
        idAccordion: idAccordion,
        idItem: idItem,
        label: label,
        content: content,
        isOpen: typeof isOpen !== 'undefined' ? isOpen : false,
    }
%>

<div class="accordion-item">
    <h2 id="heading-<%= props.idItem %>" class="accordion-header">
        <button class="accordion-button position-relative body-regular-gray-text px-0 <%= `${ props.isOpen ? '' : 'collapsed' }` %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= props.idItem %>" aria-expanded="<%= `${ props.isOpen ? '' : 'false' }` %>" aria-controls="collapse-<%= props.idItem %>">
            <%= props.label %>
        </button>
    </h2>
    <div id="collapse-<%= props.idItem %>" class="accordion-collapse collapse <%= `${ props.isOpen ? 'show' : '' }` %>" aria-labelledby="heading-<%= props.idItem %>" data-bs-parent="#<%= props.idAccordion %>">
        <div class="accordion-body px-0">
            <p class="body-light-gray-text"><%= props.content %></p>
        </div>
    </div>
</div>
