<%
/**
 * @required String name
 * @required String job
 * @required { src:String, alt:String } img
 * @required {href:String, label:String, icon:String } link
 */

const props = {
    name: name,
    job: job,
    img: img,
    link: link,
    shape: typeof shape !== 'undefined' ? shape : 'basic',
    social: typeof social !== 'undefined' ? social : null
}

function validate(props) {
    const SHAPES = ['basic', 'horizontal', 'vertical']

    if (!SHAPES.includes(props.shape)) {
        throw new Error(`The shape ${props.shape} doesn't exists`)
    }
}
validate(props)

const styles = {
    gridCell: {
        shape: {
            toString: () => ('basic' === props.shape ? 'grid-cell-basic' : `grid-cell-basic-${props.shape}`)
        }
    }
}
%>

<div class="grid-cell <%- styles.gridCell.shape -%>">
    <picture class="grid-cell-container-img">
        <img class="grid-cell-img" src="<%- `${image}/grid-cell/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="grid-cell-profile d-flex justify-content-between align-items-start">
        <div class="grid-cell-user">
            <p class="body-bold-text text-white mb-0"><%= props.name %></p>
            <p class="text-white mb-0"><%= props.job %></p>
        </div>
        <%- include( `${component}/links/link`, {
            href: props.link.href,
            label: props.link.label,
            icon: props.link.icon,
        } ) %>
    </div>
    <% if(props.social) { %>
        <div class="grid-cell-social bg-opacity d-flex justify-content-center gap-48">
            <% props.social.forEach((socialIcon) => { %>
                <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: socialIcon}) -%>
            <% }) %>
        </div>
    <% } %>
    
</div>
