<%
    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        name: typeof name !== 'undefined' ? name : null,
        job: typeof job !== 'undefined' ? job : null,
        textTag: typeof textTag !== 'undefined' ? textTag : null,
        img: typeof img !== 'undefined' ? img : null,
        imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
        border: typeof border !== 'undefined' ? border : false,
        rounded: typeof rounded !== 'undefined' ? rounded : false,
        background: typeof background !== 'undefined' ? background : false,
        hrefLink: typeof hrefLink !== 'undefined' ? hrefLink : '#',
        labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
        iconLink: typeof iconLink !== 'undefined' ? iconLink : null,
        gridBehavior: typeof gridBehavior !== 'undefined' ? gridBehavior : [],
    }
%>

<div>
    <div class="gridcell-user">
        <p class="mb-0"><%= props.name %></p>
        <p class="mb-0"><%= props.job %></p>
    </div>
    <div class="gridcell-component">
        <h4><%= props.title %></h4>
        <p><%= props.text %></p>
    </div>
    <div>
        <span><%= props.textTag %></span>
    </div>
</div>