<%
    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        img: typeof img !== 'undefined' ? img : null,
        linkHref: typeof linkHref !== 'undefined' ? linkHref : null,
        linkLabel: typeof linkLabel !== 'undefined' ? linkLabel : null,
        linkIcon: typeof linkIcon !== 'undefined' ? linkIcon : null,
    }

%>

<div class="cellcontent gridcell">
    <% if(props.img.src) { %>
    <picture class="gridcell-containter-img">
        <img class="gridcell-img" src="<%- `${image}/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <% }
    if(props.title && props.text) { %>
    <div class="cellcontent-content d-flex flex-column justify-content-between inner-space-block-48 inner-space-left-48 inner-space-right-72">
        <%- // include(`${component}/interaction/ribbon`, {
        //     type: 'data',
        //     label: props.ribbon.label,
        //     color: props.ribbon.color,
        // }) %>
        <div>
        </div>
        <div class="cellcontent-info">
            <h4><%= props.title %></h4>
            <p class="body-light-gray-text mb-0"><%= props.text %></p>
        </div>
        <%- include( `${component}/links/link`, {
            href: props.linkHref,
            label: props.linkLabel,
            icon: props.linkIcon,
        } ) %>
    </div>
    <% } %>
</div>