<%
/**
 * @required String name
 * @required String job
 * @required { src:String, alt:String } img
 * @required {href:String, label:String, icon:String } link
 */

    const props = {
        name: name,
        job: job,
        img: img,
        link: link,
        variant: typeof variant !== 'undefined' ? variant : 'basic',
        social: typeof social !== 'undefined' ? social : ['twitter', 'behance', 'linkedin'],
    }

    function validate(props) {
    const cellBasicVariants = ['basic', 'horizontal', 'vertical']

    if (!cellBasicVariants.includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
    }
}
validate(props)

const styles = {
    gridCell: {
        variant: {
            toString: () => ('basic' === props.variant ? '' : `cellbasic-${props.variant}`) 

        }
    }
}
%>

<div class="gridcell cellbasic cellbasic-<%- props.variant -%>">
    <picture class="gridcell-containter-img">
        <img class="gridcell-img" src="<%- `${image}/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="cellbasic-profile d-flex justify-content-between align-items-start">
        <div class="cellbasic-user">
            <p class="body-bold-text text-white mb-0"><%= props.name %></p>
            <p class="text-white mb-0"><%= props.job %></p>
        </div>
        <%- include( `${component}/links/link`, {
            href: props.link.href,
            label: props.link.label,
            icon: props.link.icon,
        } ) %>
    </div>
    <div class="cellbasic-contact bg-opacity d-flex justify-content-center gap-48">
        <% props.social.forEach((icon) => { %>
            <i class="icon-<%- icon -%>"></i>
        <% }) %>
    </div>
</div>