<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    title: typeof title !== 'undefined' ? title : null,
    target: typeof target !== 'undefined' ? target : null,
    brands,
    isDark: typeof isDark !== 'undefined' ? isDark : false,
    hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
}

const styles = {
    brand: {
        dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
        },
        border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
        }
    }
}
%>

<div class="brands module <%- styles.brand.border -%>" id="<%- props.id -%>" <%- styles.brand.dark -%>>
    <div class="container d-flex flex-column align-items-center p-0 space-y-48 space-y-md-56 space-y-xl-72">
        <h3 class="brands-title text-center"><%- props.title -%></h3>
        <!-- Desktop -->
        <div class="brands-content-desktop m-0 d-none d-xl-block w-100 overflow-hidden position-relative">
            <div class="inner-space-inline-32">
                <%- include( `${component}/swiper/start`,
                {
                target: `brand-xl-${props.target}`,
                items: 4,
                next: '.button-next',
                prev: '.button-prev'
                }
                ) %>
                <% props.brands.forEach((slide)=> { %>
                    <div class="swiper-slide">
                        <%- include(`${module}/brand/brandSlideContent`, {slide}) %>
                    </div>
                <% }) %>
                <%- include( `${component}/swiper/end`) %>
            </div>
            <div class="button-prev">
                <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
            </div>
            <div class="button-next">
                <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
            </div>
        </div>
        <!-- END: Desktop -->
        <!-- Tablet -->
        <div class="brands-content-tablet d-none d-md-block d-xl-none w-100 overflow-hidden ">
            <%- include( `${component}/swiper/start`,
            {
            target: `brand-md-${props.target}`,
            items: 3,
            loop: true
            }
            ) %>

            <% props.brands.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/brand/brandSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>
        <!-- END: Tablet -->
        <!-- Mobile -->
        <div class="brands-content-mobile d-block d-md-none w-100 overflow-hidden">
            <%- include( `${component}/swiper/start`,
            {
            target: `brand-${props.target}`,
            effect: 'centered',
            items: 1,
            loop: true
            }
            ) %>

            <% props.brands.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/brand/brandSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>
        <!-- END: Mobile -->
    </div>
</div>