<%- include(`${view}/quick_start/layout`)%>

<%- contentFor('body') %>

<section class="section">

    <h2 class="container">Form elements</h2>

    <div class="container d-flex flex-wrap gap-5">


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/input`, {
                type: 'text',
                id: 'input-text-id-01',
                placeholder: 'Name',
                }) %>

            <span class="label">
                Input states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/input`, {
                type: 'password',
                id: 'input-text-id-02',
                placeholder: 'Password',
                icon: 'eye',
                }) %>

            <span class="label">
                Input states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/input`, {
                type: 'text',
                id: 'input-text-id-03',
                placeholder: 'Search',
                icon: 'magnifying-glass',
                }) %>

            <span class="label">
                Input states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%
            const select_items = [
                { label:'Open this select menu', value:'', selected: 'selected' },
                { label:'One', value:'1' },
                { label:'Two', value:'2' },
                { label:'Three', value:'3' }
            ]
            %>

            <%- include(`${component}/forms/select`, {
                items: select_items,
                css: 'custom-css-class',
                id: 'custom-id'
                }) %>

            <span class="label">
                Dropdown states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'checkbox',
                id: 'checkbox-custom-id-01',
                label: 'I accept the treatment of my data.',
                // checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Check states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'radio',
                id: 'radio-custom-id-01',
                label: 'I choose the premium level.',
                // checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Radio states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/info`, {
                label: 'Gift cards cannot be used to pay cash.',
                }) %>

            <span class="label">
                Info
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/info`, {
                label: 'Gift cards cannot be used to pay cash.',
                href: '#',
                }) %>

            <span class="label">
                Info and link
            </span>
        </div>


    </div>
</section>


<section class="section" data-b-system="dark-mode">

    <h2 class="container">Form elements dark</h2>

    <div class="container d-flex flex-wrap gap-5">


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/input`, {
                type: 'text',
                id: 'input-text-id-04',
                placeholder: 'Name',
                }) %>

            <span class="label">
                Input states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/input`, {
                type: 'password',
                id: 'input-text-id-05',
                placeholder: 'Password',
                icon: 'eye',
                }) %>

            <span class="label">
                Input states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/input`, {
                type: 'text',
                id: 'input-text-id-06',
                placeholder: 'Search',
                icon: 'magnifying-glass',
                }) %>

            <span class="label">
                Input states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%
            const select_items_dark = [
            { label:'Open this select menu', value:'', selected: 'selected' },
                { label:'One', value:'1' },
                { label:'Two', value:'2' },
                { label:'Three', value:'3' }
            ]
            %>

            <%- include(`${component}/forms/select`, {
                items: select_items_dark,
                css: 'custom-css-class',
                id: 'custom-id'
                }) %>

            <span class="label">
                Dropdown states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'checkbox',
                id: 'checkbox-custom-id-02',
                label: 'I accept the treatment of my data.',
                // checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Check states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'radio',
                id: 'radio-custom-id-02',
                label: 'I choose the premium level.',
                // checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Radio states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/info`, {
                label: 'Gift cards cannot be used to pay cash.',
                }) %>

            <span class="label">
                Info
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/info`, {
                label: 'Gift cards cannot be used to pay cash.',
                href: '#',
                }) %>

            <span class="label">
                Info and link
            </span>
        </div>


    </div>
</section>
















<section class="section">

    <h2 class="container">Checks and radios</h2>

    <div class="container d-flex flex-wrap gap-5">


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'checkbox',
                id: 'checkbox-custom-id-03',
                label: 'I accept the treatment of my data.',
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Check states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'checkbox',
                id: 'checkbox-custom-id-04',
                label: 'I accept the treatment of my data.',
                checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Check states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'radio',
                id: 'radio-custom-id-03',
                label: 'I choose the premium level.',
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Radio states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'radio',
                id: 'radio-custom-id-04',
                label: 'I choose the premium level.',
                checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Radio states
            </span>
        </div>


    </div>
</section>


<section class="section" data-b-system="dark-mode">

    <h2 class="container">Checks and radios dark</h2>

    <div class="container d-flex flex-wrap gap-5">


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'checkbox',
                id: 'checkbox-custom-id-05',
                label: 'I accept the treatment of my data.',
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Check states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'checkbox',
                id: 'checkbox-custom-id-06',
                label: 'I accept the treatment of my data.',
                checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Check states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'radio',
                id: 'radio-custom-id-05',
                label: 'I choose the premium level.',
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Radio states
            </span>
        </div>


        <div class="d-flex flex-column gap-2">

            <%- include(`${component}/forms/checkbox-radio`, {
                type: 'radio',
                id: 'radio-custom-id-06',
                label: 'I choose the premium level.',
                checked: true,
                css_wrapper: 'wrapper-custom-class',
                css_input: 'input-custom-class',
                css_label: 'label-custom-class',
                }) %>

            <span class="label">
                Radio states
            </span>
        </div>


    </div>
</section>
