<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!--SECTION LIGHT-->
<section class="section">
    <div class="container">

        <%- include(`${component}/text/head-x3`, { text: 'Form elements' }) %>

        <form class="d-grid grid-4 grid-md-8 grid-xl-12 row-gap-48 space-bottom-48">
            <div class="col-span-4 space-y-24">
                <%- include(`${component}/form/input`, { id:'name', label:'Name'}) %>
                <span class="body-light-gray-text">
                    Input states
                </span>
            </div>
            <div class="col-span-4 space-y-24">
                <%- include(`${component}/form/input`, { id:'pass', label: 'Password', icon: 'eye', type:'password'}) %>
                <span class="body-light-gray-text">
                    Input states
                </span>
            </div>
            <div class="col-span-4 space-y-24">
                <%- include(`${component}/form/input`, { id:'email', label: 'Email', type:'email', validation:true}) %>
                <span class="body-light-gray-text">
                    Input states
                </span>
            </div>

            <div class="col-span-4 space-y-24">
                <% const options = ['Option one','Option two','Option three','Option four'] %>
                <%- include(`${component}/form/select`, { id:'select', label: 'Select example', options }) %>
                <span class="body-light-gray-text">
                    Input states
                </span>
            </div>
            <div class="col-span-4 d-flex flex-column space-y-24">
                <%- include(`${component}/form/checkbox`, { id:'checkbox', label: 'I accept the treatment of my data.' }) %>
                <span class="body-light-gray-text">
                    Check states
                </span>
            </div>
            <div class="col-span-4 d-flex flex-column space-y-24">
                <%- include(`${component}/form/radiobutton`, { id:'radio', label: 'I choose the premium level.' }) %>
                <span class="body-light-gray-text">
                    Radio states
                </span>
            </div>

            <div class="col-span-4 space-y-24">
                <%- include(`${component}/form/info`, { icon: 'info', text:'Gift cards cannot be used to pay cash.' }) %>
                <span class="body-light-gray-text">
                    Radio states
                </span>
            </div>

            <div class="col-span-4 space-y-24">
                <%- include(`${component}/links/link`, { href: '#', label: 'Gift cards cannot be used to pay cash.', icon: 'info', iconPosition: 'before' }) %>
                <span class="body-light-gray-text">
                    Radio states
                </span>
            </div>
        </form>
    </div>
</section>
<!--END: SECTION LIGHT-->
