<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<% const options = ['Admin', 'Member', 'Guest'] %>
<!--SECTION LIGHT-->
<section class="section">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Form elements' }) %>
        <form class="space-bottom-48 space-y-48">
            <div class="d-grid grid-4 grid-md-8 grid-xl-12 ">
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'name', label:'Name'}) %>
                    <span class="body-light-gray-text">
                        Input text
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'invalid', label: 'Email address', invalid:true, value:'helena.com'}) %>
                    <span class="body-light-gray-text">
                        Input invalid
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'pass', label: 'Password', icon: 'eye', type:'password'}) %>
                    <span class="body-light-gray-text">
                        Input password
                    </span>
                </div>
            </div>

            <div class="d-grid grid-4 grid-md-8 grid-xl-12 row-gap-48 ">
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'email', label: 'Email address', type:'email', validation:true}) %>
                    <span class="body-light-gray-text">
                        Validation email
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/select`, { id:'select', label: 'User rol', options }) %>
                    <span class="body-light-gray-text">
                        Select
                    </span>
                </div>
            </div>

            <div class="d-grid grid-4 grid-md-8 grid-xl-12 row-gap-48 ">
                <div class="col-span-4 space-y-24">
                    <div class="d-flex flex-column space-y-16">
                        <%- include(`${component}/form/checkbox`, { id:'checkbox-light', label: 'I accept the treatment of my data.' }) %>
                        <%- include(`${component}/form/checkbox`, { id:'checkbox-light-two', label: 'I want to receive information about new offers.' }) %>
                    </div>
                    <span class="body-light-gray-text">
                        Check states
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <div class="d-flex flex-column space-y-16">
                        <%- include(`${component}/form/radiobutton`, { id:'radio-premium-light', label: 'I choose the premium level.', group:'radio-group', checked: true}) %>
                        <%- include(`${component}/form/radiobutton`, { id:'radio-standard-light', label: 'I choose the standard level.', group:'radio-group' }) %>
                    </div>
                    <span class="body-light-gray-text">
                        Radio states
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <div class="d-flex flex-column space-y-16">
                        <%- include(`${component}/form/info`, { icon: 'info', text:'Gift cards cannot be used to pay cash.' }) %>
                        <%- include(`${component}/links/link`, { icon: 'info', href:'#', label:'Gift cards cannot be used to pay cash.', iconPosition:'before' }) %>
                    </div>
                    <span class="body-light-gray-text">
                        Info & Link
                    </span>
                </div>
            </div>
        </form>
    </div>
</section>
<!--END: SECTION LIGHT-->

<!--SECTION DARK-->
<section data-b-system-theme="dark" class="section">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Form elements' }) %>
        <form class="space-bottom-48 space-y-48">
            <div class="d-grid grid-4 grid-md-8 grid-xl-12 ">
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'name-dark', label:'Name'}) %>
                    <span class="body-light-gray-text">
                        Input text
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'invalid-dark', label: 'Email address', invalid:true, value:'helena.com'}) %>
                    <span class="body-light-gray-text">
                        Input invalid
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'pass-dark', label: 'Password', icon: 'eye', type:'password'}) %>
                    <span class="body-light-gray-text">
                        Input password
                    </span>
                </div>
            </div>

            <div class="d-grid grid-4 grid-md-8 grid-xl-12 row-gap-48 ">
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/input`, { id:'email-dark', label: 'Email address', type:'email', validation:true}) %>
                    <span class="body-light-gray-text">
                        Validation email
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <%- include(`${component}/form/select`, { id:'select-dark', label: 'User rol', options }) %>
                    <span class="body-light-gray-text">
                        Select
                    </span>
                </div>
            </div>

            <div class="d-grid grid-4 grid-md-8 grid-xl-12 row-gap-48 ">
                <div class="col-span-4 space-y-24">
                    <div class="d-flex flex-column space-y-16">
                        <%- include(`${component}/form/checkbox`, { id:'checkbox-dark', label: 'I accept the treatment of my data.' }) %>
                        <%- include(`${component}/form/checkbox`, { id:'checkbox-dark-two', label: 'I want to receive information about new offers.' }) %>
                    </div>
                    <span class="body-light-gray-text">
                        Check states
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <div class="d-flex flex-column space-y-16">
                        <%- include(`${component}/form/radiobutton`, { id:'radio-premium-dark', label: 'I choose the premium level.', group:'radio-group', checked: true}) %>
                        <%- include(`${component}/form/radiobutton`, { id:'radio-standard-dark', label: 'I choose the standard level.', group:'radio-group' }) %>
                    </div>
                    <span class="body-light-gray-text">
                        Radio states
                    </span>
                </div>
                <div class="col-span-4 space-y-24">
                    <div class="d-flex flex-column space-y-16">
                    <%- include(`${component}/form/info`, { icon: 'info', text:'Gift cards cannot be used to pay cash.' }) %>
                    <%- include(`${component}/links/link`, { icon: 'info', href:'#', label:'Gift cards cannot be used to pay cash.', iconPosition:'before' }) %>
                    </div>
                    <span class="body-light-gray-text">
                        Info & Link
                    </span>
                </div>
            </div>
        </form>
    </div>
</section>
<!--END: SECTION DARK-->
