<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!--SECTION LIGHT-->
<section class="section">
    <div class="container">

        <%- include(`${component}/text/head-x3`, { text: 'Form elements' }) %>

        <form class="d-grid grid-1 row-gap-48 space-bottom-48">
            <div class="space-y-24">
                <%- include(`${component}/form/input`, { id:'name', label:'Name'}) %>
                <span class="body-light-gray-text">
                    Input states
                </span>
            </div>
            <div class="space-y-24">
                <%- include(`${component}/form/input`, { id:'pass', label: 'Password', icon: 'eye', type:'password'}) %>
                <span class="body-light-gray-text">
                    Input states
                </span>
            </div>
            <div class="space-y-24">
                <%- include(`${component}/form/input`, { id:'email', label: 'Email', type:'email', validation:true}) %>
                <span class="body-light-gray-text">
                    Input states
                </span>
            </div>
        </form>
    </div>
</section>
<!--END: SECTION LIGHT-->
