<%
/**
 *
 * @requires {string} title
 */
const props = {
    title,
    isPlus: typeof isPlus === 'undefined' ? false : isPlus,
    hasBorder
}

const styles = {
  text: {
    toString: () => ('text-center mx-auto col-md-8 col-xl-10 col-xxl-8')
  },
  border: {
    toString: () => (props.hasBorder ? 'section-divider' : '')
  }
}
%>

<div class="module <%- styles.border -%> basic-content">
    <div class="container">
        <% if(props.isPlus) { %>
            <h1 class="<%- styles.text -%>"><%- props.title -%></h1>
        <% } else { %>
            <h2 class="<%- styles.text -%>"><%- props.title -%></h2>
        <% } %>
    </div>
</div>
