<%
const props = {
    title,
    text,
    hasBorder
}
const styles = {
    text: {
        toString: () => ('text-center mx-auto col-md-8 col-xl-10 col-xxl-8')
    },
    border: {
    toString: () => (props.hasBorder ? 'section-divider' : '')
  }
}
%>

<div class="module <%- styles.border -%> basic-content">
    <div class="container">
        <h3 class="<%- styles.text -%> space-bottom-24 space-bottom-md-32 space-bottom-lg-40"><%- props.title -%></h3>
        <p class="body-light-gray-text <%- styles.text -%>"><%- props.text -%></p>
    </div>
</div>
