<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    title,
    text,
    isDarkened: typeof isDarkened === 'undefined' ? false : isDarkened,
    isDark: typeof isDark === 'undefined' ? false : isDark,
    hasBorder: typeof hasBorder === 'undefined' ? false : hasBorder,
}
const styles = {
    darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        },
    dark: {
        toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
    },  
    border: {
        toString: () => (props.hasBorder ? 'section-divider' : '')
    },
}
%>

<div class="module <%- styles.border -%> <%- styles.darkened -%> basic-content" id="<%-props.id -%>" <%- styles.dark -%>>
    <div class="container">
        <h3 class="<%- styles.text -%> space-bottom-24 space-bottom-md-32 space-bottom-lg-40"><%- props.title -%></h3>
        <p class="body-light-gray-text <%- styles.text -%>"><%- props.text -%></p>
    </div>
</div>
