<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    title: typeof title !== 'undefined' ? title : null,
    text,
    isDarkened: typeof isDarkened === 'undefined' ? false : isDarkened,
    isDark: typeof isDark === 'undefined' ? false : isDark,
    hasBorder: typeof hasBorder === 'undefined' ? false : hasBorder,
}
const styles = {
    darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        },
    dark: {
        toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
    },  
    border: {
        toString: () => (props.hasBorder ? 'section-divider' : '')
    },
}
%>

<div class="module <%- styles.border -%> <%- styles.darkened -%> basic-content" id="<%-props.id -%>" <%- styles.dark -%>>
    <div class="container row justify-content-center px-0 mx-auto">
        <% if(props.title !== 'B_system') { %>
        <h3 class="text-center col-md-12 col-xl-8 space-bottom-24 space-bottom-md-32 space-bottom-lg-40 px-0"><%- props.title -%></h3>
        <% } %>
        <p class="body-light-gray-text text-center col-md-10 col-xl-8 px-0"><%- props.text -%></p>
    </div>
</div>
