<%
/**
 * @required {src:String, alt:String } img
 * @required {href:String, label:String, icon:String } link
 */

const props = {
    img: typeof img !== 'undefined' ? img: null,
    title: typeof title !== 'undefined' ? title : null,
    text: typeof text !== 'undefined' ? text : null,
    icon: typeof icon !== 'undefined' ? icon : null,
    link: link,
    variant: typeof variant !== 'undefined' ? variant : 'columns',
}

function validate(props) {
    const VARIANTS = ['columns', 'image']
    if (!VARIANTS.includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
    }
}
validate(props)
const styles = {
    basicContent: {
        variant: {
            toString: () => ('columns' === props.variant ? 'basic-content-columns' : `basic-content-${props.variant}`)
        }
    }
}

%>

<div class="basic-content <%- styles.basicContent.variant -%> d-grid grid-1 grid-md-8 grid-xl-12 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
    <% if(props.variant == 'image') { %>
    <picture class="basic-content-img-container col-md-3-to-7 col-xl-1-to-6">
        <img class="basic-content-img" src="<%- `${image}/${props.img.src}` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <% } 
    if(props.variant == 'columns') { %>
        <h1 class="basic-content-title col-md-1-to-9 col-xl-1-to-7 m-0"><%- props.title -%></h1>
    <% } %>

    <div class="basic-content-container col-md-1-to-9">
    <% if(props.variant == 'columns') { %>
        <div class="space-y-16">
            <% if(props.icon && props.variant == 'columns') { %>
                <%- include(`${component}/icons/icon`, { icon: props.icon } ) %>
            <% } %>
            <p class="basic-content-text body-light-gray-text"><%- props.text -%></p>
        </div>
        <% }
        if(props.variant == 'image') { %>
        <p class="basic-content-text body-light-gray-text"><%- props.text -%></p>
        <% }
        if(props.link) { %>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        <% } %>
    </div>
</div>