<% 
/**
 * @required { src:String, alt:String } img
 */

const props = {
    title: typeof title !== 'undefined' ? title : null,
    text: typeof text !== 'undefined' ? text : null,
    textImg: typeof textImg !== 'undefined' ? textImg : null,
    img: img,
    avatar: typeof avatar !== 'undefined' ? avatar : null,
}
%>

<div class="card space-y-24">
    <div class="img-container position-relative">
        <picture class="basic-card">
            <img class="img-basic card-img-top" src="<%= `${image}/${props.img.src}.jpg` %>" alt="<%- props.img.alt -%>">
        </picture>

        <% if(props.textImg) { %>
            <p class="simple-text text-white body-medium-text"><%- props.textImg -%></p>
        <% }

        if(props.avatar) { %>
            <picture>
                <img class="avatar" src="<%= `${image}/${props.avatar.src}.jpg` %>" alt="<%- props.avatar.alt -%>">
            </picture>
        <% } %>
    </div>
    <% if(props.title || props.text) { %>
    <div class="text-card">
        <p class="body-dark-gray-text body-bold-text"><%- props.title -%></p>
        <p class="body-light-gray-text"><%- props.text -%></p>
    </div>
    <% } %>
</div>