<% 

const props = {
    titleBasic: typeof titleBasic !== 'undefined' ? titleBasic : null,
    textBasic: typeof textBasic !== 'undefined' ? textBasic : null,
    textOverImg: typeof textOverImg !== 'undefined' ? textOverImg : null,
    img: typeof img !== 'undefined' ? img : 'dummy-s.svg',
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : 'Card image',
    avatar: typeof avatar !== 'undefined' ? avatar : '',
    avatarAlt: typeof avatarAlt !== 'undefined' ? avatarAlt : 'Avatar card',
}

%>

<div class="basic-card space-y-24">
    <div class="basic-card position-relative">
        <img class="img-basic" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">

        <% if(props.textOverImg) { %>
            <p class="simple-text text-white body-medium-text"><%- props.textOverImg -%></p>
        <% }

        if(props.avatar !== '') { %>
            <img class="avatar" src="<%= `${image}/${props.avatar}` %>" alt="<%- props.avatarAlt -%>">
        <% } %>
    </div>
    <% if(props.titleBasic || props.textBasic) { %>
    <div class="text-card">
        <p class="body-dark-gray-text body-bold-text"><%- props.titleBasic -%></p>
        <p class="body-light-gray-text"><%- props.textBasic -%></p>
    </div>
    <% } %>
</div>