<% 
/**
 * @required { src:String, alt:String } img
 */

const props = {
    title: typeof title !== 'undefined' ? title : null,
    subtitle: typeof subtitle !== 'undefined' ? subtitle : null,
    icon: typeof icon !== 'undefined' ? icon : null,
    img: img,
    date: typeof date !== 'undefined' ? date : null,
    link: link,
    hasBackground: typeof hasBackground !== 'undefined' ? hasBackground : true,
    hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
    hasShadow: typeof hasShadow !== 'undefined' ? hasShadow : false,
}

const styles = {
        card: {
            bg: {
                toString: () => (props.hasBackground ? '' : 'card-bg-transparent')
            },
            border: {
                toString: () => (props.hasBorder ? 'card-border' : '')
            },
            shadow: {
                toString: () => (props.hasShadow ? 'card-shadow' : '')
            },
        }
    }

%>

<div class="card-business card card-bg <%- styles.card.bg -%> <%- styles.card.border -%> <%- styles.card.shadow -%> card-interaction d-flex flex-column justify-content-between h-100 inner-space-block-24 inner-space-inline-24">
    <a href="<%- props.link.href -%>" class="card-link-container w-100 h-100 mb-0 position-absolute"></a>
    <div class="card-head d-flex flex-wrap justify-content-between header-card d-flex justify-content-between">
        <% if(props.title) { %>
        <p class="body-light-gray-text fw-bold"><%- props.title -%></p>
        <% }
        if(props.icon) { %>
        <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
        <% }
        if(props.subtitle) { %>
        <p class="body-light-gray-text w-100"><%- props.subtitle -%></p>
        <% } %>
    </div>
    <picture class="d-flex justify-content-center">
        <img class="card-business-img img-mode-light" src="<%= `${image}/card/${props.img.src}.svg` %>" alt="<%- props.img.alt -%>">
        <img class="card-business-img img-mode-dark" src="<%= `${image}/card/${props.img.src}_darkmode.svg` %>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="d-flex justify-content-between">
        <% if(props.date) { %>
        <p class="body-light-gray-text"><%- props.date -%></p>
        <% } 
        if(props.link.label) { %>
        <%- include( `${component}/links/link`, {
            href: props.link.href,
            label: props.link.label,
            icon: props.link.icon,
        } ) %>
        <% } %>
    </div>
</div>