<% 

const props = {
    img: typeof img !== 'undefined' ? img : '',
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : 'Card image',
    titleFeature: typeof titleFeature !== 'undefined' ? titleFeature : null,
    price: typeof price !== 'undefined' ? price : null,
    icon: typeof icon !== 'undefined' ? icon : null,
    titleComparative: typeof titleComparative !== 'undefined' ? titleComparative : null,
    text: typeof text !== 'undefined' ? text : null,
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : '#',
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : null,
    typesListElements: typeof typesListElements !== 'undefined' ? typesListElements : [],

}

%>
<div class="card comparative-card bg-card interaction-card h-100">
    <% if(props.img !== '') { %>
    <img class="img-basic card-img-top" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
    <% } %>
    <div class="d-flex flex-column justify-content-between h-100 inner-space-block-32 inner-space-right-32 inner-space-left-24">
        <div class="comparative-info space-y-16">
            <% if(props.titleFeature) { %>
                <h5 class="space-bottom-24"><%- props.titleFeature -%></h5>
            <% }
            if(props.price) { %>
            <div class="header-card d-flex align-items-center justify-content-between space-top-6 space-bottom-8">
                <h4 class="mb-0"><%- props.price -%></h4>
                <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
            </div>
            <% } 
            if(props.titleComparative) { %>
            <h5 class="h5"><%- props.titleComparative -%></h5>
            <span class="d-block border-bottom"></span>
            <% }
            if(props.text) { %>
            <p class="body-light-gray-text space-bottom-24"><%- props.text -%></p>
            <% } 
            
            if(props.typesListElements != '') { %>
                <ul class="list-card list-unstyled space-y-16">
                    <% props.typesListElements.forEach((element) => { %>
                        <li class="d-flex align-items-center body-light-gray-text">
                            <%- include(`${component}/icons/icon`, {icon: element.icon}) %>
                            <%- element.text -%>
                        </li>
                    <% }) %>
                    
                </ul>
    
            <% } %>
        </div>
        <% if(props.labelLink) { %>
                <%- include( `${component}/links/link`, {
                    href: props.hrefCard,
                    label: props.labelLink,
                    icon: props.iconLink,
                } ) %>
            <% } %>
    </div>
</div>