<% 

const props = {
    img: typeof img !== 'undefined' ? img : '',
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : 'Card image',
    titleFeature: typeof titleFeature !== 'undefined' ? titleFeature : null,
    price: typeof price !== 'undefined' ? price : null,
    icon: typeof icon !== 'undefined' ? icon : null,
    titleComparative: typeof titleComparative !== 'undefined' ? titleComparative : null,
    text: typeof text !== 'undefined' ? text : null,
    listElement1: typeof listElement1 !== 'undefined' ? listElement1 : null,
    listElement2: typeof listElement2 !== 'undefined' ? listElement2 : null,
    listElement3: typeof listElement3 !== 'undefined' ? listElement3 : null,
    iconElement1: typeof iconElement1 !== 'undefined' ? iconElement1 : 'close-blade',
    iconElement2: typeof iconElement2 !== 'undefined' ? iconElement2 : 'close-blade',
    iconElement3: typeof iconElement3 !== 'undefined' ? iconElement3 : 'close-blade',
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : '#',
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : null,
}

%>
<div class="bg-card interaction-card">
    <% if(props.img !== '') { %>
    <img class="img-basic" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
    <% } %>
    <div class="padding-card space-y-16">
        <% if(props.titleFeature) { %>
            <h5 class="space-bottom-24"><%- props.titleFeature -%></h5>
        <% }
        if(props.price) { %>
        <div class="header-card d-flex align-items-center justify-content-between space-top-6 space-bottom-8">
            <h4 class="mb-0"><%- props.price -%></h4>
            <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
        </div>
        <% } 
        if(props.titleComparative) { %>
        <h5 class="h5"><%- props.titleComparative -%></h5>
        <span class="border-bottom"></span>
        <% }
        if(props.text) { %>
        <p class="body-light-gray-text space-bottom-24"><%- props.text -%></p>
        <% }
        if(props.listElement1 || props.listElement2 || props.listElement3) { %>
        <ul class="list-card list-unstyled space-y-16 space-bottom-120">
            <% if(props.listElement1) { %>
            <li class="d-flex align-items-center body-light-gray-text">
                <%- include(`${component}/icons/icon`, {icon: props.iconElement1}) %>
                <%- props.listElement1 -%>
            </li>
            <% }
            if(props.listElement2) { %>
            <li class="d-flex align-items-center body-light-gray-text">
                <%- include(`${component}/icons/icon`, {icon: props.iconElement2}) %>
                <%- props.listElement2 -%>
            </li>
            <% }
            if(props.listElement3) { %>
            <li class="d-flex align-items-center body-light-gray-text">
                <%- include(`${component}/icons/icon`, {icon: props.iconElement3}) %>
                <%- props.listElement3 -%>
            </li>
            <% } %>
        </ul>
        <% } 
        if(props.labelLink) { %>
            <%- include( `${component}/links/link`, {
                href: props.hrefCard,
                label: props.labelLink,
                icon: props.iconLink,
            } ) %>
        <% } %>
    </div>
</div>