<% 
/**
 * @required { src:String, alt:String } img
 * @required {href:String, label:String, icon:String} link
 */

const props = {
    img: typeof img !== 'undefined' ? img : null,
    titleFeature: typeof titleFeature !== 'undefined' ? titleFeature : null,
    price: typeof price !== 'undefined' ? price : null,
    icon: typeof icon !== 'undefined' ? icon : null,
    titleComparative: typeof titleComparative !== 'undefined' ? titleComparative : null,
    text: typeof text !== 'undefined' ? text : null,
    link: link,
    typesListElements: typeof typesListElements !== 'undefined' ? typesListElements : [],
    hasBackground: typeof hasBackground !== 'undefined' ? hasBackground : true,
    hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
    hasShadow: typeof hasShadow !== 'undefined' ? hasShadow : false,
}

const styles = {
        card: {
            bg: {
                toString: () => (props.hasBackground ? '' : 'card-bg-transparent')
            },
            border: {
                toString: () => (props.hasBorder ? 'card-border' : '')
            },
            shadow: {
                toString: () => (props.hasShadow ? 'card-shadow' : '')
            },
        }
    }
%>

<div class="card card-comparative card-bg <%- styles.card.bg -%> <%- styles.card.border -%> <%- styles.card.shadow -%> card-interaction h-100">
    <a href="<%- props.link.href -%>" class="card-link-container w-100 h-100 mb-0 position-absolute"></a>
    <% if(props.img) { %>
        <picture class="card-comparative-img-container">
            <img class="card-comparative-img w-100" src="<%= `${image}/card/${props.img.src}.jpg` %>" alt="<%- props.img.alt -%>">
        </picture>
    <% } %>
    <div class="d-flex flex-column justify-content-between h-100 inner-space-block-32 inner-space-right-32 inner-space-left-24">
        <div class="comparative-info space-y-16 inner-space-bottom-24">
            <% if(props.titleFeature) { %>
                <h5 class="space-bottom-24"><%- props.titleFeature -%></h5>
            <% }
            if(props.price) { %>
            <div class="card-head d-flex align-items-center justify-content-between space-top-6 space-bottom-8">
                <h4 class="mb-0"><%- props.price -%></h4>
                <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
            </div>
            <% } 
            if(props.titleComparative) { %>
            <h5 class="h5"><%- props.titleComparative -%></h5>
            <span class="d-block border-bottom"></span>
            <% }
            if(props.text) { %>
            <p class="body-light-gray-text space-bottom-24"><%- props.text -%></p>
            <% } 
            
            if(props.typesListElements != '') { %>
                <ul class="card-list list-unstyled space-y-16">
                    <% props.typesListElements.forEach((element) => { %>
                        <li class="d-flex align-items-center body-light-gray-text">
                            <%- include(`${component}/icons/icon`, {icon: element.icon}) %>
                            <%- element.text -%>
                        </li>
                    <% }) %>
                </ul>
    
            <% } %>
        </div>
        <% if(props.link.label) { %>
                <%- include( `${component}/links/link`, {
                    href: props.link.href,
                    label: props.link.label,
                    icon: props.link.icon,
                } ) %>
            <% } %>
    </div>
</div>