<%
/**
 * @required { src:String, alt:String } feature
 * @required { type:String, color:String } background
 * @required { href:String, label:String, icon:String } link
*/
const props = {
    feature: feature,
    background: background,
    title: typeof title !== 'undefined' ? title : null,
    text: typeof text !== 'undefined' ? text : null,
    link: link
}
%>

<div class="card card-feature card-comparative card-bg card-interaction h-100">
    <div class="card-feature-img-container demo-card-micro-illustration d-flex justify-content-center inner-space-block-72 inner-space-block-sm-24 inner-space-block-md-56 inner-space-block-lg-72" style="background-color: <%= `var(--c-${props.background.type}__${props.background.color})` %>;">
        <%- include(`${component}/illustration/illustration`, {img: {src: props.feature.src, size: props.feature.size, alt: props.feature.alt}} ) %>
    </div>
    <div class="d-flex flex-column justify-content-between h-100 inner-space-block-32 inner-space-right-32 inner-space-left-24">
        <div class="comparative-info space-y-16">
            <h5 class="space-bottom-24"><%- props.title -%></h5>
            <p class="body-light-gray-text space-bottom-24"><%- props.text -%></p>
        </div>
        <% if(props.link.label) { %>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        <% } %>
    </div>
</div>