<% 
/**
 * @required { icon:String } icon
 * @required { href:String, label:String, icon:String } link
*/

const props = {
    icon: icon,
    text: typeof text !== 'undefined' ? text : null,
    link: link,
    hasBackground: typeof hasBackground !== 'undefined' ? hasBackground : true,
    hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
    hasShadow: typeof hasShadow !== 'undefined' ? hasShadow : false,
}

const styles = {
        card: {
            bg: {
                toString: () => (props.hasBackground ? '' : 'card-bg-transparent')
            },
            border: {
                toString: () => (props.hasBorder ? 'card-border' : '')
            },
            shadow: {
                toString: () => (props.hasShadow ? 'card-shadow' : '')
            },
        }
    }

%>

<div class="card-icon-description card card-bg <%- styles.card.bg -%> <%- styles.card.border -%> <%- styles.card.shadow -%> card-interaction space-y-16 inner-space-block-24  inner-space-inline-24">
    <div class="icon-description-container">
        <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
    </div>
    <p class="body-light-gray-text"><%- props.text -%></p>
    <% if(props.link.label) { %>
        <%- include( `${component}/links/link`, {
            href: props.link.href,
            label: props.link.label,
            icon: props.link.icon,
        } ) %>
    <% } %>
</div>