<% 
/**
 * @required { href:String, label:String, icon:String } link
*/

const props = {
    header: typeof header !== 'undefined' ? header : null,
    title: typeof title !== 'undefined' ? title : null,
    link: link
}

%>

<div class="card card-project card-bg d-grid grid-3 gap-0">
    <div class="card-head col-1-to-4 col-md-1-to-2 d-flex align-items-center justify-content-center">
        <p class="card-head-text fw-bold text-md-center w-100"><%- props.header -%></p>
    </div>
    <div class="card-project-info-container col-1-to-4 col-md-2-to-4 d-flex flex-column flex-md-row align-items-md-center justify-content-between inner-space-block-md-24 inner-space-bottom-24 inner-space-left-md-72 inner-space-left-xl-32 inner-space-left-xxl-72 inner-space-right-md-32">
        <div class="card-project-info space-y-16 inner-space-right-md-32 inner-space-right-xxl-72">
            <h3 class="card-project-title"><%- props.title -%></h3>
            <% if(props.link.label) { %>
                <%- include( `${component}/links/link`, {
                    href: props.link.href,
                    label: props.link.label,
                    icon: props.link.icon,
                } ) %>
            <% } %>
        </div>
        <div class="card-project-controls d-flex flex-md-column-reverse gap-24">
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
        </div>
    </div>
</div>