<% 
/**
 * @required { src:String, alt:String } img
 * @required {href:String, label:String, icon:String } link
 */
const props = {
    img: img,
    titleService: typeof titleService !== 'undefined' ? titleService : null,
    text: typeof text !== 'undefined' ? text : null,
    tag: typeof tag !== 'undefined' ? tag : null,
    iconTag: typeof iconTag !== 'undefined' ? iconTag : false,
    link: link,
    contentPosition: typeof contentPosition !== 'undefined' ? contentPosition : 'right',
    hasBackground: typeof hasBackground !== 'undefined' ? hasBackground : true,
    hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
    hasShadow: typeof hasShadow !== 'undefined' ? hasShadow : false,
}

const styles = {
        card: {
            contentPosition: {
            toString: () => (props.contentPosition !== 'right' ? 'flex-xl-row-reverse' : 'flex-xl-row')
            },
            bg: {
                toString: () => (props.hasBackground ? '' : 'card-bg-transparent')
            },
            border: {
                toString: () => (props.hasBorder ? 'card-border' : '')
            },
            shadow: {
                toString: () => (props.hasShadow ? 'card-shadow' : '')
            },
        }
    }
%>


<div class="card card-service card-bg <%- styles.card.bg -%> <%- styles.card.border -%> <%- styles.card.shadow -%> row p-0 mx-0 gap-0 service-card <%- styles.card.contentPosition -%> h-100">
    <picture class="col-12 col-md-6 px-0 img-container">
        <img class="card-img" src="<%= `${image}/${props.img.src}.jpg` %>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="card-service-content col-12 col-md-6 d-flex flex-column justify-content-between inner-space-block-32 inner-space-inline-16 inner-space-inline-sm-48 space-y-24  flex-grow-1">
        <% if(props.tag) { %>
        <span class="card-tag d-flex justify-content-center align-items-end">
            <% if(props.iconTag == true) { %>
                <%- include(`${component}/icons/icon`, {icon: props.tag}) %>
            <% }
            else { %>
                <%- props.tag -%>
            <% } %>
        </span>
        <% } %>
        <div class="space-y-24">
            <% if(props.tag) { %>
                <h4><%- props.titleService -%></h4>
            <% }
            if(props.text) { %>
            <p class="body-light-gray-text"><%- props.text -%></p>
            <% } %>
        </div>
        <% if(props.link) { %>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        <% } %>
    </div>
</div>