<% 

const props = {
    img: typeof img !== 'undefined' ? img : 'dummy-s.svg',
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : 'Card image',
    titleService: typeof titleService !== 'undefined' ? titleService : null,
    text: typeof text !== 'undefined' ? text : null,
    textTag: typeof textTag !== 'undefined' ? textTag : null,
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : '#',
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : null,
}

%>


<div class="card d-grid grid-2 gap-0 service-card">
    <div class="img-container">
        <img class="img-basic card-img" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
    </div>
    <div class="bg-card service-text d-flex flex-column justify-content-between inner-space-top-32 inner-space-bottom-32 inner-space-left-48 inner-space-right-48">
        <% if(props.textTag) { %>
        <span class="tag-card d-flex justify-content-center align-items-end">
            <%- props.textTag -%>
        </span>
        <% } %>
        <div class="space-y-24">
            <% if(props.textTag) { %>
                <h4><%- props.titleService -%></h4>
            <% }
            if(props.text) { %>
            <p class="body-light-gray-text"><%- props.text -%></p>
            <% } %>
        </div>
        <% if(props.labelLink) { %>
            <%- include( `${component}/links/link`, {
                href: props.hrefCard,
                label: props.labelLink,
                icon: props.iconLink,
            } ) %>
        <% } %>
    </div>
</div>