<% 
/**
 * @required { src:String, alt:String } img
 * @required {href:String, label:String, icon:String } link
 */
const props = {
    img: img,
    titleService: typeof titleService !== 'undefined' ? titleService : null,
    text: typeof text !== 'undefined' ? text : null,
    tag: typeof tag !== 'undefined' ? tag : null,
    link: link,
    contentPosition: typeof contentPosition !== 'undefined' ? contentPosition : 'right',
}

const styles = {
        card: {
            contentPosition: {
            toString: () => (props.contentPosition !== 'right' ? 'flex-xl-row-reverse' : 'flex-xl-row')
            }
        }
    }
%>


<div class="card card-service card-bg row p-0 mx-0 gap-0 service-card <%- styles.card.contentPosition -%> h-100">
    <picture class="col-12 col-xxl-6 px-0 img-container">
        <img class="card-img" src="<%= `${image}/${props.img.src}.jpg` %>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="card-service-content col-12 col-xxl-6 d-flex flex-column justify-content-between inner-space-block-32 inner-space-inline-16 inner-space-inline-sm-48 space-y-24  flex-grow-1">
        <% if(props.tag) { %>
        <span class="card-tag d-flex justify-content-center align-items-end">
            <%- props.tag -%>
        </span>
        <% } %>
        <div class="space-y-24">
            <% if(props.tag) { %>
                <h4><%- props.titleService -%></h4>
            <% }
            if(props.text) { %>
            <p class="body-light-gray-text"><%- props.text -%></p>
            <% } %>
        </div>
        <% if(props.link) { %>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        <% } %>
    </div>
</div>