<% 
/**
 * @required { src:String, alt:String, name:String, job:String } avatar
 */

const props = {
    text: typeof text !== 'undefined' ? text : null,
    avatar: avatar,
    stars: typeof stars !== 'undefined' ? stars : [],
}
%>

<div class="card card-testimonial card-bg h-100 space-y-24 inner-space-block-32 inner-space-inline-24">
    <picture class="header-card d-flex justify-content-center">
        <img class="testimonial-quote" src="<%= `${image}/quote.svg` %>" alt="quote image">
    </picture>
    <% if(props.text) { %>
        <p class="body-light-gray-text">"<%- props.text -%>"</p>
    <% } %>
    <div class="value-card d-flex space-x-4">
        <% props.stars.forEach((star)=> { %>
            <% if(star.state == true) { %>
                <i class="icon-star star-on"></i>
            <% } 
            if (star.state !== true) { %>
                <i class="icon-star"></i>
            <% } %>
            
        <% }) %>
    </div>
    <% if(props.avatar) { %>
        <div class="user-card d-flex align-items-center space-x-16">
            <picture class="avatar-wrapper">
                <img class="avatar" src="<%= `${image}/${props.avatar.src}.jpg` %>" alt="<%- props.avatar.alt -%>">
            </picture>
            <div class="body-light-gray-text">
                <p class="body-dark-gray-text fw-bold"><%- props.avatar.name -%></p>
                <p class="body-dark-gray-text"><%- props.avatar.job -%></p>
            </div>
        </div>
    <% } %>
</div>