<% 

const props = {
    text: typeof text !== 'undefined' ? text : null,
    avatar: typeof avatar !== 'undefined' ? avatar : null,
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    userName: typeof userName !== 'undefined' ? userName : null,
    userJob: typeof userJob !== 'undefined' ? userJob : null,
    typesStars: typeof typesStars !== 'undefined' ? typesStars : [],
}
%>


<div class="testimonial-card bg-card space-y-24 inner-space-block-32 inner-space-inline-24">
    <div class="header-card d-flex justify-content-center">
        <img class="avatar" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
    </div>
    <% if(props.text) { %>
    <p class="body-light-gray-text"><%- props.text -%></p>
    <% } %>
    <div class="value-card d-flex space-x-4">
        <% props.typesStars.forEach((element) => { %>
            <i class="icon-star star-<%- element.starState -%>"></i>
        <% }) %>
    </div>
    <% if(props.userName) { %>
    <div class="user-card d-flex align-items-center space-x-16">
        <img class="avatar" src="<%= `${image}/${props.avatar}` %>" alt="user testimonial">
        <div class="body-light-gray-text">
            <p class="body-dark-gray-text fw-bold"><%- props.userName -%></p>
            <%- props.userJob -%>
        </div>
    </div>
    <% } %>
</div>