<% 

const props = {
    text: typeof text !== 'undefined' ? text : null,
    avatar: typeof avatar !== 'undefined' ? avatar : null,
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    userName: typeof userName !== 'undefined' ? userName : null,
    userPosition: typeof userPosition !== 'undefined' ? userPosition : null,
    starState1: typeof starState1 !== 'undefined' ? starState1 : 'off',
    starState2: typeof starState2 !== 'undefined' ? starState2 : 'off',
    starState3: typeof starState3 !== 'undefined' ? starState3 : 'off',
    starState4: typeof starState4 !== 'undefined' ? starState4 : 'off',
    starState5: typeof starState5 !== 'undefined' ? starState5 : 'off',
}

%>

<div class="testimonial-card bg-card padding-xl space-y-24">
    <div class="header-card d-flex justify-content-center">
        <%- include(`${component}/icons/icon`, { icon: 'star' } ) %>
    </div>
    <% if(props.text) { %>
    <p class="body-light-gray-text"><%- props.text -%></p>
    <% } %>
    <div class="value-card d-flex space-x-4">
        <i class="icon-star star-<%- props.starState1 -%>"></i>
        <i class="icon-star star-<%- props.starState2 -%>"></i>
        <i class="icon-star star-<%- props.starState3 -%>"></i>
        <i class="icon-star star-<%- props.starState4 -%>"></i>
        <i class="icon-star star-<%- props.starState5 -%>"></i>
    </div>
    <% if(props.userName) { %>
    <div class="user-card d-flex align-items-center space-x-16">
        <img class="avatar" src="<%= `${image}/${props.avatar}` %>" alt="user testimonial">
        <div class="body-light-gray-text">
            <p class="body-dark-gray-text fw-bold"><%- props.userName -%></p>
            <%- props.userPosition -%>
        </div>
    </div>
    <% } %>
</div>