<%
    const props = {
        title: typeof title !== 'undefined' ? title : null,
        cards,
        btn,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        productCards: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="products-module module <%- styles.productCards.darkened -%> <%- styles.productCards.border -%>" <%- styles.productCards.dark -%>>
    <div class="container d-flex flex-column">
        <h3 class="products-module-title text-center space-bottom-48 space-bottom-md-56 space-bottom-xl-72"><%- props.title -%></h3>
        <!-- Desktop -->
        <div class="products-content-desktop d-none d-xl-grid grid-xl-4">
            <% props.cards.forEach((slide)=> { %>
                <%- include(`${module}/productCard/productCardSlideContent`, {slide}) %>
            <% }) %>
        </div>
        <!-- END: Desktop -->
        <div class="products-content-tablet d-none d-md-block d-xl-none overflow-hidden">
            <%- include( `${component}/swiper/start`,
            {
                target: 'product-card-md',
                effect: 'centered',
                items: 2,
                loop: true
            }) %>

            <% props.cards.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/productCard/productCardSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>

        <!-- Mobile -->
        <div class="products-content-mobile d-md-none overflow-hidden">
            <%- include( `${component}/swiper/start`,
            {
                target: 'product-card',
                effect: 'centered',
                items: 1,
            }) %>

            <% props.cards.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/productCard/productCardSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>
        <!-- END: Mobile -->
        <div class="products-btn align-self-center space-top-48 space-top-md-56 space-top-xl-72">
            <%- include( `${component}/button/button`, {
                href: props.btn.href,
                label: props.btn.label,
            } ) %>
        </div>
    </div>
</div>