<%
    const props = {
        id: typeof id !== 'undefined' ? id : null,
        title: typeof title !== 'undefined' ? title : null,
        cards,
        btn,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        productCards: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="products-module module <%- styles.productCards.darkened -%> <%- styles.productCards.border -%>" id="<%- props.id -%>" <%- styles.productCards.dark -%>>
    <div class="container d-flex flex-column">
        <h3 class="products-module-title text-center space-bottom-48 space-bottom-md-56 space-bottom-xl-72"><%- props.title -%></h3>

        <div class="products-content">
            <%- include( `${component}/swiper/start`,
            {
                target: 'product-card',
                items: {
                    xs: 1,
                    sm: 2,
                    lg: 3,
                    xl: 4
                },
            }) %>

            <% props.cards.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/productCard/productCardSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>

        <div class="products-btn align-self-center space-top-48 space-top-md-56 space-top-xl-72">
            <%- include( `${component}/button/button`, {
                href: props.btn.href,
                label: props.btn.label,
            } ) %>
        </div>
    </div>
</div>