<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('styles') %>
.grid-cell.grid-cell-basic-horizontal {  padding-bottom: calc(50% - 12px); }
.grid-cell.grid-cell-component {  padding-bottom: calc(100% - 24px); }
.size-fixed .grid-cell.grid-cell-content { padding-bottom: calc(100% - 24px); }

<%- contentFor('body') %>

<!-- GRID CELLS -->

<!-- SECTION LIGHT -->

<section class="section">
    <div class="container">

        <%- include(`${component}/text/head-x3`, { text: 'Grid cells' }) %>

        <div class="d-grid grid-1 grid-lg-3 column-gap-24 space-bottom-48">
            <div class="space-y-24">
                <%- include(`${component}/gridCell/basic`, {
                name:'Danielle Jolie',
                job:'UX/UI',
                img: {src: 'gridcells-basic-01', alt: 'Grid cell basic'},
                social: ['twitter', 'behance', 'linkedin'],
                link: {
                href: '#',
                label: 'Profile',
                icon: 'links',
                },
                }) %>
                <span class="body-light-gray-text">
                    Grid cell basic
                </span>
            </div>
            <div class="col-span-lg-2 space-y-24">
                <%- include(`${component}/gridCell/basic`, {
                name:'Marza Jolie',
                job:'UI Designer',
                img: {src: 'gridcells-horizontal-01', alt: 'Grid cell basic'},
                link: {
                href: '#',
                label: 'Profile',
                icon: 'links',
                },
                shape: 'horizontal'
                }) %>
                <span class="body-light-gray-text">
                    Grid cell basic horizontal
                </span>
            </div>
        </div>

        <div class="d-grid grid-1 grid-lg-3 column-gap-24 space-bottom-48">
            <div class="space-y-24">
                <%- include(`${component}/gridCell/basic`, {
                name:'Martha Nielsen',
                job:'UX Writer',
                img: {src: 'gridcells-vertical-01', alt: 'Grid cell basic'},
                link: {
                href: '#',
                label: 'Profile',
                icon: 'links',
                },
                shape: 'vertical',
                }) %>
                <span class="body-light-gray-text">
                    Grid cell basic vertical
                </span>
            </div>
            <div class="col-span-lg-2 space-y-24">
                <%- include(`${component}/gridCell/component`, {
                title:'An organic design system',
                text:'With fully scalable and reusable components.',
                img: {src: 'gridcells-component-01', alt: 'Grid cell component'},
                }) %>
                <span class="body-light-gray-text">
                    Grid cell component
                </span>
            </div>
        </div>

        <div class="d-grid grid-1 grid-lg-2 column-gap-24 space-bottom-48">
            <div class=" space-y-24">
                <%- include(`${component}/gridCell/content`, {
                img: {src: 'gridcells-portfolio-01', alt: 'Grid basic portfolios cell'},
                }) %>
                <span class="body-light-gray-text">
                    Grid basic portfolios cell
                </span>
            </div>

            <div class=" space-y-24 size-fixed">
                <%- include(`${component}/gridCell/content`, {
                color: 'transparent',
                border: true,
                title:'Packaging design',
                text:'We create boxes, bottles, bags, packaging, labels, signage of spaces, exterior signage, corporeal.',
                linkHref: '#',
                linkLabel: 'Learn more',
                linkIcon: 'links',
                }) %>
                <span class="body-light-gray-text">
                    Grid cell component
                </span>
            </div>

            <div class="space-y-24">
                <%- include(`${component}/gridCell/content`, {
                img: {src: 'gridcells_portfolio-02', alt: 'Grid basic portfolios cell'},
                }) %>
                <span class="body-light-gray-text">
                    Grid basic portfolios cell
                </span>
            </div>

            <div class="space-y-24 size-fixed">
                <%- include(`${component}/gridCell/content`, {
                color: 'dark',
                border: false,
                title:'Packaging design',
                text:'We create boxes, bottles, bags, packaging, labels, signage of spaces, exterior signage, corporeal.',
                linkHref: '#',
                linkLabel: 'Learn more',
                linkIcon: 'links',
                }) %>
                <span class="body-light-gray-text">
                    Grid cell component
                </span>
            </div>

        </div>

    </div>
</section>

