<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!-- GRID CELLS -->

<!-- SECTION LIGHT -->

<section class="section">
    <div class="container">

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Grid Cells</h3>
        
        <div class="d-grid grid-1 grid-lg-3 column-gap-24 space-bottom-48">
            <div class="space-y-24">
                <%- include(`${component}/gridCell/basic`, {
                    name:'Danielle Jolie',
                    job:'UX/UI',
                    img: {src: 'gridcells_basic-01', alt: 'Grid cell basic'},
                    link: {
                        href: '#',
                        label: 'Profile',
                        icon: 'links',
                    },
                    
                    variant: 'basic'
                }) %>
                <span class="body-light-gray-text">
                    Grid cell basic
                </span>
            </div>

            <div class="col-1-to-2 col-lg-2-to-4 space-y-24">
                <%- include(`${component}/gridCell/basic`, {
                    name:'Marza Jolie',
                    job:'UI Designer',
                    img: {src: 'gridcells_basic-02', alt: 'Grid cell basic'},
                    link: {
                        href: '#',
                        label: 'Profile',
                        icon: 'links',
                    },
                    variant: 'horizontal'
                }) %>
                <span class="body-light-gray-text">
                    Grid cell basic horizontal
                </span>
            </div>
        </div>

        <div class="d-grid grid-1 grid-lg-3 column-gap-24 space-bottom-48">
            <div class="space-y-24">
                <%- include(`${component}/gridCell/basic`, {
                    name:'Martha Nielsen',
                    job:'UX Writer',
                    img: {src: 'gridcells_basic-03', alt: 'Grid cell basic'},
                    link: {
                        href: '#',
                        label: 'Profile',
                        icon: 'links',
                    },
                    variant: 'vertical',
                }) %>
                <span class="body-light-gray-text">
                    Grid cell basic vertical
                </span>
            </div>

            <div class="col-1-to-2 col-lg-2-to-4 space-y-24">
                <%- include(`${component}/gridCell/component`, {
                    title:'An organic design system',
                    text:'With fully scalable and reusable components.',
                    img: {src: 'gridcells_component-01', alt: 'Grid cell component'},
                }) %>
                <span class="body-light-gray-text">
                    Grid cell component
                </span>
            </div>
        </div>

        <div class="d-grid grid-1 grid-lg-2 column-gap-24 space-bottom-48">
            <div class="col-1-to-2 col-lg-2-to-4 space-y-24">
                <%- include(`${component}/gridCell/content`, {
                    img: {src: 'gridcells_portfolio-01', alt: 'Grid cell content'},
                }) %>
                <span class="body-light-gray-text">
                    Grid cell component
                </span>
            </div>

            <div class="col-1-to-2 col-lg-2-to-4 space-y-24">
                <%- include(`${component}/gridCell/content`, {
                    title:'Packaging design',
                    text:'We create boxes, bottles, bags, packaging, labels, signage of spaces, exterior signage, corporeal.',
                    img: {src: 'gridcells_portfolio-01', alt: 'Grid cell content'},
                    linkHref: '#',
                    linkLabel: 'View more',
                    linkIcon: 'link',
                }) %>
                <span class="body-light-gray-text">
                    Grid cell component
                </span>
            </div>

        </div>

    </div>
</section>