<%
/**
 * @required { id:String, label:String, icon:String, type:String } inputs 
 * @required { label:String, variant:String } btn
 * @required { href:String, label:String } link
 */

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        inputs,
        button,
        link,
        isDarkened,
        isDark,
        haveBorder
    }

    const styles = {
        login: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.haveBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="login module <%- styles.login.border -%> <%- styles.login.darkened -%>" <%- styles.login.dark -%>>
    <div class="login-head space-y-md-40 space-bottom-24">
        <h3 class="login-title text-center d-none d-md-block"><%- props.title -%></h3>
        <p class="login-text body-light-gray-text text-center"><%- props.text -%></p>
    </div>
    <form class="login-form d-flex flex-column align-center">
        <% props.inputs.forEach((input)=> { %>
        <%- include(`${component}/form/input`, { 
            id: input.id, 
            label: input.label, 
            icon: input.icon, 
            type: input.type
        }) %>
        <% }) %>
        <%- include(`${component}/button/button`, { 
            label: props.button.label,
            variant: props.button.variant
        }) %>
        <%- include( `${component}/links/link`, {
            href: props.link.href,
            label: props.link.label
            } ) %>
    </form>
</div>