<%

    const props = {
        columns: typeof columns !== 'undefined' ? columns : [],
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
        background: typeof background !== 'undefined' ? background : null,
    }

    const styles = {
        iconDescription: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            },
            background: {
                toString: () => (props.background ? `section-bg-color bg-${props.background}` : '')
            },
        }
    }
%>

<div class="module <%- styles.iconDescription.border -%> <%- styles.iconDescription.background -%> <%- styles.iconDescription.darkened -%>" <%- styles.iconDescription.dark -%>>
    <!-- Desktop -->
    <div class="container d-none d-xl-grid grid-xl-12">
        <% props.columns.forEach((column)=> { %>
            <div class="col-span-4 col-span-md-8 col-span-xl-4">
                <%- include(`${component}/iconDescription/content`, {
                    microillustration: column.microillustration, 
                    icon: column.icon,
                    title: column.title,
                    text: column.text
                    } )
                %>
            </div>
        <% }) %>
    </div>
    <!-- END: Desktop -->
    <!-- Tablet & Mobile -->
    <div class="d-xl-none overflow-hidden">
        <%- include( `${component}/swiper/start`,
        {
            target: 'icon-description-basic',
            effect: 'centered',
            items: 1
        }
        ) %>

        <% props.columns.forEach((slide)=> { %>
            <div class="swiper-slide">
                <%- include(`${module}/iconDescription/icon/iconDescriptionSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Tablet & Mobile -->
</div>