<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    slides: typeof slides != 'undefined' ? slides : [],
    isDark: typeof isDark != 'undefined' ? isDark : false,
}
const attrs = {
    dark: {
        toString: () => {
            return props.isDark ? 'data-b-system-theme="dark"' : ''
        }
    }
}
%>

<div class="marquee-wrapper position-relative" id="<%- props.id -%>" <%- attrs.dark -%>>
    <%- include( `${component}/swiper/start`,
     {
        target: 'marquee-extended',
        next: '.button-next',
        prev: '.button-prev',
        pagination: 'marquee-extended',
        draggable: 'false'
     }
    ) %>

    <% props.slides.forEach((slide, i)=> { %>
        <div class="swiper-slide">
            <%- include(`${module}/marquee/extended/extendedSlideContent`, {slide}) %>
        </div>
    <% }) %>

    <%- include( `${component}/swiper/end`, { target: 'marquee-extended' }) %>


    <div class="marquee-content-bottom">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'links' }) %>
    </div>

    <div class="button-prev marquee-next">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
    </div>
    <div class="button-next marquee-prev">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
    </div>

</div>