<%
/**
 * @required { 
 *      img:{src:String, alt:String}, 
 *      title:String, 
 *      text:String, 
 *      btn:{ label:String, isCTA:Boolean, icon:String, iconPosition:String }, 
 *      quote:String, 
 *      isDarkened:Boolean 
 * } slide
 */

props = {
    slide
}

const styles = {
    marqueeExtended: {
        darkened: {
            toString: () => (props.slide.isDarkened ? 'marquee-bg-darkened' : '')
        }
    }
}
%>

<div class="marquee marquee-space marquee-size  align-items-center"
     style="display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(3,1fr);">
    <picture>
        <img class="marquee-bg <%- styles.marqueeExtended.darkened -%>"
             src="<%- `${image}/marquee/${props.slide.img.src}.jpg` -%>"
             alt="<%- props.slide.img.alt -%>">
    </picture>
    <div class="overlay"></div>
    <div class="marquee-content">
        <div class="text-center space-y-24 space-y-md-32 container">
            <% if(props.slide.epigraph) { %>
                <h2 class="marquee-epigraph text-white"><%= props.slide.epigraph %></h2>
            <% } %>
            <h1 class="text-white"><%= props.slide.title %></h1>
            <% if(props.slide.text) { %>
                <p class="marquee-text text-white"><%= props.slide.text %></p>
            <% } %>
            <%- include(`${component}/button/button`, {
            label: props.slide.btn.label,
            isCTA: props.slide.btn.isCTA,
            icon: props.slide.btn.icon,
            iconPosition: props.slide.btn.iconPosition }) %>
        </div>
        <p class="text-end align-self-end text-white body-italic-text body-light-text d-none d-xl-block">
            "<%= props.slide.quote %>"</p>
    </div>
</div>