<%
const props = {
    slides: typeof slides != 'undefined' ? slides : []
}
%>

<div class="marquee-wrapper position-relative">
    <%- include( `${component}/swiper/start`,
        {
            target: 'marquee-extended',
            next: '.button-next',
            prev: '.button-prev',
            pagination: 'marquee-extended'
        }
    ) %>

    <% props.slides.forEach((slide, i)=> { %>
        <div class="swiper-slide">
            <%- include(`${module}/marquee/extended/extendedSlideContent`, {slide}) %>
        </div>
    <% }) %>

    <%- include( `${component}/swiper/end`, { target: 'marquee-extended' }) %>


    <div class="marquee-content-bottom">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'links' }) %>
    </div>

    <div class="button-prev marquee-next">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
    </div>
    <div class="button-next marquee-prev">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
    </div>

</div>