<%

const props = {
    slides: typeof slides != 'undefined' ? slides : []
}
%>

<div class="marquee-wrapper position-relative">
    <%- include( `${component}/swiper/start`,
    {
    target: 'marquee-extended',
    next: '.button-next',
    prev: '.button-prev'
    }
    ) %>

    <% props.slides.forEach((slide)=> { %>
        <div class="swiper-slide">
            <%- include(`${module}/marquee/extended/extendedSlideContent`, {slide}) %>
        </div>
    <% }) %>

    <%- include( `${component}/swiper/end`) %>


    <div class="marquee-content-bottom">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'links' }) %>
    </div>
    <div class="marquee-slider-control">
        <div class="button-prev">
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back' }) %>
        </div>
        <div class="button-next">
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next' }) %>
        </div>
    </div>
</div>