<%

    const props = {
        id: typeof id !== 'undefined' ? id : null,
        head: typeof head !== 'undefined' ? head : null,
        columns: typeof columns !== 'undefined' ? columns : [],
        img: typeof img !== 'undefined' ? img : null,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        iconDescription: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="section-icon-description module <%- styles.iconDescription.border -%> <%- styles.iconDescription.darkened -%> text-center position-relative" id="<%- props.id -%>" <%- styles.iconDescription.dark -%>>
    <%- include(`${component}/text/head-x3`, { text: props.head }) %>
    <% if(props.img) { %>
        <picture class="img-container d-none d-xl-flex justify-content-center align-items-center w-100 h-100 position-absolute">
            <img class="img-bg" src="<%= `${image}/icon-description/${props.img}.svg` %>" alt="background icon">
        </picture>
    <% } %>
    <!-- Desktop -->
    <div class="container d-none d-xl-grid grid-4 grid-md-8 grid-xl-12 row-gap-56">
        <% props.columns.forEach((column)=> { %>
            <div class="col-span-4 col-span-md-8 col-span-xl-4">
                <%- include(`${component}/iconDescription/content`, { 
                    microillustration: {
                        src: column.microillustration.src,
                        alt: column.microillustration.alt
                    },
                    icon: column.icon,
                    title: column.title,
                    text: column.text
                    } )
                %>
            </div>
        <% }) %>
    </div>
    <!-- END: Desktop -->

    <!-- Tablet & Mobile -->
    <div class="icon-description-wrapper overflow-hidden d-block d-xl-none my-0">
        <%- include( `${component}/swiper/start`,
        {
            target: 'icon-description',
            effect: 'centered',
            items: 1
        }
        ) %>

        <% props.columns.forEach((slide)=> { %>
            <div class="swiper-slide ">
                <%- include(`${module}/iconDescription/microillustration/microillustrationDescriptionSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Tablet & Mobile -->
</div>