<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<div class="main-content main-content-space-top">
    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/basic`, {
                img: 'logo-dark.svg',
                imgAlt: 'Logo dark',
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                setup: 'estandar',
            }) %>
        </div>
    </section>

    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/basic`, {
                img: 'logo-dark.svg',
                imgAlt: 'Logo dark',
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                setup: 'estandar',
                variant: 'darkener',
            }) %>
        </div>
    </section>

    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/basic`, {
                img: 'logo-light.svg',
                imgAlt: 'Logo light',
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                setup: 'estandar',
                isDark: true,
            }) %>
        </div>
    </section>

    <section class="module-wrapper">
        <div class="module-view-example-wrapper">
            <%- include(`${component}/footer/basic`, {
                img: 'logo-light.svg',
                imgAlt: 'Logo light',
                text:'.Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio',
                setup: 'estandar',
                variant: 'darkener',
                isDark: true,
            }) %>
        </div>
    </section>
</div>

