<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Illustrations</h3>
        </header>
        <div class="demo-grid-size--360 demo-boxes">

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'man',
                        } ) %>
                </div>
                <div class="demo-label">
                    Man
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'woman',
                        } ) %>
                </div>
                <div class="demo-label">
                    Woman
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'boy',
                        } ) %>
                </div>
                <div class="demo-label">
                    Boy
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'girl',
                        } ) %>
                </div>
                <div class="demo-label">
                    Girl
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'classic-house',
                        } ) %>
                </div>
                <div class="demo-label">
                    Classic house
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'modern-house',
                        } ) %>
                </div>
                <div class="demo-label">
                    Modern house
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'edifice',
                        } ) %>
                </div>
                <div class="demo-label">
                    Edifice
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'scenery',
                        } ) %>
                </div>
                <div class="demo-label">
                    Scenery
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'work-table',
                        } ) %>
                </div>
                <div class="demo-label">
                    Work table
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'man-resting',
                        } ) %>
                </div>
                <div class="demo-label">
                    Man resting
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'leaf-1',
                        } ) %>
                </div>
                <div class="demo-label">
                    Leaf 1
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'leaf-2',
                        } ) %>
                </div>
                <div class="demo-label">
                    Leaf 2
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'leaf-3',
                        } ) %>
                </div>
                <div class="demo-label">
                    Leaf 3
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'illustration',
                        illustration: 'leaf-4',
                        } ) %>
                </div>
                <div class="demo-label">
                    Leaf 4
                </div>
            </div>

        </div>
    </div>
</section>
