<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Illustrations</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'boy',
                    } ) %>
                <span class="label">
                    Boy
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'classic-house',
                    } ) %>
                <span class="label">
                    Classic house
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'edifice',
                    } ) %>
                <span class="label">
                    Edifice
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'girl',
                    } ) %>
                <span class="label">
                    Girl
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'leaf-1',
                    } ) %>
                <span class="label">
                    Leaf 1
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'leaf-2',
                    } ) %>
                <span class="label">
                    Leaf 2
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'leaf-3',
                    } ) %>
                <span class="label">
                    Leaf 3
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'leaf-4',
                    } ) %>
                <span class="label">
                    Leaf 4
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'man',
                    } ) %>
                <span class="label">
                    Man
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'man-resting',
                    } ) %>
                <span class="label">
                    Man resting
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'modern-house',
                    } ) %>
                <span class="label">
                    Modern house
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'scenery',
                    } ) %>
                <span class="label">
                    Scenery
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'woman',
                    } ) %>
                <span class="label">
                    Woman
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'illustration',
                    illustration: 'work-table',
                    } ) %>
                <span class="label">
                    Work table
                </span>
            </div>

        </div>
    </div>
</section>
