<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>
<!--MICROILLUSTRATIONS-->

<section class="section illustration darkener">
    <div class="container">
        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Illustrations</h3>
        <div class="d-grid grid-1 grid-sm-4 grid-xl-6 column-gap-24 row-gap-48 space-bottom-48">

            <div class="col-1-to-2 col-sm-1-to-3 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'man', size:'illustration', alt: 'man'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Man
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'woman', size:'illustration', alt: 'woman'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Woman
                </span>
            </div>

            <div class="col-1-to-2 col-sm-1-to-3 col-xl-5-to-7 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'boy', size:'illustration', alt: 'boy'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Boy
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 col-xl-1-to-3 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'girl', size:'illustration', alt: 'girl'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Girl
                </span>
            </div>

            <div class="col-1-to-2 col-sm-1-to-3 col-xl-3-to-5 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'classic-house', size:'illustration', alt: 'classic house'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Classic house
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 col-xl-5-to-7 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'modern-house', size:'illustration', alt: 'modern house'} } ) %>
                </div>
                 <span class="body-light-gray-text">
                    Modern house
                </span>
            </div>

            <div class="col-1-to-2 col-sm-1-to-3 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'edifice', size:'illustration', alt: 'edifice'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Edifice
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'scenary', size:'illustration', alt: 'scenary'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Scenary
                </span>
            </div>

            <div class="col-1-to-2 col-sm-1-to-3 col-xl-5-to-7 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'work-table', size:'illustration', alt: 'work table'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Work table
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 col-xl-1-to-3 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'man-resting', size:'illustration', alt: 'man resting'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Man resting
                </span>
            </div>

            <div class="col-1-to-2 col-sm-1-to-3 col-xl-3-to-5 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf-1', size:'illustration', alt: 'leaf 1'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 1
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 col-xl-5-to-7 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf-2', size:'illustration', alt: 'leaf 2'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 2
                </span>
            </div>

            <div class="col-1-to-2 col-sm-1-to-3 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf-3', size:'illustration', alt: 'leaf 3'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 3
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 space-y-24">
                <div class="illustration-container shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf-4', size:'illustration', alt: 'leaf 4'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 4
                </span>
            </div>
        </div>
    </div>
</section>

