<%- include(`${view}/quick_start/layout`) %>
<%- include(`${view}/quick_start/darkened-layout`) %>

<%- contentFor('body') %>
<!--MICROILLUSTRATIONS-->

<section class="section darkened">
    <div class="container">
        <%- include(`${component}/text/head-x3`, { text: 'Illustrations' }) %>
        <div class="d-grid grid-1 grid-sm-2 grid-xl-3 column-gap-24 row-gap-48 space-bottom-48">
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'man', size:'illustration', alt: 'man'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Man
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'woman', size:'illustration', alt: 'woman'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Woman
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'boy', size:'illustration', alt: 'boy'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Boy
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'girl', size:'illustration', alt: 'girl'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Girl
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'classic-house', size:'illustration', alt: 'classic house'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Classic house
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'modern-house', size:'illustration', alt: 'modern house'} } ) %>
                </div>
                 <span class="body-light-gray-text">
                    Modern house
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'edifice', size:'illustration', alt: 'edifice'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Edifice
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'scenary', size:'illustration', alt: 'scenary'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Scenary
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'work-table', size:'illustration', alt: 'work table'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Work table
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'man-resting', size:'illustration', alt: 'man resting'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Man resting
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf_1', size:'illustration', alt: 'leaf 1'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 1
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf_2', size:'illustration', alt: 'leaf 2'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 2
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf_3', size:'illustration', alt: 'leaf 3'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 3
                </span>
            </div>
            <div class="space-y-24">
                <div class="demo-card">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf_4', size:'illustration', alt: 'leaf 4'} } ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 4
                </span>
            </div>
        </div>
    </div>
</section>

