<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('styles') %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: true,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<main class="main">
    <section class="section section-divider">
        <div class="container">
            <%- include(`${module}/iconSocial/iconSocial`, { socials: ['behance', 'youtube', 'pinterest', 'twitter', 'linkedin'] }) -%>
        </div>
    </section>

    <section class="section section-divider darkened">
        <div class="container">
            <%- include(`${module}/iconSocial/iconSocial`, { socials: ['behance', 'youtube', 'pinterest', 'twitter', 'linkedin'] }) -%>
        </div>
    </section>

    <section class="section section-divider" data-bsystem="dark">
        <div class="container">
            <%- include(`${module}/iconSocial/iconSocial`, { socials: ['behance', 'youtube', 'pinterest', 'twitter', 'linkedin'] }) -%>
        </div>
    </section>

    <section class="section section-divider darkened" data-bsystem="dark">
        <div class="container">
            <%- include(`${module}/iconSocial/iconSocial`, { socials: ['behance', 'youtube', 'pinterest', 'twitter', 'linkedin'] }) -%>
        </div>
    </section>
</main>