<%

    const props = {
        id: typeof id !== 'undefined' ? id : null,
        masked: masked,
        subtitle: typeof subtitle !== 'undefined' ? subtitle : null,
        title: typeof title !== 'undefined' ? title : null,
        isSerif: typeof isSerif !== 'undefined' ? isSerif : false,
        links: typeof links !== 'undefined' ? links : [],
        btn: btn,
        contentPosition: typeof contentPosition !== 'undefined' ? contentPosition : 'right',
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
        background: typeof background !== 'undefined' ? background : null,
    }

    const styles = {
        digitalProduct: {
            position: {
            toString: () => (props.contentPosition !== 'right' ? 'flex-xl-row-reverse' : 'flex-xl-row')
            },
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            },
            background: {
                toString: () => (props.background ? `section-bg-color bg-${props.background}` : '')
            },
            titleFont: {
                toString: () => (props.isSerif ? 'title-serif' : '')
            }
        }
    }

%>

<div class="module <%- styles.digitalProduct.border -%> <%- styles.digitalProduct.background -%> <%- styles.digitalProduct.darkened -%> inner-space-block-md-64 inner-space-block-xl-120" id="<%- props.id -%>" <%- styles.digitalProduct.dark -%>>
    <div class="digital-product container d-flex flex-column <%- styles.digitalProduct.position -%> mx-auto">
        <div class="digital-product-masked space-bottom-48 space-bottom-md-56">
            <%- include(`${component}/iconDescription/masked`, {
                img: {
                    src: props.masked.img.src,
                    alt: props.masked.img.alt,
                    height: props.masked.img.height,
                    width: props.masked.img.width
                },
                shape: props.masked.shape,
                } )
            %>
        </div>
        <div class="digital-product-wrapper space-y-24 space-y-md-40">
            <p class="digital-product-subtitle"><%- props.subtitle -%></p>
            <h1 class="digital-product-title <%- styles.digitalProduct.titleFont -%>"><%- props.title -%></h1>
            <% if(props.links) { %>
                <div class="digital-product-links d-flex space-x-24">
                    <% props.links.forEach((link)=> { %>
                        <div class="digital-product-link d-flex space-x-8">
                            <picture>
                                <img class="digital-product-link-icon" src="<%= `${image}/${link.icon}.svg` %>" alt="link icon">
                            </picture>
                            <%- include( `${component}/links/link`, {
                                href: link.href,
                                label: link.label
                            } ) %>
                        </div>
                    <% }) %> 
                </div>
            <% } %>
            <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
        </div>
    </div>
</div>