<%
/**
 * @required { href:String, label:String, icon:String } link
 * @required { src:String, alt:String } img
 * @required { type:String, color:String } background
 */
const props = {
    img,
    text,
    link,
    title: typeof title !== 'undefined' ? title : null,
    background: typeof background !== 'undefined' ? background : null,
    slides: typeof slides != 'undefined' ? slides : []
}
const styles = {
    background: {
        toString: () => {
            return props.background ? `bg-${props.background}` : ''
        }
    }
}
%>

<section class="section section-business-case <%- styles.background -%>">
    <picture class="business-case-img-container">
        <img class="business-case-img" src="<%- `${image}/${props.img.src}.svg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="business-case container mx-auto">
        <div class="d-grid grid-8 grid-xl-12 align-items-center">
            <div class="business-case-head space-y-24 space-y-xl-32 col-span-8 col-span-xl-4">
                <h3 class="business-case-title text-white text-center text-xl-start"><%- props.title -%></h3>
                <p class="business-case-text text-white text-center text-xl-start"><%- props.text -%></p>
                <div class="d-none d-xl-block">
                    <%- include( `${component}/links/link`, {
                    href: props.link.href,
                    label: props.link.label,
                    icon: props.link.icon,
                    custom: 'text-white'
                    } ) %>
                </div>
            </div>
            <div class="slider col-span-8 col-xl-6-to-13">
                <div class="swiper d-sm-none"
                     data-bsystem="swiper"
                     data-swiper-target="centered"
                     data-swiper-effect="centered"
                     data-swiper-next=".button-next"
                     data-swiper-prev=".button-prev">

                    <div class="swiper-wrapper">
                        <% props.slides.forEach((slide)=> { %>
                            <div class="swiper-slide">
                                <div class="slide-header slide-content">
                                    <p class="slide-title body-regular-text"><%- slide.title %></p>
                                    <%- include(`${component}/icons/icon`, { icon: slide.icon } ) %>
                                    <p class="slide-text body-light-text"><%- slide.text %></p>
                                </div>
                                <img class="business-case-img" src="<%- `${image}/${slide.img.src}.svg` -%>" alt="<%- slide.img.alt -%>">
                                <div class="slide-footer slide-content">
                                    <p class="slide-date body-light-text"><%- slide.date %></p>
                                    <%- include( `${component}/links/link`, {
                                        href: slide.link.href,
                                        label: slide.link.label,
                                        icon: slide.link.icon,
                                        } ) %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper d-none d-sm-block"
                     data-bsystem="swiper"
                     data-swiper-target="cards"
                     data-swiper-effect="cards"
                     data-swiper-next=".button-next"
                     data-swiper-prev=".button-prev">

                    <div class="swiper-wrapper">
                        <% props.slides.forEach((slide)=> { %>
                            <div class="swiper-slide">
                                <div class="slide-header slide-content">
                                    <p class="slide-title body-regular-text"><%- slide.title %></p>
                                    <%- include(`${component}/icons/icon`, { icon: slide.icon } ) %>
                                    <p class="slide-text body-light-text"><%- slide.text %></p>
                                </div>
                                <img class="business-case-img" src="<%- `${image}/${slide.img.src}.svg` -%>" alt="<%- slide.img.alt -%>">
                                <div class="slide-footer slide-content">
                                    <p class="slide-date body-light-text"><%- slide.date %></p>
                                    <%- include( `${component}/links/link`, {
                                        href: slide.link.href,
                                        label: slide.link.label,
                                        icon: slide.link.icon,
                                        } ) %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="button-next d-none d-xl-block">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-next' } ) -%>
                </div>
                <div class="button-prev d-none d-xl-block">
                    <%- include(`${component}/icons/icon`, { icon: 'dart-back' } ) -%>
                </div>
                <div class="pagination d-xl-none space-top-56 mx-auto col-min"></div>
            </div>
        </div>
    </div>
</section>
