<%
/**
 * @required { href:String, label:String, icon:String } link
 * @required { src:String, alt:String } img
 * @required { type:String, color:String } background
 */

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        link: link,
        img, img,
        background: background,
    }

%>

<section class="section section-divider section-business-case position-relative overflow-hidden" style="background-color: <%= `var(--c-${props.background.type}__${props.background.color})` %>;">
    <picture class="business-case-img-container d-flex justify-content-center align-items-end align-items-md-center w-100 h-100 position-absolute">
        <img class="business-case-img" src="<%- `${image}/${props.img.src}.svg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="business-case container row align-items-center mx-auto">
        <div class="business-case-head col-12 col-md-8 col-xl-4 mx-auto space-y-24 space-y-xl-32">
            <h3 class="business-case-title text-white text-center text-xl-start"><%- props.title -%></h3>
            <p class="business-case-text text-white text-center text-xl-start"><%- props.text -%></p>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        </div>
        <div class="col-12 col-md-8 col-xl-6 mx-auto"></div>
    </div>
</section>