<%
/**
 * @required { title:String, text:String, img:{src:String, alt:String} } slide
 */
const props = {
    slide
}
const styles = {
    background: {
        toString: () => {
            return props.background ? `bg-${props.background}` : ''
        }
    }
}
%>

<div class="slide-content-wrapper">
    <div class="slide-header">
        <div class="slide-head-wrapper">
            <p class="body-regular-text"><%- slide.title %></p>
            <p class="body-light-text"><%- slide.text %></p>
        </div>
        <%- include(`${component}/illustration/illustration`, {img: {src: 'system', size:'microillustration', alt: 'system', width:'24px', height: '24px'}} ) %>
    </div>
    <img class="business-case-img" src="<%- `${image}/${slide.img.src}.svg` -%>" width="240" alt="<%- slide.img.alt -%>">
    <div class="slide-footer">
        <p class="slide-date body-light-text"><%- slide.date %></p>
        <%- include( `${component}/links/link`, {
        href: slide.link.href,
        label: slide.link.label,
        icon: slide.link.icon,
        } ) %>
    </div>
</div>
