<%
/**
 * @required { href:String, label:String, icon:String, iconPosition:String } link
 */
    const props = {
        id: typeof id !== 'undefined' ? id : null,
        title: typeof title !== 'undefined' ? title : null,
        cards: typeof cards !== 'undefined' ? cards : [],
        link: typeof link !== 'undefined' ? link : null,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
        background: typeof background !== 'undefined' ? background : null,
    }
    const styles = {
        featureCard: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            },
            background: {
                toString: () => (props.background ? `section-bg-color bg-${props.background}` : '')
            },
        }
    }
%>

<div class="module <%- styles.featureCard.border -%> <%- styles.featureCard.darkened -%> <%- styles.featureCard.background -%>" id="<%- props.id -%>" <%- styles.featureCard.dark -%>>
    <div class="container p-0 d-flex flex-column align-items-center space-y-48 space-y-md-56 space-y-xl-72">
        <% if(props.title !== 'B_system') { %>
            <h3 class="featured-card-title text-center"><%- props.title -%></h3>
        <% } %>

        <div class="featured-slide-wrapper w-100 overflow-hidden">
            <%- include( `${component}/swiper/start`,
                {
                    target: 'featured-card-xl',
                    items: {
                        xl: 3,
                        md: 2,
                        xs: 1
                    }
                }
            ) %>

            <% props.cards.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/featuredCard/avatar/featuredCardSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>

        <% if(props.link) { %>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
                iconPosition: props.link.iconPosition
            }) %>
        <% } %>
    </div>
</div>