<%
/**
 * @required {string} idAccordion
 * @required {string} idItem
 * @required {string} label
 * @required {string} content
 */

const props = {
    idAccordion,
    idItem,
    isDarkened,
    content,
    noSection: typeof noSection !== 'undefined' ? noSection : false,
};
const styles = {
    accordion: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        }
    }
};
%>
<%
const options = {
    'indent_size': '4',
    'indent_char': ' ',
    'max_preserve_newlines': '5',
    'preserve_newlines': false,
    'keep_array_indentation': false,
    'break_chained_methods': false,
    'indent_scripts': 'normal',
    'brace_style': 'collapse',
    'space_before_conditional': true,
    'unescape_strings': false,
    'jslint_happy': true,
    'end_with_newline': false,
    'wrap_line_length': '120',
    'indent_inner_html': false,
    'comma_first': false,
    'e4x': false,
    'indent_empty_lines': false
};

let html = props.content.trim().replace(/ {2,}/g, ' ');
html = beautify(html, options);
%>
<% if(!props.noSection) { %>
<div class="section">
    <div class="container">
        <% } %>
        <div class="accordion-item <%- styles.accordion.darkened; -%>">
            <h2 id="heading-<%= props.idItem ;%>" class="accordion-header">
                <button class="accordion-button position-relative body-medium-text <%= `${props.isOpen ? '' : 'collapsed'}` ;%>"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= props.idItem ;%>"
                        aria-expanded="<%= `${props.isOpen ? '' : 'false'}` ;%>"
                        aria-controls="collapse-<%= props.idItem ;%>">
                    View example´s code
                </button>
            </h2>
            <div id="collapse-<%= props.idItem ;%>"
                 class="accordion-collapse collapse <%= `${props.isOpen ? 'show' : ''}` ;%>"
                 aria-labelledby="heading-<%= props.idItem ;%>" data-bs-parent="#<%= props.idAccordion ;%>">
                <div class="accordion-body overflow-hidden">
                    <pre><code class="language-html"><xmp><%- html; %></xmp></code></pre>
                </div>
            </div>
        </div>
        <% if(!props.noSection) { %>
    </div>
</div>
<% } %>
