<%
/**
 * @required {string} idAccordion
 * @required {string} idItem
 * @required {string} label
 * @required {string} content
 */

const props = {
    idAccordion,
    idItem
}
%>

<div class="section">
    <div class="container">
        <div class="accordion-item">
            <h2 id="heading-<%= props.idItem %>" class="accordion-header">
                <button class="accordion-button position-relative body-regular-gray-text px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= props.idItem %>" aria-controls="collapse-<%= props.idItem %>">
                    <span class="accordion-button-text body-regular-gray-text inner-space-right-32 inner-space-right-md-40">Show component code</span>
                </button>
            </h2>
            <div id="collapse-<%= props.idItem %>" class="accordion-collapse collapse %>" aria-labelledby="heading-<%= props.idItem %>" data-bs-parent="#<%= props.idAccordion %>">
                <div class="accordion-body px-0 inner-space-block-24">
                     <pre>
                        <code class="language-html">
                           <xmp>