<%

const VARIANTS_ENUM = {
    DARKENER: 'darkener',
    DEFAULT: 'default'
}

const SETUPS_ENUM = {
    BASIC: 'basic',
    ESTANDAR: 'estandar',
    NEWSLETTER: 'newsletter',
}

const props = {
    img: typeof img !== 'undefined' ? img : '',
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : 'logo',
    text: typeof text !== 'undefined' ? text : null,
    textNewsletter: typeof textNewsletter !== 'undefined' ? textNewsletter : null,
    variant: typeof variant !== 'undefined' ? variant : 'default',
    setup: typeof setup !== 'undefined' ? setup : 'basic',
    isDark: typeof isDark !== 'undefined' ? isDark : false,
}

function validate(props) {
    if (!Object.values(VARIANTS_ENUM)
            .includes(props.variant)) {
        throw new Error(`The variant ${props.variant} isn't allowed`)
    }

    if (!Object.values(SETUPS_ENUM)
            .includes(props.setup)) {
        throw new Error(`The variant ${props.variant} isn't allowed`)
    }
}

validate(props)

const styles = {
  footer: {
    variant: {
      toString:()=>{
        return `${props.variant}`
      }
    },
    setup: {
      toString:()=>{
        return `footer-${props.setup}`
      }
    }
  }
}

const attrs = {
    footer: {
        dark: {
            toString: () => {
                return props.isDark ? 'data-bsystem="dark"' : ''
            }
        }
    }
}
%>
<footer class="footer <%- styles.footer.setup -%> <%- styles.footer.variant -%> inner-space-inline-16 inner-space-inline-sm-24" <%- attrs.footer.dark -%>>
    <div class="footer-wrapper container">
        <div class="footer-content d-flex gap-32 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-72">
            <a class="footer-logo" href="<%= QUICK_START.HOME %>">
                <img src="<%- `${image}/${props.img}` -%>" class="logo" alt="<%- props.imgAlt -%>" />
            </a>
            <p class="copy">
                <%= props.text %>
            </p>
        </div>
        <% if(props.setup === 'newsletter') { %>
        <div class="footer-subscribe d-flex flex-column row-gap-24 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
            <p class="subscribe-text copy">
                <%= props.textNewsletter %>
            </p>
            <form class="subscribe-form d-flex column-gap-32">
                <input type="text" class="form-control h-100" placeholder="Name">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div>
        <% } %>
        <div class="accordion accordion-flush w-100 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    View example´s code
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim deleniti autem eveniet minima quae libero quaerat quam ipsa eos officia aliquam accusamus fugiat molestias necessitatibus sapiente, dicta illum pariatur unde.</p></div>
              </div>
            </div>
        </div>
    </div>
</footer>
