<%

const VARIANTS_ENUM = {
    DARKENER: 'darkener',
    DEFAULT: 'default'
}

const SETUPS_ENUM = {
    BASIC: 'basic',
    ESTANDAR: 'estandar',
    NEWSLETTER: 'newsletter',
}

const props = {
    img: typeof img !== 'undefined' ? img : '',
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : 'logo',
    text: typeof text !== 'undefined' ? text : null,
    textNewsletter: typeof textNewsletter !== 'undefined' ? textNewsletter : null,
    variant: typeof variant !== 'undefined' ? variant : 'default',
    setup: typeof setup !== 'undefined' ? setup : 'basic',
    isDark: typeof isDark !== 'undefined' ? isDark : false,
}

function validate(props) {
    if (!Object.values(VARIANTS_ENUM)
            .includes(props.variant)) {
        throw new Error(`The variant ${props.variant} isn't allowed`)
    }

    if (!Object.values(SETUPS_ENUM)
            .includes(props.setup)) {
        throw new Error(`The variant ${props.variant} isn't allowed`)
    }
}

validate(props)

const styles = {
  footer: {
    variant: {
      toString:()=>{
        return `footer-${props.variant}`
      }
    },
    setup: {
      toString:()=>{
        return `footer-${props.setup}`
      }
    }
  }
}

const attrs = {
    footer: {
        dark: {
            toString: () => {
                return props.isDark ? 'data-bsystem="dark"' : ''
            }
        }
    }
}
%>
<footer class="footer <%- styles.footer.setup -%> <%- styles.footer.variant -%>" <%- attrs.footer.dark -%>>
    <div class="footer-wrapper container">
        <div class="footer-content d-flex flex-column justify-content-center align-items-center gap-24 text-center space-bottom-24 space-bottom-sm-16">
            <a class="footer-logo" href="<%= QUICK_START.HOME %>">
                <img src="<%- `${image}/${props.img}` -%>" class="logo" alt="<%- props.imgAlt -%>" />
            </a>
            <p class="copy">
                <%= props.text %>
            </p>
        </div>
        <% if(props.setup === 'newsletter') { %>
        <div class="footer-subscribe">
            <p class="subscribe-text copy">
                <%= props.textNewsletter %>
            </p>
        </div>
        <% } %>
    </div>
</footer>
