<%
/**
 * @required { href:String, label:String, icon:String, iconPosition:String } link
 * @required { src:String, alt:String } img
 */


const VARIANTS_ENUM = {
    DARKENER: 'darkener',
    DEFAULT: 'default'
}

const props = {
    img: img,
    text: typeof text !== 'undefined' ? text : null,
    link: link,
    columns: typeof columns !== 'undefined' ? columns : [],
    variant: typeof variant !== 'undefined' ? variant : 'default',
    isDark: typeof isDark !== 'undefined' ? isDark : false,
}

function validate(props) {
    if (!Object.values(VARIANTS_ENUM)
            .includes(props.variant)) {
        throw new Error(`The variant ${props.variant} isn't allowed`)
    }
}

validate(props)

const styles = {
  footer: {
    variant: {
      toString:()=>{
        return `${props.variant}`
      }
    }
  }
}

const attrs = {
    footer: {
        dark: {
            toString: () => {
                return props.isDark ? 'data-bsystem="dark"' : ''
            }
        }
    }
}
%>
<footer class="footer footer-corporate <%- styles.footer.variant -%> inner-space-inline-16 inner-space-inline-sm-24" <%- attrs.footer.dark -%>>
    <div class="footer-wrapper container">
        <div class="footer-contain inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
            <div class="footer-content d-flex align-items-start gap-24 space-bottom-48 space-bottom-sm-64">
                <a class="footer-logo" href="<%= QUICK_START.HOME %>">
                    <img src="<%- `${image}/${props.img.src}` -%>" class="logo" alt="<%- props.img.alt -%>" />
                </a>
                <p class="copy">
                    <%= props.text %>
                </p>
                <%- include( `${component}/links/link`, {
                    href: `mailto:${link.href}`,
                    label: link.label,
                    icon: link.icon,
                    iconPosition: link.iconPosition
                    } ) %>
            </div>
            <% if(props.columns.length <= 4 && props.columns.length > 0) { %>
            <div class="footer-columns-container d-grid grid-2 grid-md-4 column-gap-32 row-gap-40">
                <% props.columns.forEach((column) => { %>
                <div class="footer-column">
                    <% for (var e = 0; e < 1; e++) { %>
                    <p class="footer-column-title body-bold-text space-bottom-32"><%- column[e].title -%></p>
                    <% } %>
                    <ul class="list-unstyled space-y-16">
                        <% column.forEach((element) => { %>
                        <li class="footer-list-item">
                            <a class="footer-link" href="<%- element.href -%>">
                                <%- element.name -%>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <% }) %>
            </div>
            <% } %>
        </div>
        <div class="accordion accordion-flush w-100 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    View example´s code
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim deleniti autem eveniet minima quae libero quaerat quam ipsa eos officia aliquam accusamus fugiat molestias necessitatibus sapiente, dicta illum pariatur unde.</p></div>
              </div>
            </div>
        </div>
    </div>
</footer>
