<%
/**
 * @required { href:String, label:String, icon:String, iconPosition:String } link
 * @required { src:String, alt:String } img
 */

const props = {
    img: img,
    text: typeof text !== 'undefined' ? text : null,
    link: link,
    columns: typeof columns !== 'undefined' ? columns : [],
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
}

const styles = {
    footer: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        }
    }
}
%>
<footer class="footer footer-corporate <%- styles.footer.darkened -%> inner-space-inline-16 inner-space-inline-sm-24 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
    <div class="footer-wrapper container">
        <div class="footer-contain">
            <div class="footer-content d-flex align-items-start gap-24 space-bottom-48 space-bottom-sm-64">
                <a class="footer-logo" href="<%= QUICK_START.HOME %>">
                    <img src="<%- `${image}/${props.img.src}` -%>" class="logo" alt="<%- props.img.alt -%>" />
                </a>
                <p class="copy">
                    <%= props.text %>
                </p>
                <%- include( `${component}/links/link`, {
                    href: `mailto:${link.href}`,
                    label: link.label,
                    icon: link.icon,
                    iconPosition: link.iconPosition
                    } ) %>
            </div>
            <% if(props.columns.length <= 4 && props.columns.length > 0) { %>
            <div class="footer-columns-container d-grid grid-2 grid-md-4 column-gap-32 row-gap-40">
                <% props.columns.forEach((column) => { %>
                <div class="footer-column">
                    <% for (var e = 0; e < 1; e++) { %>
                    <p class="footer-column-title body-bold-text space-bottom-32"><%- column[e].title -%></p>
                    <% } %>
                    <ul class="list-unstyled space-y-16">
                        <% column.forEach((element) => { %>
                        <li class="footer-list-item">
                            <a class="footer-link" href="<%- element.href -%>">
                                <%- element.name -%>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <% }) %>
            </div>
            <% } %>
        </div>
    </div>
</footer>
