<%
/**
 * @required { src:String, alt:String } img
 * @required { type:String, id:String, label:String } input
 */

const props = {
    img: img,
    text: typeof text !== 'undefined' ? text : null,
    textNewsletter: typeof textNewsletter !== 'undefined' ? textNewsletter : null,
    input: input,
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false
}

const styles = {
    footer: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        }
    }
}

%>

<footer class="footer footer-newsletter <%- styles.footer.darkened -%> inner-space-inline-16 inner-space-inline-sm-24 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
    <div class="footer-wrapper container">
        <div class="footer-content d-flex gap-32">
            <a class="footer-logo" href="<%= QUICK_START.HOME %>">
                <img src="<%- `${image}/${props.img.src}` -%>" class="logo" alt="<%- props.img.alt -%>" />
            </a>
            <p class="copy body-light-text">
                <%= props.text %>
            </p>
        </div>
        <div class="footer-subscribe d-flex flex-column row-gap-24">
            <p class="footer-subscribe-text body-light-text copy">
                <%= props.textNewsletter %>
            </p>
            <form class="footer-form d-flex column-gap-32 w-100">
                <%- include(`${component}/forms/input`, { type: props.input.type, id: props.input.id, label: props.input.label}) %>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div>
    </div>
</footer>
