<%
/**
 * @required { 
 *      img:{src:String, alt:String}, 
 *      title:String,
 *      text:String, 
 *      btn:String,
 *} slide
 */

const props = {
    slide
}
%>

<div class="marquee marquee-image marquee-space marquee-size position-relative">
    <picture>
        <img class="marquee-bg" src="<%- `${image}/marquee/${props.slide.img.src}.jpg` -%>" alt="<%- props.slide.img.alt -%>">
    </picture>

    <div class="marquee-content align-items-center align-items-md-start space-y-32 space-y-xl-64">
        <h1 class="marquee-title"><%= props.slide.title %></h1>
        <% if(props.slide.text) { %>
        <p class="marquee-text body-light-text text-black"><%= props.slide.text %></p>
        <% } %>
        <%- include(`${component}/button/button`, { label: props.slide.btn }) %>
    </div>
</div>
