<%

const props = {
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    iconFavorite: typeof iconFavorite !== 'undefined' ? iconFavorite : null,
    iconShopping: typeof iconShopping !== 'undefined' ? iconShopping : null,
    name: typeof name !== 'undefined' ? name : null,
    price: typeof price !== 'undefined' ? price : null,
    typesColor: typeof typesColor !== 'undefined' ? typesColor : [],
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : '#',
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : null,
}

%>

<div class="card border-0 h-100">
    <div class="img-container position-relative">
        <img class="img-card img-rounded-<%= props.imgRounded %>" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
        <div class="img-info product-transition d-flex flex-column align-items-end justify-content-between position-absolute w-100 h-100 inner-space-block-24 inner-space-inline-24">
            <% if(props.iconFavorite === 'yes' || props.iconShopping === 'yes') { %>
                <div class="nav-icons d-flex space-x-16">
                    <% if(props.iconFavorite) { %>
                    <%- include(`${component}/icons/icon`, {icon: 'heart'}) %>
                    <% }
                    if(props.iconShopping) { %>
                    <%- include(`${component}/icons/icon`, {icon: 'shopping'}) %>
                    <% } %>
                </div>
                <% if(props.labelLink) { %>
                <%- include( `${component}/links/link`, {
                    href: props.hrefCard,
                    label: props.labelLink,
                    icon: props.iconLink,
                } ) %>
                <% }
                if(props.typesColor !== '') { %>
                    <div class="product-picker d-flex space-x-16 space-top-16">
                    <% props.typesColor.forEach((element) => { %>
                        <span class="product-color d-block" style="background-color: <%= element.color %>;"></span>
                    <% }) %>
                    </div>
                    <% } %>
                <% } %>
        </div>
    </div>
    <% if(props.name && props.price) { %>
    <div class="product-info card-body space-y-7">
        <% if(props.name) { %>
        <h5 class="mb-0"><%= props.name %></h5>
        <% }
        if(props.price) { %>
        <h5 class="body-light-text product-price mb-0"><%= props.price %></h5>
        <% } %>
    </div>
    <% } %>
</div>

