<%

const props = {
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    iconFavorite: typeof iconFavorite !== 'undefined' ? iconFavorite : null,
    iconShopping: typeof iconShopping !== 'undefined' ? iconShopping : null,
    name: typeof name !== 'undefined' ? name : null,
    price: typeof price !== 'undefined' ? price : null,
    background: typeof background !== 'undefined' ? background : 'no',
    typesColor: typeof typesColor !== 'undefined' ? typesColor : [],
}

%>

<div class="card border-0 product-extend">
    <img class="img-card img-rounded-<%= props.background %>" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
    <% if(props.name && props.price) { %>
    <div class="product-info bg-<%= props.background %> card-body space-y-7">
        <% if(props.name) { %>
        <h5 class="mb-0"><%= props.name %></h5>
        <% }
        if(props.price) { %>
        <h5 class="body-light-text product-price mb-0"><%= props.price %></h5>
        <% } 
        if(props.typesColor.length > 0) { %>
        <div class="d-flex space-x-16 space-top-16">
            <% props.typesColor.forEach((element) => { %>
                <span class="product-color d-block" style="background-color: <%= element.color %>;"></span>
            <% }) %>
        </div>
        <% } %>
    </div>
    <% } %>
</div>

