<%

const props = {
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    iconFavorite: typeof iconFavorite !== 'undefined' ? iconFavorite : null,
    iconShopping: typeof iconShopping !== 'undefined' ? iconShopping : null,
    name: typeof name !== 'undefined' ? name : null,
    price: typeof price !== 'undefined' ? price : null,
    background: typeof background !== 'undefined' ? background : 'no',
    imgRounded: typeof imgRounded !== 'undefined' ? imgRounded : 'no',
    typesColor: typeof typesColor !== 'undefined' ? typesColor : [],
}

%>

<div class="card border-0">
    <img class="img-basic img-card img-rounded-<%= props.imgRounded %> rounded-top-<%= props.background %>" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
    <% if(props.name && props.price) { %>
    <div class="info-product bg-<%= props.background %> card-body space-y-7">
        <div class="d-flex align-items-center justify-content-between">
            <% if(props.name) { %>
            <h5 class="mb-0"><%= props.name %></h5>
            <% }
            if(props.iconFavorite === 'yes' || props.iconShopping === 'yes') { %>
            <div class="nav-icons d-flex space-x-16">
                <% if(props.iconFavorite) { %>
                <%- include(`${component}/icons/icon`, {icon: 'heart'}) %>
                <% }
                if(props.iconShopping) { %>
                <%- include(`${component}/icons/icon`, {icon: 'shopping'}) %>
                <% } %>
            </div>
            <% } %>
        </div>
        <% if(props.price) { %>
        <h5 class="body-light-text product-price mb-0"><%= props.price %></h5>
        <% } 
        if(props.typesColor !== '') { %>
        <div class="d-flex space-x-16 space-top-16">
            <% props.typesColor.forEach((element) => { %>
                <span class="product-color d-block" style="background-color: <%= element.color %>;"></span>
            <% }) %>
        </div>
        <% } %>
    </div>
    <% } %>
</div>

