<%

    const props = {
        masked: masked,
        subtitle: typeof subtitle !== 'undefined' ? subtitle : null,
        title: typeof title !== 'undefined' ? title : null,
        link: link,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    const styles = {
        maskedContent: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            }
        }
    }

%>

<section class="section section-divider <%- styles.maskedContent.darkened -%>" <%- styles.maskedContent.dark -%>>
    <div class="featured-content container">
        <%- include(`${component}/iconDescription/masked`, { 
            img: {
                src: props.masked.img.src,
                alt: props.masked.img.alt,
                height: props.masked.img.height,
                width: props.masked.img.width
            },
            shape: props.masked.shape,
            } )
        %>
        <div class="masked-content-wrapper">
            <h3><%- props.subtitle -%></h3>
            <h1 class=""><%- props.title -%></h1>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        </div>
    </div>
</section>