<%

    const props = {
        masked: masked,
        subtitle: typeof subtitle !== 'undefined' ? subtitle : null,
        title: typeof title !== 'undefined' ? title : null,
        link: link,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    const styles = {
        maskedContent: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            }
        }
    }

%>

<section class="section section-divider <%- styles.maskedContent.darkened -%>" <%- styles.maskedContent.dark -%>>
    <div class="featured-content container row flex-column flex-xl-row-reverse mx-auto">
        <div class="featured-content-masked col col-xl-5 offset-xxl-1 space-bottom-48 space-bottom-md-56">
            <%- include(`${component}/iconDescription/masked`, {
                img: {
                    src: props.masked.img.src,
                    alt: props.masked.img.alt,
                    height: props.masked.img.height,
                    width: props.masked.img.width
                },
                shape: props.masked.shape,
                } )
            %>
        </div>
        <div class="featured-content-wrapper col col-xl-7 col-xxl-6 space-y-24 space-y-40">
            <p class="featured-content-subtitle"><%- props.subtitle -%></p>
            <h1 class="featured-content-title space-bottom-xl-56"><%- props.title -%></h1>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        </div>
    </div>
</section>