<%

    const props = {
        id: typeof id !== 'undefined' ? id : null,
        masked: masked,
        subtitle: typeof subtitle !== 'undefined' ? subtitle : null,
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        isSerif: typeof isSerif !== 'undefined' ? isSerif : false,
        link: link,
        contentPosition: typeof contentPosition !== 'undefined' ? contentPosition : 'right',
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false,
        background: typeof background !== 'undefined' ? background : null,
    }

    const styles = {
        featuredContent: {
            position: {
            toString: () => (props.contentPosition !== 'right' ? 'flex-xl-row-reverse' : 'flex-xl-row')
            },
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            },
            background: {
                toString: () => (props.background ? `section-bg-color bg-${props.background}` : '')
            },
            titleFont: {
                toString: () => (props.isSerif ? 'title-serif' : '')
            },
            text: {
                toString: () => (props.text ? 'featured-content-extended': '')
            }
        }
    }

%>

<div class="module <%- styles.featuredContent.border -%> <%- styles.featuredContent.background -%> <%- styles.featuredContent.darkened -%>" id="<%- props.id -%>" <%- styles.featuredContent.dark -%>>
    <div class="featured-content <%- styles.featuredContent.text-%> container d-flex flex-column <%- styles.featuredContent.position -%> mx-auto">
        <div class="featured-content-masked space-bottom-48 space-bottom-md-56">
            <%- include(`${component}/iconDescription/masked`, {
                img: {
                    src: props.masked.img.src,
                    alt: props.masked.img.alt,
                    height: props.masked.img.height,
                    width: props.masked.img.width
                },
                shape: props.masked.shape,
                head: null,
                text: null
                } )
            %>
        </div>
        <div class="featured-content-wrapper d-flex flex-column justify-content-center space-y-24 space-y-md-40">
            <div class="space-bottom-xl-56">
                <% if(props.subtitle) { %>
                    <p class="featured-content-subtitle"><%- props.subtitle -%></p>
                <% } %>

                <h2 class="featured-content-title <%- styles.featuredContent.titleFont -%>"><%- props.title -%></h2>

                <% if(props.text) { %>
                    <p class="featured-content-text body-light-gray-text space-top-16 space-top-xl-40"><%- props.text -%></p>
                <% } %>
            </div>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon,
            } ) %>
        </div>
    </div>
</div>