<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Scenes</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'alert',
                    } ) %>
                <span class="label">
                    Alert
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'avatar',
                    } ) %>
                <span class="label">
                    Avatar
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'bottle',
                    } ) %>
                <span class="label">
                    Bootle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'boy',
                    } ) %>
                <span class="label">
                    Boy
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'b-system',
                    } ) %>
                <span class="label">
                    B-system
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'choose-template',
                    } ) %>
                <span class="label">
                    Choose template
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'consistency',
                    } ) %>
                <span class="label">
                    Consistency
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'dangerous',
                    } ) %>
                <span class="label">
                    Dangerous
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'efficiency',
                    } ) %>
                <span class="label">
                    Efficiency
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'fonts',
                    } ) %>
                <span class="label">
                    Fonts
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'girl',
                    } ) %>
                <span class="label">
                    Girl
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'home-classic',
                    } ) %>
                <span class="label">
                    Home classic
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'home-modern',
                    } ) %>
                <span class="label">
                    Home modern
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'ideation',
                    } ) %>
                <span class="label">
                    Ideation
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'image',
                    } ) %>
                <span class="label">
                    Image
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'info',
                    } ) %>
                <span class="label">
                    Info
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'leaf-1',
                    } ) %>
                <span class="label">
                    Leaf 1
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'leaf-2',
                    } ) %>
                <span class="label">
                    Leaf 2
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'learn',
                    } ) %>
                <span class="label">
                    Learn
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'man',
                    } ) %>
                <span class="label">
                    Man
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'organized',
                    } ) %>
                <span class="label">
                    Organized
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'process',
                    } ) %>
                <span class="label">
                    Process
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'responsive',
                    } ) %>
                <span class="label">
                    Responsive
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'sales',
                    } ) %>
                <span class="label">
                    Sales
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'system',
                    } ) %>
                <span class="label">
                    System
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'system-module',
                    } ) %>
                <span class="label">
                    System module
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'templates',
                    } ) %>
                <span class="label">
                    Templates
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'testimonial',
                    } ) %>
                <span class="label">
                    Testimonial
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'tools',
                    } ) %>
                <span class="label">
                    Tools
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'woman',
                    } ) %>
                <span class="label">
                    Woman
                </span>
            </div>

        </div>
    </div>
</section>
