<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Scenes</h3>
        </header>
        <div class="demo-grid-size--560 demo-boxes">

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'couple',
                    } ) %>
                </div>
                <div class="demo-label">
                    Couple
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'man-resting-scene',
                    } ) %>
                </div>
                <div class="demo-label">
                    Man resting scene
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'man-working',
                    } ) %>
                </div>
                <div class="demo-label">
                    Man working
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'skyscraper',
                    } ) %>
                </div>
                <div class="demo-label">
                    Skyscraper
                </div>
            </div>

        </div>
    </div>
</section>
