<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Scenes</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

			<div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'couple',
                    } ) %>
                <span class="label">
                    Couple
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'man-resting-scene',
                    } ) %>
                <span class="label">
                    Man resting scene
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'man-working',
                    } ) %>
                <span class="label">
                    Man working
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'scene',
                    illustration: 'skyscraper',
                    } ) %>
                <span class="label">
                    Skyscraper
                </span>
            </div>

        </div>
    </div>
</section>
