<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('styles') %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: true,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<main class="main">
<!--CARDS-->

<!--SECTION LIGHT-->

    <%- include( `${module}/featuredCard/featuredCard`, {
        title: 'Featured works',
        cards: [
            {
                img: {
                    src: 'feature-card_module-1',
                    alt: 'featured card image 1',
                },
                title: '.US',
                text: 'Product design'
            },
            {
                img: {
                    src: 'feature-card_module-2',
                    alt: 'featured card image 2',
                },
                title: 'Dream',
                text: 'Editorial'
            },
            {
                img: {
                    src: 'feature-card_module-3',
                    alt: 'featured card image 3',
                },
                title: 'Amazon toy',
                text: 'Packaging'
            },
        ],
        link:{
            href: '#',
            label: 'See all articles',
            icon: 'links',
            iconPosition: 'after'
        },
        isDarkened: false,
        isDark: false,
        hasBorder: true
    } ) %>

    <%- include( `${module}/featuredCard/featuredCard`, {
        title: 'Featured works',
        cards: [
            {
                img: {
                    src: 'feature-card_module-1',
                    alt: 'featured card image 1',
                },
                title: '.US',
                text: 'Product design'
            },
            {
                img: {
                    src: 'feature-card_module-2',
                    alt: 'featured card image 2',
                },
                title: 'Dream',
                text: 'Editorial'
            },
            {
                img: {
                    src: 'feature-card_module-3',
                    alt: 'featured card image 3',
                },
                title: 'Amazon toy',
                text: 'Packaging'
            },
        ],
        link:{
            href: '#',
            label: 'See all articles',
            icon: 'links',
            iconPosition: 'after'
        },
        isDarkened: true,
        isDark: false,
        hasBorder: true
    } ) %>
<!--END: SECTION LIGHT-->


<!--SECTION DARK-->
    <%- include( `${module}/featuredCard/featuredCard`, {
        title: 'Featured works',
        cards: [
            {
                img: {
                    src: 'feature-card_module-dark-1',
                    alt: 'featured card dark image 1',
                },
                title: '.US',
                text: 'Product design'
            },
            {
                img: {
                    src: 'feature-card_module-dark-2',
                    alt: 'featured card dark image 2',
                },
                title: 'Dream',
                text: 'Editorial'
            },
            {
                img: {
                    src: 'feature-card_module-dark-3',
                    alt: 'featured card dark image 3',
                },
                title: 'Amazon toy',
                text: 'Packaging'
            },
        ],
        link:{
            href: '#',
            label: 'See all articles',
            icon: 'links',
            iconPosition: 'after'
        },
        isDarkened: false,
        isDark: true,
        hasBorder: true
    } ) %>

    <%- include( `${module}/featuredCard/featuredCard`, {
        title: 'Featured works',
        cards: [
                {
                    img: {
                        src: 'feature-card_module-dark-1',
                        alt: 'featured card dark image 1',
                    },
                    title: '.US',
                    text: 'Product design'
                },
                {
                    img: {
                        src: 'feature-card_module-dark-2',
                        alt: 'featured card dark image 2',
                    },
                    title: 'Dream',
                    text: 'Editorial'
                },
                {
                    img: {
                        src: 'feature-card_module-dark-3',
                        alt: 'featured card dark image 3',
                    },
                    titleBasic: 'Amazon toy',
                    text: 'Packaging'
                },
            ],
        link:{
            href: '#',
            label: 'See all articles',
            icon: 'links',
            iconPosition: 'after'
        },
        isDarkened: true,
        isDark: true,
        hasBorder: true
    } ) %>
<!--END: SECTION DARK-->

    <%- include( `${module}/featuredCard/featuredCard`, {
        title: 'Featured works',
        cards: [
                {
                    img: {
                        src: 'feature-card_module-dark-1',
                        alt: 'featured card dark image 1',
                    },
                    title: '.US',
                    text: 'Product design'
                },
                {
                    img: {
                        src: 'feature-card_module-dark-2',
                        alt: 'featured card dark image 2',
                    },
                    title: 'Dream',
                    text: 'Editorial'
                },
                {
                    img: {
                        src: 'feature-card_module-dark-3',
                        alt: 'featured card dark image 3',
                    },
                    titleBasic: 'Amazon toy',
                    text: 'Packaging'
                },
            ],
        link:{
            href: '#',
            label: 'See all articles',
            icon: 'links',
            iconPosition: 'after'
        },
        isDarkened: true,
        isDark: true,
        hasBorder: true
    } ) %>
</main>