<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('header') %>
<%
const config = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasLightNav: false,
    hasBackground: false,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, config) %>

<%- contentFor('body') %>
<div class="main-content main-content-space-top">
    <section>
        <%- include(`${module}/marquee/cta/cta`, {
            slides: [
            {
                    img: {
                        src: 'consistency',
                        alt: 'consistency'
                    },
                    title: {
                        emphasis: 'We are a new concept of digital studio.',
                        normal: 'We work with startups and large companies to activate and consolidate their brands.'
                    },
                    btn: {
                        label: 'Start with B System', 
                        isCTA: true, 
                        icon: 'links', 
                        iconPosition: 'after' 
                    },
                    quote: '“People ignore design that ignores people”'
                },
            {
                    img: {
                        src: 'consistency',
                        alt: 'consistency'
                    },
                    title: {
                        emphasis: 'We are 100% customer-oriented and offer tailor-made solutions.',
                        normal: 'Always thinking about the specific needs of each of our clients.'
                    },
                    btn: {
                        label: 'Start with B System', 
                        isCTA: true, 
                        icon: 'links', 
                        iconPosition: 'after' 
                    },
                    quote: '“People ignore design that ignores people”'
                },
                {
                    img: {
                        src: 'consistency',
                        alt: 'consistency'
                    },
                    title: {
                        emphasis: 'We combine creative talent, strategic vision, technical specialization.',
                        normal: 'And above all, the desire to feel pride in each job.'
                    },
                    btn: {
                        label: 'Start with B System', 
                        isCTA: true, 
                        icon: 'links', 
                        iconPosition: 'after' 
                    },
                    quote: '“People ignore design that ignores people”'
                },
            ]
        }) %>
    </section>
</div>