<%
/**
 * @required {string} href
 * @required {string} label
 */

const props = {
    href: href,
    label: label,
    id: id,
    active: typeof active !== 'undefined' ? active : false
}
%>

<li class="nav-item py-0" role="presentation">
    <a href="<%- props.href -%>" class="nav-link py-4 <%- props.active ? 'active' : ''%>" id="<%- id %>" data-bs-toggle="tab" data-bs-target="#nav-contact"
       type="button" role="tab" aria-controls="nav-contact" aria-selected="<%- props.active %>"
    >
        <%= props.label %>
    </a>
</li>
