<%
/**
 * @required {string} href
 * @required {string} label
 */

const props = {
    href: href,
    label: label,
    id: id,
    active: typeof active !== 'undefined' ? active : false
}
%>

<li class="nav-item py-0" role="presentation">

    <button
            class="nav-link m-0 p-0 <%- props.active ? 'active' : '' %>" id="<%- props.id %>"
            data-bs-toggle="tab"
            role="tab"
            type="button"
            aria-controls="nav-contact"
            aria-selected="<%- props.active %>"
    >
        <a href="<%- props.href -%>" class="d-block py-4 px-3" >
            <%= props.label %>
        </a>
    </button>


</li>
