<%
/**
 * @required {array} items
 */
const props = {
    id: typeof id !== 'undefined' ? id : null,
    items: items,
    align: typeof align !== 'undefined' ? align : 'center',
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
    isDark: typeof isDark !== 'undefined' ? isDark : false,
}

const styles = {
        categories: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
        }
    }

function validate(props) {
    if (false === ['center', 'right', 'left'].includes(props.align)) {
        throw new Error(`The align ${props.align} doesn't exists`)
    }
}

validate(props)

const data = {
    align: {
        toString: () => {
            switch (props.align) {
                case 'center':
                    return 'justify-content-center-safe'
                case 'right':
                    return 'justify-content-right-safe'
                case 'left':
                    return 'justify-content-left-safe'
            }
        }
    }
}
%>

<nav class="categories-menu-wrapper module position-sticky <%- styles.categories.darkened -%> p-0" id="<%- props.id -%>" <%- styles.categories.dark -%>>
    <ul class="nav nav-tabs categories-menu bg-transparent flex-nowrap <%- data.align %>" role="tablist">
        <% props.items.forEach(item => { %>
            <%- include(`${module}/categoriesMenu/categoriesMenuItem`, { ...item }) %>
        <% }) %>
    </ul>
</nav>
