<%- include(`${view}/quick_start/layout`) %>


<%- contentFor('body') %>

<% ['light', 'dark'].forEach((section) => { %>
    <!-- Section <%- section -%> -->
    <section class="section section-divider darkened px-0"
    <% if(section === 'dark') { %>
        data-bsystem="dark"
    <% } %>
    >

        <!--Basic-->
        <div class="container">
            <%- include(`${component}/text/head-x3`, { text: 'Header basic' }) %>
        </div>
        <%- include(`${module}/basicContent/basic`, { title:'Welcome to B_system' }) %>
        <!--END:Basic-->

        <!--Basic Plus-->
        <div class="container space-top-48 space-top-lg-56 space-top-xl-88">
            <%- include(`${component}/text/head-x3`, { text: 'Header basic plus' }) %>
        </div>
        <%- include(`${module}/basicContent/basic`, { title:"Hi, I'm Matias Eriksson, photographer and designer", isPlus:true }) %>
        <!--END:Basic plus-->

        <!--Simple-->
        <div class="container space-top-48 space-top-lg-56 space-top-xl-88">
            <%- include(`${component}/text/head-x3`, { text: 'Header simple ' }) %>
        </div>
        <%- include(`${module}/basicContent/simple`, { variant:'center', title:'To get started', text:'B_system is a multipurpose template created with the proposal of maximizing efficiency in the construction of digital touch points for any type of brand. It is made with completely scalable and reusable components so you only have to worry about creating the personality of your brand. Create your digital brand in a natural and fluid way.' }) %>
        <!--END:Simple-->

        <!--Simple 2 columns-->
        <div class="container space-top-48 space-top-lg-56 space-top-xl-88">
            <%- include(`${component}/text/head-x3`, { text: 'Header simple 2 columns' }) %>
        </div>
        <%- include(`${module}/basicContent/simple`, { variant:'2-columns', title:'To get started', text:'B_system is a multipurpose HTML5 template that will help you create responsive web pages with very little effort. It is made with completely scalable and reusable components, so you only have to worry about creating your wonderful project.' }) %>
        <!--END:Simple 2 columns-->

        <!--Simple left-->
        <div class="container space-top-48 space-top-lg-56 space-top-xl-88">
            <%- include(`${component}/text/head-x3`, { text: 'Header simple left aligned' }) %>
        </div>
        <%- include(`${module}/basicContent/simple`, { title:'Visit our gallery', text:'B_system is a multipurpose template created with the proposal of maximizing efficiency in the construction of digital touch points for any type of brand. It is made with completely scalable and reusable components so you only have to worry about creating the personality of your brand.' }) %>
        <!--END:Simple left-->

        <!--Simple left fit-->
        <div class="container space-top-48 space-top-lg-56 space-top-xl-88">
            <%- include(`${component}/text/head-x3`, { text: 'Header simple left aligned fit' }) %>
        </div>
        <%- include(`${module}/basicContent/simple`, { variant:'start-fit', title:'Visit our gallery', text:'B_system is a multipurpose template created with the proposal of maximizing efficiency in the construction of digital touch points for any type of brand. It is made with completely scalable and reusable components so you only have to worry about creating the personality of your brand.' }) %>
        <!--END:Simple left fit-->

        <!--Argument-->
        <div class="container space-top-48 space-top-lg-56 space-top-xl-88">
            <%- include(`${component}/text/head-x3`, { text: 'Arguments module' }) %>
        </div>
        <%- include(`${module}/basicContent/argument`, {
            columns: [
                {
                    title: 'Agility',
                    text: 'Companies that dominate competitive agility achieve their growth, profitability, sustainability and trust objectives.'
                },
                {
                    title: 'Innovation',
                    text: 'Companies must manage their business in order to maximize their investments in innovation and restructure their resources.'
                },
                {
                    title: 'Disruption',
                    text: 'Is a competition demanded from the outside and driven from the inside. Leaders turn disruption into an opportunity.'
                }
            ]
        }) %>
        <!--END:Argument-->

        <!--Description module-->
        <div class="container space-top-48 space-top-lg-56 space-top-xl-88">
            <%- include(`${component}/text/head-x3`, { text: 'Description module' }) %>
        </div>
        <%- include(`${module}/basicContent/description`, { title:'Create your digital brand in an agile and fluid way', text: 'B_system is a multipurpose template created with the proposal of maximizing efficiency in the construction of digital touch points for any type of brand. It is made with completely scalable and reusable components so you only have to worry about creating the personality of your brand.' }) %>
        <!--END:Description module-->
    </section>
    <!-- END:Section <%- section -%> -->
<% }) %>
