<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('styles') %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: true,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<div class="main-content main-content-space-top">
    <section class="section darkened" style="padding-inline: 0;">

        <div class="space-bottom-48 space-bottom-md-56 space-bottom-xl-88 space-bottom-xxl-120">
            <div class="container">
                <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Header basic</h3>           
            </div>
            <div class="basic-content-wrapper">
                <%- include(`${component}/basicContent/basic`, {
                    title:'Welcome to B_system',
                }) %>
            </div>
        </div>

        <div class="inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
            <div class="container">
                <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Header basic plus</h3>           
            </div>
            <div class="basic-content-wrapper">
                <%- include(`${component}/basicContent/simple`, {
                    title:"Hi, I'm Matias Eriksson, photographer and designer",
                    variant: 'plus'
                }) %>
            </div>
        </div>

        <div class="inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
            <div class="container">
                <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Header simple</h3>           
            </div>
            <div class="basic-content-wrapper">
                <%- include(`${component}/basicContent/simple`, {
                    title:'To get started',
                    text:'B_system is a multipurpose template created with the proposal of maximizing efficiency in the construction of digital touch points for any type of brand. It is made with completely scalable and reusable components so you only have to worry about creating the personality of your brand. Create your digital brand in a natural and fluid way.',
                    variant: 'simple'
                }) %>
            </div>
        </div>

        <div class="inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
            <div class="container">
                <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Header simple 2 columns</h3>           
            </div>
            <div class="basic-content-wrapper">
                <%- include(`${component}/basicContent/simple`, {
                    title:'To get started',
                    text:'B_system is a multipurpose HTML5 template that will help you create responsive web pages with very little effort. It is made with completely scalable and reusable components, so you only have to worry about creating your wonderful project.',
                    variant: 'columns'
                }) %>
            </div>
        </div>

        <div class="inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
            <div class="container">
                <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Header simple left aligned</h3>           
            </div>
            <div class="basic-content-wrapper">
                <%- include(`${component}/basicContent/simple`, {
                    title:'Visit our gallery',
                    text:'B_system is a multipurpose template created with the proposal of maximizing efficiency in the construction of digital touch points for any type of brand. It is made with completely scalable and reusable components so you only have to worry about creating the personality of your brand.',
                    variant: 'left'
                }) %>
            </div>
        </div>

        <div class="inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
            <div class="container">
                <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Header simple left aligned fit</h3>           
            </div>
            <div class="basic-content-wrapper">
                <%- include(`${component}/basicContent/simple`, {
                    title:'Visit our gallery',
                    text:'B_system is a multipurpose template created with the proposal of maximizing efficiency in the construction of digital touch points for any type of brand. It is made with completely scalable and reusable components so you only have to worry about creating the personality of your brand.',
                    variant: 'fit'
                }) %>
            </div>
        </div>

    </section>
</div>
