<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>
<!--MICROILLUSTRATIONS-->

<section class="section illustration microillustration darkener">
    <div class="container">
        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Microillustrations</h3>
        <div class="d-grid grid-1 grid-sm-4 grid-md-3 grid-xl-6 column-gap-24 row-gap-48 space-bottom-48">

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'dangerous', size:'microillustration', alt: 'dangerous'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Dangerous
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'alert', size:'microillustration', alt: 'alert'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Alert
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'error', size:'microillustration', alt: 'error'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Error
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'info', size:'microillustration', alt: 'info'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Info
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'avatar', size:'microillustration', alt: 'avatar'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Avatar
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'success', size:'microillustration', alt: 'success'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Success
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'secure', size:'microillustration', alt: 'secure'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Secure
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'idea', size:'microillustration', alt: 'idea'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Idea
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'ideation', size:'microillustration', alt: 'ideation'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Ideation
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'learn', size:'microillustration', alt: 'learn'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Learn
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'tools', size:'microillustration', alt: 'tools'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Tools
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'man', size:'microillustration', alt: 'man'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Man
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'woman', size:'microillustration', alt: 'woman'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Woman
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf', size:'microillustration', alt: 'leaf'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'leaf-2', size:'microillustration', alt: 'leaf 2'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Leaf 2
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'boy', size:'microillustration', alt: 'boy'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Boy
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'girl', size:'microillustration', alt: 'girl'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Girl
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'bottle', size:'microillustration', alt: 'bottle'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Bottle
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'home-classic', size:'microillustration', alt: 'home classic'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Home classic
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'home-modern', size:'microillustration', alt: 'home modern'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Home modern
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'consistency', size:'microillustration', alt: 'consistency'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Consistency
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'efficiency', size:'microillustration', alt: 'efficiency'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Efficiency
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'organized', size:'microillustration', alt: 'organized'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Organized
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'process', size:'microillustration', alt: 'process'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Process
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'system', size:'microillustration', alt: 'system'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    System
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'modules', size:'microillustration', alt: 'modules'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Modules
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'fonts', size:'microillustration', alt: 'fonts'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Fonts
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'image', size:'microillustration', alt: 'image'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Image
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'responsive', size:'microillustration', alt: 'responsive'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Responsive
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'testimonial', size:'microillustration', alt: 'testimonial'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Testimonial
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'b_system', size:'microillustration', alt: 'b_system'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    B_System
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'flower', size:'microillustration', alt: 'flower'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Flower
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'choose-template', size:'microillustration', alt: 'choose template'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Choose template
                </span>
            </div>

            <div class="space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'sales', size:'microillustration', alt: 'sales'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Sales
                </span>
            </div>

            <div class="col-1-to-2 col-sm-1-to-3 col-md-2-to-3 col-xl-5-to-6 space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'sales-green', size:'microillustration', alt: 'sales green'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Sales green
                </span>
            </div>

            <div class="col-1-to-2 col-sm-3-to-5 col-md-3-to-4 col-xl-6-to-7 space-y-24">
                <div class="demo-card demo-card-micro shadow">
                    <%- include(`${component}/illustration/illustration`, {img: {src: 'sales-turquoise', size:'microillustration', alt: 'sales turquoise'}} ) %>
                </div>
                <span class="body-light-gray-text">
                    Sales turquoise
                </span>
            </div>

        </div>
    </div>
</section>

