<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Microillustrations</h3>
        </header>
        <div class="demo-grid-size--180 demo-boxes">

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'dangerous',
                        } ) %>
                </div>
                <div class="demo-label">
                    Dangerous
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'alert',
                        } ) %>
                </div>
                <div class="demo-label">
                    Alert
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'info',
                        } ) %>
                </div>
                <div class="demo-label">
                    Info
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'avatar',
                        } ) %>
                </div>
                <div class="demo-label">
                    Avatar
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'success'
                        } ) %>
                </div>
                <div class="demo-label">
                    Success
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'secure'
                        } ) %>
                </div>
                <div class="demo-label">
                    Secure
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'ideation',
                        } ) %>
                </div>
                <div class="demo-label">
                    Ideation
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'learn'
                        } ) %>
                </div>
                <div class="demo-label">
                    Learn
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'tools'
                        } ) %>
                </div>
                <div class="demo-label">
                    Tools
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'man'
                        } ) %>
                </div>
                <div class="demo-label">
                    Man
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'woman'
                        } ) %>
                </div>
                <div class="demo-label">
                    Woman
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'leaf-1',
                        } ) %>
                </div>
                <div class="demo-label">
                    Leaf 1
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'leaf-2',
                        } ) %>
                </div>
                <div class="demo-label">
                    Leaf 2
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'boy',
                        } ) %>
                </div>
                <div class="demo-label">
                    Boy
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'girl',
                        } ) %>
                </div>
                <div class="demo-label">
                    Girl
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'bottle',
                        } ) %>
                </div>
                <div class="demo-label">
                    Bottle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'home-modern',
                        } ) %>
                </div>
                <div class="demo-label">
                    Home modern
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'home-classic',
                        } ) %>
                </div>
                <div class="demo-label">
                    Home classic
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'consistency',
                        } ) %>
                </div>
                <div class="demo-label">
                    Consistency
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'efficiency',
                        } ) %>
                </div>
                <div class="demo-label">
                    Efficiency
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'organized'
                        } ) %>
                </div>
                <div class="demo-label">
                    Organized
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'process'
                        } ) %>
                </div>
                <div class="demo-label">
                    Process
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'system'
                        } ) %>
                </div>
                <div class="demo-label">
                    System
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'modules'
                        } ) %>
                </div>
                <div class="demo-label">
                    Modules
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'fonts',
                        } ) %>
                </div>
                <div class="demo-label">
                    Fonts
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'image',
                        } ) %>
                </div>
                <div class="demo-label">
                    Image
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'responsive'
                        } ) %>
                </div>
                <div class="demo-label">
                    Responsive
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'testimonial'
                        } ) %>
                </div>
                <div class="demo-label">
                    Testimonial
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'b-system',
                        } ) %>
                </div>
                <div class="demo-label">
                    B system
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'flower',
                        } ) %>
                </div>
                <div class="demo-label">
                    Flower
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'sales'
                        } ) %>
                </div>
                <div class="demo-label">
                    Sales
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: '1-circle',
                        } ) %>
                </div>
                <div class="demo-label">
                    1 circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'awards-circle',
                        } ) %>
                </div>
                <div class="demo-label">
                    Awards circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'check-circle',
                        } ) %>
                </div>
                <div class="demo-label">
                    Check circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'component-circle',
                        } ) %>
                </div>
                <div class="demo-label">
                    Component circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'fonts-circle',
                        } ) %>
                </div>
                <div class="demo-label">
                    Fonts circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'image-circle',
                        } ) %>
                </div>
                <div class="demo-label">
                    Image circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'interaction-circle',
                        } ) %>
                </div>
                <div class="demo-label">
                    Interaction circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'legal-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Legal circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'museum-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Museum circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'paint-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Paint circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'pencil-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Penciil circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'people-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    People circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'premium-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Premium circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'purse-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Purse circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'saving-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Saving circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'secure-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Secure circle
                </div>
            </div>

            <div class="demo-cell">
                <div class="demo-element">
                    <%- include(`${component}/illustrations/illustration`, {
                        type: 'micro',
                        illustration: 'transfer-circle'
                        } ) %>
                </div>
                <div class="demo-label">
                    Transfer circle
                </div>
            </div>

        </div>
    </div>
</section>
