<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Microillustrations</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'alert',
                    } ) %>
                <span class="label">
                    Alert
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'avatar',
                    } ) %>
                <span class="label">
                    Avatar
                </span>
            </div>

			<div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'bottle',
                    } ) %>
                <span class="label">
                    Bottle
                </span>
            </div>

			<div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'boy',
                    } ) %>
                <span class="label">
                    Boy
                </span>
            </div>

			<div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'b-system',
                    } ) %>
                <span class="label">
                    B system
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'flower',
                    } ) %>
                <span class="label">
                    Flower
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'fonts',
                    } ) %>
                <span class="label">
                    Fonts
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'girl',
                    } ) %>
                <span class="label">
                    Girl
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'home-classic',
                    } ) %>
                <span class="label">
                    Home classic
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'home-modern',
                    } ) %>
                <span class="label">
                    Home modern
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'ideation',
                    } ) %>
                <span class="label">
                    Ideation
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'image',
                    } ) %>
                <span class="label">
                    Image
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'info',
                    } ) %>
                <span class="label">
                    Info
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'leaf-1',
                    } ) %>
                <span class="label">
                    Leaf 1
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'leaf-2',
                    } ) %>
                <span class="label">
                    Leaf 2
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'learn'
                    } ) %>
                <span class="label">
                    Learn
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'man'
                    } ) %>
                <span class="label">
                    Man
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'module'
                    } ) %>
                <span class="label">
                    Module
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'organized'
                    } ) %>
                <span class="label">
                    Organized
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'process'
                    } ) %>
                <span class="label">
                    Process
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'responsive'
                    } ) %>
                <span class="label">
                    Responsive
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'sales'
                    } ) %>
                <span class="label">
                    Sales
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'secure'
                    } ) %>
                <span class="label">
                    Secure
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'success'
                    } ) %>
                <span class="label">
                    Success
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'system'
                    } ) %>
                <span class="label">
                    System
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'testimonial'
                    } ) %>
                <span class="label">
                    Testimonial
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'tools'
                    } ) %>
                <span class="label">
                    Tools
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'woman'
                    } ) %>
                <span class="label">
                    Woman
                </span>
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Circles</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

			<div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: '1-circle',
                    } ) %>
                <span class="label">
                    1 circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'awards-circle',
                    } ) %>
                <span class="label">
                    Awards circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'check-circle',
                    } ) %>
                <span class="label">
                    Check circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'component-circle',
                    } ) %>
                <span class="label">
                    Component circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'fonts-circle',
                    } ) %>
                <span class="label">
                    Fonts circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'legal-circle'
                    } ) %>
                <span class="label">
                    Legal circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'museum-circle'
                    } ) %>
                <span class="label">
                    Museum circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'paint-circle'
                    } ) %>
                <span class="label">
                    Paint circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'pencil-circle'
                    } ) %>
                <span class="label">
                    Penciil circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'people-circle'
                    } ) %>
                <span class="label">
                    People circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'premium-circle'
                    } ) %>
                <span class="label">
                    Premium circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'purse-circle'
                    } ) %>
                <span class="label">
                    Purse circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'saving-circle'
                    } ) %>
                <span class="label">
                    Saving circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'secure-circle'
                    } ) %>
                <span class="label">
                    Secure circle
                </span>
            </div>

            <div class="d-flex flex-column gap-2">
                <%- include(`${component}/illustrations/illustration`, {
                    type: 'micro',
                    illustration: 'transfer-circle'
                    } ) %>
                <span class="label">
                    Transfer circle
                </span>
            </div>

        </div>
    </div>
</section>
