<%
/**
 * @required { href:String, label:String, icon:String, iconPosition:String } link
 */
    const props = {
        title: typeof title !== 'undefined' ? title : null,
        cards: typeof cards !== 'undefined' ? cards : [],
        link: link,
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
        
    }
    const styles = {
        featureCard: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="module <%- styles.featureCard.border -%> <%- styles.featureCard.darkened -%>" <%- styles.featureCard.dark -%>>
<div class="container p-0 d-flex flex-column align-items-center space-y-48 space-y-md-56 space-y-xl-72">
    <h3 class="featured-card-title text-center"><%- props.title -%></h3>
   <!-- Desktop -->
    <div class="featured-card-desktop d-none d-xl-grid grid-xl-3 w-100">
        <% props.cards.forEach((card)=> { %>
            <div class="featured-card-wrapper">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src: card.img.src,
                        alt: card.img.alt
                    },
                    title: card.title,
                    text: card.text,
                    isDarkened: card.isDarkened
                } ) %>
            </div>
        <% }) %>
    </div>
    <!-- END: Desktop -->
    <!-- Tablet -->
    <div class="featured-slide-wrapper d-none d-md-block d-xl-none w-100 overflow-hidden">
        <%- include( `${component}/swiper/start`,
        {
            target: 'featured-card-md',
            effect: 'centered',
            items: 2
        }
        ) %>

        <% props.cards.forEach((slide)=> { %>
            <div class="swiper-slide">
                <%- include(`${module}/featuredCard/featuredCardSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Tablet -->
    <!-- Mobile -->
    <div class="featured-slide-wrapper d-block d-md-none w-100 overflow-hidden">
        <%- include( `${component}/swiper/start`,
        {
            target: 'featured-card',
            effect: 'centered',
            items: 1
        }
        ) %>

        <% props.cards.forEach((slide)=> { %>
            <div class="swiper-slide">
                <%- include(`${module}/featuredCard/featuredCardSlideContent`, {slide}) %>
            </div>
        <% }) %>

        <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
    </div>
    <!-- END: Mobile -->

    <%- include( `${component}/links/link`, {
        href: props.link.href,
        label: props.link.label,
        icon: props.link.icon,
        iconPosition: props.link.iconPosition
    } ) %>
</div>
</div>