<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>
<!--PRODUCT CARDS-->

<section class="section">

    <div class="container">

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Product cards</h3>

        <div class="d-grid grid-1 grid-sm-2 grid-xl-3 column-gap-24 space-bottom-48">
            <div class="d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/basic`, {
                    img: {src: 'light_product-basic', alt: 'Product image'},
                    name:'T-shirt Perkins',
                    price: '$ 12.99',
                    link: {
                        href: '#',
                        label: 'View more',
                        icon: 'links',
                    },
                    colors: ['#ffd4ab', '#000', '#00abcc', '#6e6e6e'],
                    isDarkened: true
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>
            <div class="d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/product`, {
                    img: {src: 'light_product-basic', alt: 'Product image'},
                    name:'T-shirt Perkins',
                    price: '$ 12.99',
                    link: {
                        href: '#',
                        label: 'View more',
                        icon: 'links',
                    },
                    isDarkened: true
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>
        </div>
        <div class="d-grid grid-1 grid-sm-2 grid-xl-3 column-gap-24">
            <div class="d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/extended`, {
                img: {src: 'light_product-basic', alt: 'Product image'},
                name:'T-shirt Perkins',
                price: '$ 12.99',
                link: {
                href: '#',
                label: 'View more',
                icon: 'links',
                },
                colors: ['#ffd4ab', '#000', '#00abcc', '#6e6e6e'],
                isDarkened: true
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>
            <div class="d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/image`, {
                img: {src: 'light_product-basic', alt: 'Product image'},
                name:'T-shirt Perkins',
                price: '$ 12.99',
                link: {
                href: '#',
                label: 'View more',
                icon: 'links',
                },
                colors: ['#ffd4ab', '#000', '#00abcc', '#6e6e6e'],
                isDarkened: true
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>
            <div class="d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/image`, {
                img: {src: 'light_product-basic', alt: 'Product image'},
                name:'T-shirt Perkins',
                price: '$ 12.99',
                link: {
                href: '#',
                label: 'View more',
                icon: 'links',
                },
                colors: ['#ffd4ab', '#000', '#00abcc', '#6e6e6e'],
                isDarkened: true
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>
        </div>
    </div>
</section>

<section class="section darkener">

    <div class="container">

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Product cards</h3>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48">

            <div class="col-1-to-5 d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/product`, {
                    img: {src: 'light_product-basic', alt: 'Product image'},
                    name:'T-shirt Perkins',
                    price: '$ 12.99',
                    link: {
                        href: '#',
                        label: 'View more',
                        icon: 'links',
                    },
                    colors: ['#ffd4ab', '#000', '#00abcc', '#6e6e6e'],
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>
        </div>
    </div>
</section>

<section class="section" data-bsystem="dark">

    <div class="container">

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Product cards</h3>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48">

            <div class="col-1-to-5 d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/product`, {
                img: {src: 'light_product-basic', alt: 'Product image'},
                name:'T-shirt Perkins',
                price: '$ 12.99',
                link: {
                href: '#',
                label: 'View more',
                icon: 'links',
                },
                colors: ['#ffd4ab', '#000', '#00abcc', '#6e6e6e'],
                isDarkened: true
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>

        </div>
    </div>
</section>

<section class="section darkener" data-bsystem="dark">
    <div class="container">
        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Product cards</h3>
        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48">
            <div class="col-1-to-5 d-flex flex-column space-y-24">
                <%- include(`${component}/productCards/product`, {
                img: {src: 'light_product-basic', alt: 'Product image'},
                name:'T-shirt Perkins',
                price: '$ 12.99',
                link: {
                    href: '#',
                    label: 'View more',
                    icon: 'links',
                },
                colors: ['#ffd4ab', '#000', '#00abcc', '#6e6e6e'],
                }) %>
                <span class="body-light-gray-text">
                    Product basic
                </span>
            </div>
        </div>
    </div>

</section>



