<%
/**
 * @required { src:String, alt:String } img
 */

const props = {
    img: img,
    text: typeof text !== 'undefined' ? text : null,
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false
}

const styles = {
    footer: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        }
    }
}

%>

<footer class="footer footer-basic <%- styles.footer.darkened -%> inner-space-inline-16 inner-space-inline-sm-24 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
    <div class="footer-wrapper container">
        <div class="footer-content d-flex gap-32">
            <a class="footer-logo" href="<%= QUICK_START.HOME %>">
                <img src="<%- `${image}/${props.img.src}` -%>" class="logo" alt="<%- props.img.alt -%>" />
            </a>
            <p class="copy body-light-text">
                <%= props.text %>
            </p>
        </div>
    </div>
</footer>
