<%

const props = {
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    icon1: typeof icon1 !== 'undefined' ? icon1 : null,
    icon2: typeof icon2 !== 'undefined' ? icon2 : null,
    name: typeof name !== 'undefined' ? name : 'Empty',
    price: typeof price !== 'undefined' ? price : null,
    colors: typeof colors !== 'undefined' ? colors : [],
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : '#',
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : null,
}

%>

<div class="card border-0 h-100">
    <div class="img-container position-relative h-100">
        <img class="img-card h-100" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
        <div class="img-info product-transition d-flex flex-column align-items-end justify-content-between position-absolute">
            <% if(props.icon1 !== undefined || props.icon2 !== undefined) { %>
                <div class="nav-icons d-flex space-x-16">
                    <% if(props.icon1) { %>
                        <%- include(`${component}/icons/icon`, {icon: props.icon1}) %>
                    <% }
                    if(props.icon2) { %>
                        <%- include(`${component}/icons/icon`, {icon: props.icon2}) %>
                    <% } %>
                </div>
                <% if(props.labelLink) { %>
                <%- include( `${component}/links/link`, {
                    href: props.hrefCard,
                    label: props.labelLink,
                    icon: props.iconLink,
                } ) %>
                <% }
                if(props.colors.length > 0) { %>
                    <div class="product-picker d-flex space-x-16 space-top-16">
                        <% props.colors.forEach((color) => { %>
                        <span class="product-color d-block" style="background-color: <%= color %>;"></span>
                        <% }) %>
                    </div>
                    <% } %>
                <% } %>
        </div>
    </div>
    <div class="product-info bg-none card-body">
        <h5 class="mb-0"><%= props.name %></h5>
        <% if(props.price) { %>
        <h5 class="body-light-text product-price mb-0"><%= props.price %></h5>
        <% } %>
    </div>
</div>

