<%
/**
 * @required { src:String, alt:String } img
 * @required String name
 * @required {href:String, label:String, icon:String } link
 */
const props = {
    img: img,
    name: name,
    link: link,
    icons: typeof icons !== 'undefined' ? icons : ['heart', 'cart'],
    price: typeof price !== 'undefined' ? price : null,
    colors: typeof colors !== 'undefined' ? colors : [],
    isRounded: typeof isRounded !== 'undefined' ? isRounded : false,
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false
}

const styles = {
    card: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        },
        rounded: {
            toString: () => (props.isRounded ? 'rounded' : '')
        }
    }
}
%>

<div class="product-card product-card-extended border-0 <%- styles.card.darkened -%> <%- styles.card.rounded -%>">
    <div class="product-image">
        <picture >
            <img src="<%- `${image}/product-card/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
        </picture>

    </div>

    <div class="product-info card-body">
        <div class="d-flex align-items-center justify-content-between">
            <h5> <%= props.name %> </h5>
            <% if(0 < props.icons.length ) { %>
                <div class="product-info-icons">
                    <% props.icons.forEach((icon) => { %>
                        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon}) -%>
                    <% }) %>
                </div>
            <% } %>
        </div>
        <% if(props.price) { %>
            <span class="body-light-text"><%= props.price %></span>
        <% } %>
        <% if(props.colors.length > 0) { %>
            <div class="product-colors-wrapper space-top-16">
                <% props.colors.forEach((color) => { %>
                    <span class="product-color" style="--color: <%- color %>;"></span>
                <% }) %>
            </div>
        <% } %>
    </div>
</div>

