<%

const props = {
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    name: typeof name !== 'undefined' ? name : 'Empty',
    icon1: typeof icon1 !== 'undefined' ? icon1 : null,
    icon2: typeof icon2 !== 'undefined' ? icon2 : null,
    price: typeof price !== 'undefined' ? price : null,
    typesColor: typeof typesColor !== 'undefined' ? typesColor : [],
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : '#',
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : null,
    shadow: typeof shadow !== 'undefined' ? shadow : false,
}

const values = {
    shadowValidate: 'card-shadow'
}

if(props.shadow == false){
    values.shadowValidate = null;
}

%>

<div class="card border-0 product-extend <%= values.shadowValidate %>">
    <div class="img-container position-relative">
        <img class="img-card img-rounded" src="<%= `${image}/${props.img}` %>" alt="<%- props.imgAlt -%>">
        <div class="img-info product-transition d-flex flex-column align-items-end justify-content-center position-absolute">
                <% if(props.labelLink) { %>
                <%- include( `${component}/links/link`, {
                    href: props.hrefCard,
                    label: props.labelLink,
                    icon: props.iconLink,
                } ) %>
                <% } %>
        </div>
    </div>
    <div class="product-info card-body">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="mb-0"><%= props.name %></h5>
            <% if(props.icon1 !== undefined || props.icon2 !== undefined) { %>
            <div class="nav-icons d-flex space-x-16">
                <% if(props.icon1) { %>
                <%- include(`${component}/icons/icon`, {icon: props.icon1}) %>
                <% }
                if(props.icon2) { %>
                <%- include(`${component}/icons/icon`, {icon: props.icon2}) %>
                <% } %>
            </div>
        </div>
        <% if(props.price) { %>
        <h5 class="body-light-text product-price mb-0"><%= props.price %></h5>
        <% } 
        if(props.typesColor.length > 0) { %>
        <div class="d-flex space-x-16 space-top-16">
            <% props.colors.forEach((color) => { %>
                <span class="product-color d-block" style="background-color: <%= color %>;"></span>
            <% }) %>
        </div>
        <% } %>
    </div>
    <% } %>
</div>

