<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Links</h3>
        <div class="d-grid grid-4 grid-md-8 grid-lg-12">

            <div class="space-y-24 col-1-to-3 col-md-1-to-3">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'Learn more'
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    Basic link
                </div>
            </div>

            <div class="space-y-24 col-3-to-5 col-md-3-to-5">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links',
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    Link
                </div>
            </div>

            <div class="space-y-24 col-1-to-3 col-md-5-to-7">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'More info',
                    icon: 'info',
                    iconPosition: 'before'
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    More info
                </div>
            </div>

            <div class="space-y-24 col-3-to-5 col-md-7-to-9">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'Exit',
                    icon: 'logout',
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    Exit
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section" data-bsystem="dark">
    <div class="container">
        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Links dark</h3>
        <div class="d-grid grid-4 grid-md-8 grid-lg-12">

            <div class="space-y-24 col-1-to-3 col-md-1-to-3">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'Learn more',
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    Basic link
                </div>
            </div>

            <div class="space-y-24 col-3-to-5 col-md-3-to-5">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links',
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    Link
                </div>
            </div>

            <div class="space-y-24 col-1-to-3 col-md-5-to-7">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'More info',
                    icon: 'info',
                    iconPosition: 'before'
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    More info
                </div>
            </div>

            <div class="space-y-24 col-3-to-5 col-md-7-to-9">
                <div class="demo-element">
                    <%- include( `${component}/links/link`, {
                    href: '#',
                    label: 'Exit',
                    icon: 'logout',
                    } ) %>
                </div>
                <div class="body-light-gray-text">
                    Exit
                </div>
            </div>

        </div>
    </div>
</section>
