<%

const props = {
    id: typeof id !== 'undefined' ? id : null,
    slides: typeof slides != 'undefined' ? slides : [],
    isDark: typeof isDark != 'undefined' ? isDark : false,
    interactiveButtonCssClass: typeof interactiveButtonCssClass != "undefined" ? interactiveButtonCssClass : ''
}

const styles = {
    dark: {
        toString: () => {
            return props.isDark ? 'data-b-system-theme="dark"' : ''
        }
    },
    border: {
                toString: () => (props.hasBorder ? ' section-divider' : '')
            },
}

%>

<section class="module marquee-wrapper position-relative p-0<%- styles.border -%>" id="<%- props.id -%>" <%- styles.dark -%>>
    <%- include( `${component}/swiper/start`,
    {
    target: 'marquee-text-image',
    next: '.button-next',
    prev: '.button-prev',
            draggable: false

    }
    ) %>

    <% props.slides.forEach((slide)=> { %>
        <div class="swiper-slide">
            <%- include(`${module}/marquee/textImage/textImageSlideContent`, {slide}) %>
        </div>
    <% }) %>

    <%- include( `${component}/swiper/end`) %>


    <div class="marquee-content-bottom">
        <%- include(`${component}/interaction/interaction-button`, { isRounded: true, isTight: true, icon: 'scroll', interactiveButtonCssClass:`${props.interactiveButtonCssClass ?? ''} btn-interactive-effect-down`}) %>
    </div>
    <div class="marquee-slider-control">
        <div class="button-prev">
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'back', interactiveButtonCssClass:`${props.interactiveButtonCssClass ?? ''} btn-interactive-effect-left`}) %>
        </div>
        <div class="button-next">
            <%- include(`${component}/interaction/interaction-button`, { isRounded: true, icon: 'next', interactiveButtonCssClass: `${props.interactiveButtonCssClass ?? ''} btn-interactive-effect-right`}) %>
        </div>
    </div>
</section>