<%
/**
 * @required { 
 *      img:{src:String, alt:String}, 
 *      title:String,
 *      btn:{label:String, isCTA:Boolean, icon:String, iconPosition:String},
 *      quote:String
 *} slide
 */

    const props = {
        slide
    }
%>

<div class="marquee marquee-text-image marquee-space marquee-size"
    style="display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(3,1fr);">
    <picture>
        <img class="marquee-bg" src="<%- `${image}/marquee/${props.slide.img.src}.jpg` -%>" alt="<%- props.slide.img.alt -%>">
    </picture>
    <div class="marquee-content space-y-24 space-y-md-32 space-y-xl-64">
        <h1 class="marquee-title text-white"><%= props.slide.title %></h1>
        <%- include(`${component}/button/button`, { label: props.slide.btn.label, isCTA: props.slide.btn.isCTA, icon: props.slide.btn.icon, iconPosition: props.slide.btn.iconPosition }) %>
    </div>
    <p class="text-end align-self-end text-white body-italic-text body-light-text d-none d-xl-block">"<%= props.slide.quote %>"</p>
</div>