<%
/**
 * @required {string} label
 */
const props = {
    entry,
    display
}

const methods = {
    dropdown: {
        item: {
            isActive: (item) => activeRoute === item.href ? 'active' : '',
            hasSubmenu: (item) => item.entries?.length > 0
        }
    }
}
const attrs = {
    class: {
        toString: () => {
            return 'multilevel' === props.display ? 'class="dropdown-item-multilevel"' : ''
        }
    }
}
%>
<li <%- attrs.class %>>
    <% if( methods.dropdown.item.hasSubmenu(entry) ) { %>
        <% if('multilevel' === props.display) { %>
            <a class="dropdown-item" href="#">
                <span><%- entry.label %></span>
                <span class="chevron">
                        <%- include(`${component}/icons/icon`, {icon: 'next'}) %>
                    </span>
            </a>
            <ul class="multilevel dropdown-menu">
                <% entry.entries.forEach((entry) => { %>
                    <li>
                        <a class="dropdown-item submenu-item inner-space-right-32 <%- methods.dropdown.item.isActive(entry) -%>"
                           href="<%- entry.href -%>"><%- entry.label %></a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <ul class="dropdown-submenu">
                  <span class="dropdown-header">
                      <strong><%- entry.label %></strong>
                  </span>
                <% entry.entries.forEach((entry) => { %>
                    <li>
                        <a class="dropdown-item submenu-item inner-space-right-32 <%- methods.dropdown.item.isActive(entry) -%>"
                           href="<%- entry.href -%>"><%- entry.label %></a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    <% } else { %>
        <a class="dropdown-item <%- methods.dropdown.item.isActive(entry) -%>"
           href="<%- entry.href -%>"><%- entry.label %></a>
    <% } %>
</li>
