<%
/**
 * @required {string} label
 */
const props = {
    entry
}

const methods = {
    dropdown: {
        item: {
            isActive: (item) => activeRoute === item.href ? 'active' : '',
            hasSubmenu: (item) => item.entries?.length > 0
        }
    }
}
%>
<li class="item-<%- entry.label?.toLowerCase() -%>">
    <% if( methods.dropdown.item.hasSubmenu(entry) ) { %>
        <ul class="dropdown-submenu">
              <span class="dropdown-item">
                  <strong><%- entry.label %></strong>
              </span>
            <% entry.entries.forEach((entry) => { %>
                <li>
                    <a class="dropdown-item submenu-item <%- methods.dropdown.item.isActive(entry) -%>"
                       href="<%- entry.href -%>"><%- entry.label %></a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <a class="dropdown-item <%- methods.dropdown.item.isActive(entry) -%>"
           href="<%- entry.href -%>"><%- entry.label %></a>
    <% } %>
</li>