<%
/**
 * @required {string} label
 */
const props = {
    entry,
    display
}

const methods = {
    dropdown: {
        item: {
            hasSubmenu: (item) => item.entries?.length > 0
        },
    }
}
const attrs = {
    class: {
        toString: () => {
            return 'multilevel' === props.display ? 'class="dropdown-item-multilevel"' : ''
        }
    },
    href:(entry) => {
        return entry.href ? `href="${entry.href}"` : ''
    }
}
%>

<% if( methods.dropdown.item.hasSubmenu(entry) ) { %>
    <% if('multilevel' === props.display) { %>
        <li <%- attrs.class %>>
            <span class="dropdown-item">
                <span><%- entry.label %></span>
                <span class="chevron">
                        <%- include(`${component}/icons/icon`, {icon: 'next'}) %>
                </span>
            </span>
            <ul class="multilevel dropdown-menu">
                <% entry.entries.forEach((entry) => { %>
                    <li>
                        <a class="dropdown-item submenu-item inner-space-right-32" <%- attrs.href(entry) %>>
                            <%- entry.label %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </li>
    <% } else { %>
        <ul class="dropdown-submenu">
            <span class="dropdown-header"><strong><%- entry.label %></strong></span>
            <% entry.entries.forEach((entry) => { %>
                <li>
                    <a class="dropdown-item submenu-item inner-space-right-32" <%- attrs.href(entry) %>>
                        <%- entry.label %>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } %>
<% } else { %>
    <li <%- attrs.class %>>
        <a class="dropdown-item" <%- attrs.href(entry) %>>
            <%- entry.label %>
        </a>
    </li>
<% } %>
