<%
    /**
     * @required {string} label
     */
    const props = {
        label: label,
        href: typeof href !== 'undefined' ? href : '#',
        entries: typeof entries !== 'undefined' ? entries : [],
        itemId: typeof id !== 'undefined' ? id : `${label.replace(/\s+/g, '').toLowerCase()}_dropdown_menu`
    }

    const data = {
      hasMenu: 0 < props.entries.length
    }
%>

<li class="nav-item <% if( data.hasMenu ) { %> dropdown <% } %>">
    <a class="nav-link <%if ( data.hasMenu) {%> dropdown-toggle <%}%>" href="<%= props.href %>"
    <% if( data.hasMenu ) { %>
       id="<%=props.itemId%>" role="button" data-bs-toggle="dropdown" aria-expanded="false"
    <% } %>
    >
        <%= props.label %>
    </a>
    <%if ( data.hasMenu ) {%>
        <ul class="dropdown-menu" aria-labelledby="<%=props.itemId%>">
            <% props.entries.forEach((entry) => { %>
                <li>
                    <a class="dropdown-item" href="<%= entry.href %>"><%= entry.label %></a>
                </li>
            <% }) %>
        </ul>
    <%}%>
</li>
