<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!--CARDS-->

<!--SECTION LIGHT-->
<section class="section">

    <div class="container">

        <h3 class="space-bottom-88">Cards</h3>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">

           <div class="col-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-01',
                        alt: 'Card image'
                    },
                    title: '.US',
                    text: 'Product design'
                } ) %>
                <span class="body-light-gray-text">
                    Basic card
                </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    avatar: {
                        src: 'card-basic-avatar-01',
                        alt: 'avatar image'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + Avatar
                </span>
            </div>

           <div class="col-1-to-5 col-xl-9-to-13 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    textImg: 'B_system'
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + text
                </span>
           </div>

           <div class="col-1-to-5 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    img: {
                        src: 'card-feature-01',
                        alt: 'Card image'
                    },
                    titleFeature: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
               <span class="body-light-gray-text">
                    Card
               </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/feature`, {
                    feature: {
                        src: 'organized',
                        size: 'microillustration',
                        alt: 'feature'
                    },
                    background:{
                        type: 'primary',
                        color: 'eren'
                    },
                    title: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link:{
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Feature card
                </span>
            </div>

            <div class="col-1-to-5 col-xl-9-to-13 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    img: '',
                    price: '$ 12',
                    icon: 'saving-filled',
                    titleComparative: 'Basic product',
                    text: 'Sample text for basic product. Basic resources for starter brands.',
                    link: {
                        href: '#',
                        label: 'Choose',
                        icon: 'links'
                    },
                    typesListElements: [
                    {
                        icon: "check",
                        text:"Basic resource example.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unlimited websites.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unmetered storage.",
                    },
                    ],
                } ) %>
                <span class="body-light-gray-text">
                    Comparative card
                </span>
            </div>

            <div class="card-business-wrapper col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/business`, {
                    title: 'Business case 1: Brandemic',
                    icon: 'star',
                    subtitle: 'New brand',
                    img: {
                        src: 'card-business-brandemic',
                        alt: 'Brandemic logo',
                    },
                    date: '23/03/2019',
                    link: {
                        href: '#',
                        label: 'More info',
                        icon: 'info'
                    }
                } ) %>
                <span class="body-light-gray-text">
                    Business case card
                </span>
            </div>

            <div class="col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/service`, {
                    titleService: 'Digital strategy',
                    text: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions. We take everything we do and how it impacts our customers very seriously. ',
                    tag: '1',
                    img: {
                        src: 'card-service-01',
                        alt: 'This is a description text',
                    },
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Service card
                </span>
            </div>

        </div>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">
            <div class="col-1-to-5 col-sm-1-to-6 col-md-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/testimonial`, {
                    text: 'Our greatest glory is not in never failing, but in getting up every time we fall. All your dreams can come true.',
                    avatar: {
                        src: 'avatar_testimonial-1',
                        alt: 'avatar image',
                        name: 'Sandra Golpe',
                        job: 'Marketing manager',
                    },
                    stars: [
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: false,
                    },
                    ],
                } ) %>
                <span class="body-light-gray-text">
                    Testimonial card
                </span>
            </div>

            <div class="col-1-to-4 col-xl-5-to-8 space-y-24">
                <%- include( `${component}/card/sticky`, {
                    title: 'Contact us',
                    contacts: [
                        {
                            link: {
                                href: '#',
                                label: 'Consult in our chat',
                                icon: 'whatsapp'
                            }
                        },
                        {
                            link: {
                                href: '#',
                                label: 'Shall we call you?',
                                icon: 'contact'
                            }
                        },
                    ]
                } ) %>
                <span class="body-light-gray-text">
                    Sticky banner
                </span>
            </div>

            <div class="col-1-to-5 space-y-24">
                <%- include( `${component}/card/icon`, {
                    icon: 'awards-circle',
                    text: 'B_system is a sketch.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Icon description card
                </span>
            </div>
        </div>

        <div class="inner-space-block-24 space-y-24">
            <%- include( `${component}/card/project`, {
                header: '01',
                title: 'Calgary museum',
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links',
                }
            } ) %>
            <span class="body-light-gray-text">
                Project card
            </span>
        </div>
    </div>
</section>
<!--END: SECTION LIGHT-->

<!--SECTION LIGHT DARKENED-->
<section class="section darkened">

    <div class="container">

        <h3 class="space-bottom-88">Cards</h3>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">

           <div class="col-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-01',
                        alt: 'Card image'
                    },
                    title: '.US',
                    text: 'Product design'
                } ) %>
                <span class="body-light-gray-text">
                    Basic card
                </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    avatar: {
                        src: 'card-basic-avatar-01',
                        alt: 'avatar image'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + Avatar
                </span>
            </div>

           <div class="col-1-to-5 col-xl-9-to-13 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    textImg: 'B_system'
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + text
                </span>
           </div>

           <div class="col-1-to-5 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    img: {
                        src: 'card-feature-01',
                        alt: 'Card image'
                    },
                    titleFeature: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                    hasShadow: true
                } ) %>
               <span class="body-light-gray-text">
                    Card
               </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/feature`, {
                    feature: {
                        src: 'organized',
                        size: 'microillustration',
                        alt: 'feature'
                    },
                    background:{
                        type: 'primary',
                        color: 'eren'
                    },
                    title: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link:{
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                    hasShadow: true
                } ) %>
                <span class="body-light-gray-text">
                    Feature card
                </span>
        </div>

            <div class="col-1-to-5 col-xl-9-to-13 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    price: '$ 12',
                    icon: 'saving-filled',
                    titleComparative: 'Basic product',
                    text: 'Sample text for basic product. Basic resources for starter brands.',
                    link: {
                        href: '#',
                        label: 'Choose',
                        icon: 'links'
                    },
                    typesListElements: [
                    {
                        icon: "check",
                        text:"Basic resource example.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unlimited websites.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unmetered storage.",
                    },
                    ],
                    hasShadow: true
                } ) %>
                <span class="body-light-gray-text">
                    Comparative card
                </span>
            </div>

            <div class="card-business-wrapper col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/business`, {
                    title: 'Business case 1: Brandemic',
                    icon: 'star',
                    subtitle: 'New brand',
                    img: {
                        src: 'card-business-brandemic',
                        alt: 'Brandemic logo',
                    },
                    date: '23/03/2019',
                    link: {
                        href: '#',
                        label: 'More info',
                        icon: 'info'
                    },
                    hasShadow: true
                } ) %>
                <span class="body-light-gray-text">
                    Business case card
                </span>
            </div>

            <div class="col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/service`, {
                    titleService: 'Digital strategy',
                    text: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions. We take everything we do and how it impacts our customers very seriously. ',
                    tag: '1',
                    img: {
                        src: 'card-service-01',
                        alt: 'This is a description text',
                    },
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                    hasShadow: true
                } ) %>
                <span class="body-light-gray-text">
                    Service card
                </span>
            </div>

        </div>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">
            <div class="col-1-to-5 col-sm-1-to-6 col-md-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/testimonial`, {
                    text: 'Our greatest glory is not in never failing, but in getting up every time we fall. All your dreams can come true.',
                    avatar: {
                        src: 'avatar_testimonial-1',
                        alt: 'avatar image',
                        name: 'Sandra Golpe',
                        job: 'Marketing manager',
                    },
                    stars: [
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: false,
                    },
                    ],
                    hasShadow: true
                } ) %>
                <span class="body-light-gray-text">
                    Testimonial card
                </span>
            </div>

            <div class="col-1-to-4 col-xl-5-to-8 space-y-24">
                <%- include( `${component}/card/sticky`, {
                    title: 'Contact us',
                    contacts: [
                        {
                            link: {
                                href: '#',
                                label: 'Consult in our chat',
                                icon: 'whatsapp'
                            }
                        },
                        {
                            link: {
                                href: '#',
                                label: 'Shall we call you?',
                                icon: 'contact'
                            }
                        },
                    ],
                    hasShadow: true
                } ) %>
                <span class="body-light-gray-text">
                    Sticky banner
                </span>
            </div>

            <div class="col-1-to-5 space-y-24">
                <%- include( `${component}/card/icon`, {
                    icon: 'awards-circle',
                    text: 'B_system is a sketch.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                    hasShadow: true
                } ) %>
                <span class="body-light-gray-text">
                    Icon description card
                </span>
            </div>
        </div>

        <div class="inner-space-block-24 space-y-24">
            <%- include( `${component}/card/project`, {
                header: '01',
                title: 'Calgary museum',
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links',
                },
                hasShadow: true
            } ) %>
            <span class="body-light-gray-text">
                Project card
            </span>
        </div>

    </div>
</section>
<!--END: SECTION LIGHT DARKENED-->

<!--SECTION DARK-->
<section class="section" data-b-system-theme="dark">

    <div class="container">

        <h3 class="space-bottom-88">Form elements dark</h3>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">

           <div class="col-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-01',
                        alt: 'Card image'
                    },
                    title: '.US',
                    text: 'Product design'
                } ) %>
                <span class="body-light-gray-text">
                    Basic card
                </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    avatar: {
                        src: 'card-basic-avatar-01',
                        alt: 'avatar image'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + Avatar
                </span>
            </div>

           <div class="col-1-to-5 col-xl-9-to-13 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    textImg: 'B_system'
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + text
                </span>
           </div>

           <div class="col-1-to-5 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    img: {
                        src: 'card-feature-01',
                        alt: 'Card image'
                    },
                    titleFeature: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
               <span class="body-light-gray-text">
                    Card
               </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/feature`, {
                    feature: {
                        src: 'organized',
                        size: 'microillustration',
                        alt: 'feature'
                    },
                    background:{
                        type: 'primary',
                        color: 'eren'
                    },
                    title: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link:{
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Feature card
                </span>
        </div>

            <div class="col-1-to-5 col-xl-9-to-13 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    img: '',
                    price: '$ 12',
                    icon: 'saving-filled',
                    titleComparative: 'Basic product',
                    text: 'Sample text for basic product. Basic resources for starter brands.',
                    link: {
                        href: '#',
                        label: 'Choose',
                        icon: 'links'
                    },
                    typesListElements: [
                    {
                        icon: "check",
                        text:"Basic resource example.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unlimited websites.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unmetered storage.",
                    },
                    ],
                } ) %>
                <span class="body-light-gray-text">
                    Comparative card
                </span>
            </div>

            <div class="card-business-wrapper col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/business`, {
                    title: 'Business case 1: Brandemic',
                    icon: 'star',
                    subtitle: 'New brand',
                    img: {
                        src: 'card-business-brandemic_darkmode',
                        alt: 'Brandemic logo',
                    },
                    date: '23/03/2019',
                    link: {
                        href: '#',
                        label: 'More info',
                        icon: 'info'
                    }
                } ) %>
                <span class="body-light-gray-text">
                    Business case card
                </span>
            </div>

            <div class="col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/service`, {
                    titleService: 'Digital strategy',
                    text: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions. We take everything we do and how it impacts our customers very seriously. ',
                    tag: '1',
                    img: {
                        src: 'card-service-01',
                        alt: 'This is a description text',
                    },
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Service card
                </span>
            </div>

        </div>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">
            <div class="col-1-to-5 col-sm-1-to-6 col-md-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/testimonial`, {
                    text: 'Our greatest glory is not in never failing, but in getting up every time we fall. All your dreams can come true.',
                    avatar: {
                        src: 'avatar_testimonial-1',
                        alt: 'avatar image',
                        name: 'Sandra Golpe',
                        job: 'Marketing manager',
                    },
                    stars: [
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: false,
                    },
                    ],
                } ) %>
                <span class="body-light-gray-text">
                    Testimonial card
                </span>
            </div>

            <div class="col-1-to-4 col-xl-5-to-8 space-y-24">
                <%- include( `${component}/card/sticky`, {
                    title: 'Contact us',
                    contacts: [
                        {
                            link: {
                                href: '#',
                                label: 'Consult in our chat',
                                icon: 'whatsapp'
                            }
                        },
                        {
                            link: {
                                href: '#',
                                label: 'Shall we call you?',
                                icon: 'contact'
                            }
                        },
                    ]
                } ) %>
                <span class="body-light-gray-text">
                    Sticky banner
                </span>
            </div>

            <div class="col-1-to-5 space-y-24">
                <%- include( `${component}/card/icon`, {
                    icon: 'awards-circle',
                    text: 'B_system is a sketch.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Icon description card
                </span>
            </div>
        </div>

        <div class="inner-space-block-24 space-y-24">
            <%- include( `${component}/card/project`, {
                header: '01',
                title: 'Calgary museum',
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links',
                }
            } ) %>
            <span class="body-light-gray-text">
                Project card
            </span>
        </div>

    </div>
</section>
<!--END: SECTION DARK-->

<!--SECTION DARK DARKENED-->
<section class="section darkened" data-b-system-theme="dark">

    <div class="container">

        <h3 class="space-bottom-88">Form elements dark</h3>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">

           <div class="col-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-01',
                        alt: 'Card image'
                    },
                    title: '.US',
                    text: 'Product design'
                } ) %>
                <span class="body-light-gray-text">
                    Basic card
                </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    avatar: {
                        src: 'card-basic-avatar-01',
                        alt: 'avatar image'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + Avatar
                </span>
            </div>

           <div class="col-1-to-5 col-xl-9-to-13 space-y-24">
                <%- include( `${component}/card/basic`, {
                    img: {
                        src:'card-basic-02',
                        alt: 'Card image'
                    },
                    textImg: 'B_system'
                } ) %>
                <span class="body-light-gray-text">
                    Basic image + text
                </span>
           </div>

           <div class="col-1-to-5 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    img: {
                        src: 'card-feature-01',
                        alt: 'Card image'
                    },
                    titleFeature: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
               <span class="body-light-gray-text">
                    Card
               </span>
           </div>

           <div class="col-1-to-5 col-sm-5-to-9 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/feature`, {
                    feature: {
                        src: 'organized',
                        size: 'microillustration',
                        alt: 'feature'
                    },
                    background:{
                        type: 'primary',
                        color: 'eren'
                    },
                    title: 'Well organized and layered',
                    text: 'Elements are intuitively organized and well named, so you can quickly customize your design.',
                    link:{
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Feature card
                </span>
        </div>

            <div class="col-1-to-5 col-xl-9-to-13 d-flex flex-column justify-content-between space-y-24">
                <%- include( `${component}/card/comparative`, {
                    img: '',
                    price: '$ 12',
                    icon: 'saving-filled',
                    titleComparative: 'Basic product',
                    text: 'Sample text for basic product. Basic resources for starter brands.',
                    link: {
                        href: '#',
                        label: 'Choose',
                        icon: 'links'
                    },
                    typesListElements: [
                    {
                        icon: "check",
                        text:"Basic resource example.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unlimited websites.",
                    },
                    {
                        icon: "close-blade",
                        text:"Unmetered storage.",
                    },
                    ],
                } ) %>
                <span class="body-light-gray-text">
                    Comparative card
                </span>
            </div>

            <div class="card-business-wrapper col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/business`, {
                    title: 'Business case 1: Brandemic',
                    icon: 'star',
                    subtitle: 'New brand',
                    img: {
                        src: 'card-business-brandemic_darkmode',
                        alt: 'Brandemic logo',
                    },
                    date: '23/03/2019',
                    link: {
                        href: '#',
                        label: 'More info',
                        icon: 'info'
                    }
                } ) %>
                <span class="body-light-gray-text">
                    Business case card
                </span>
            </div>

            <div class="col-1-to-5 col-sm-1-to-9 col-xl-1-to-13 d-flex flex-column space-y-24">
                <%- include( `${component}/card/service`, {
                    titleService: 'Digital strategy',
                    text: 'We create competitive agility for shareholders by partnering with C-suite boards, CEOs and executives to define and answer their most strategic business questions. We take everything we do and how it impacts our customers very seriously. ',
                    tag: '1',
                    img: {
                        src: 'card-service-01',
                        alt: 'This is a description text',
                    },
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Service card
                </span>
            </div>

        </div>

        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">
            <div class="col-1-to-5 col-sm-1-to-6 col-md-1-to-5 d-flex flex-column space-y-24">
                <%- include( `${component}/card/testimonial`, {
                    text: 'Our greatest glory is not in never failing, but in getting up every time we fall. All your dreams can come true.',
                    avatar: {
                        src: 'avatar_testimonial-1',
                        alt: 'avatar image',
                        name: 'Sandra Golpe',
                        job: 'Marketing manager',
                    },
                    stars: [
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: true,
                    },
                    {
                        state: false,
                    },
                    ],
                } ) %>
                <span class="body-light-gray-text">
                    Testimonial card
                </span>
            </div>

            <div class="col-1-to-4 col-xl-5-to-8 space-y-24">
                <%- include( `${component}/card/sticky`, {
                    title: 'Contact us',
                    contacts: [
                        {
                            link: {
                                href: '#',
                                label: 'Consult in our chat',
                                icon: 'whatsapp'
                            }
                        },
                        {
                            link: {
                                href: '#',
                                label: 'Shall we call you?',
                                icon: 'contact'
                            }
                        },
                    ]
                } ) %>
                <span class="body-light-gray-text">
                    Sticky banner
                </span>
            </div>

            <div class="col-1-to-5 space-y-24">
                <%- include( `${component}/card/icon`, {
                    icon: 'awards-circle',
                    text: 'B_system is a sketch.',
                    link: {
                        href: '#',
                        label: 'Learn more',
                        icon: 'links'
                    },
                } ) %>
                <span class="body-light-gray-text">
                    Icon description card
                </span>
            </div>
        </div>

        <div class="inner-space-block-24 space-y-24">
            <%- include( `${component}/card/project`, {
                header: '01',
                title: 'Calgary museum',
                link: {
                    href: '#',
                    label: 'Learn more',
                    icon: 'links',
                }
            } ) %>
            <span class="body-light-gray-text">
                Project card
            </span>
        </div>

    </div>
</section>
<!--END: SECTION DARK DARKENED-->
