<%

 const props = {
    title,
    text,
    contact,
    textarea,
    checkboxes,
    button,
    alerts,
    isDark,
    hasBorder
}

const styles = {
        contact: {
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.isDark ? 'section-divider' : '')
            }
        }
    }
%>

<div class="contact module <%- styles.contact.border -%>" <%- styles.contact.dark -%>>
    <div class="container row flex-nowrap flex-column flex-md-row align-items-start mx-auto px-0">
        <div class="contact-form-container col-md-8 col-xl-6">
            <div class="contact-header space-y-24 space-y-md-32 space-y-xl-24 space-bottom-32">
                <h3 class="contact-title"><%- props.title -%></h3>
                <p class="contact-text body-light-gray-text"><%- props.text -%></p>
            </div>
            <form class="contact-form">
                <% props.contact.forEach((input)=> { %>
                    <%- include(`${component}/form/input`, { id:input.id, label:input.label}) %>
                <% }) %>
                <%- include(`${component}/form/textarea`, { id:props.textarea.id, label:props.textarea.label}) %>
                <% if(props.checkboxes) { %>
                    <% props.checkboxes.forEach((checkbox)=> { %>
                        <%- include(`${component}/form/checkbox`, { id: checkbox.id, label: checkbox.label }) %>
                    <% })
                } %>
                <%- include(`${component}/button/button`, { label: props.button.label, variant: props.button.variant }) %>
            </form>
        </div>
        <div class="contact-alerts-container col-md-4 col-xl-6 d-flex flex-column">
            <% props.alerts.forEach((alert)=> {
                if(alert.variant !== 'link') { %>
                    <%- include(`${component}/alert/alert`, {
                        icon:  alert.icon,
                        text: alert.text,
                        variant: alert.variant
                    }) %>
                <% } %>
                <% if(alert.variant == 'link') { %>
                    <%- include(`${component}/alert/alert`, {
                        link: {
                            href: alert.link.href,
                            label: alert.link.label,
                            icon: alert.link.icon
                        },
                        variant: alert.variant
                    }) %>
                <% } %>
            <% }) %>
        </div>
    </div>
</div>