<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('styles') %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: true,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<main class="main">
    <section class="section darkened" style="padding-inline: 0;">
        <div class="container">
            <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Contact bar</h3>
        </div>
        <div class="space-y-24 space-y-xl-32">
            <%- include(`${module}/contactBar/contactBar`, {
                links: [
                {
                    href: 'tel:91 604 05 81',
                    label: '91 604 05 81',
                    icon: 'call',
                    iconPosition: 'before'
                },
                {
                    href: 'mailto:info@iteratika.studio',
                    label: 'info@iteratika.studio',
                    icon: 'message',
                    iconPosition: 'before'
                },
                ],
                texts: {
                    name: 'Taylor & Evans Law Firm',
                    contact: 'Follow us:'
                },
                socials: ['behance', 'youtube', 'pinterest', 'twitter', 'linkedin']
            }) %>
            <span class="body-light-gray-text inner-space-inline-16 inner-space-inline-md-80">
                Contact bar
            </span>
        </div>
    </section>
</main>
