<%
    const props = {
        title: typeof title !== 'undefined' ? title : null,
        score: typeof score !== 'undefined' ? score : null,
        testimonials,
        isDarkened,
        isDark,
        hasBorder
    }

    const styles = {
        testimonials: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="testimonial module <%- styles.testimonials.border -%> <%- styles.testimonials.darkened -%>" <%- styles.testimonials.dark -%>>
    <div class="container">
        <h3 class="testimonial-title text-center space-bottom-8"><%= props.title %></h3>
        <p class="body-light-gray-text text-center space-bottom-56 space-bottom-md-64 space-bottom-xl-72"><%- props.score -%></p>
        <!-- Desktop -->
        <div class="testimonial-content-desktop d-none d-xl-block overflow-hidden">
            <%- include( `${component}/swiper/start`,
            {
                target: 'testimonial-xl',
                effect: 'centered',
                items: 3,
                loop: true
            }) %>

            <% props.testimonials.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/testimonial/testimonialSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>
        <!-- END: Desktop -->
        <!-- Tablet -->
        <div class="testimonial-content-tablet d-none d-md-block d-xl-none overflow-hidden">
            <%- include( `${component}/swiper/start`,
            {
                target: 'testimonial-md',
                effect: 'centered',
                items: 2,
                loop: true
            }) %>

            <% props.testimonials.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/testimonial/testimonialSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>
        <!-- END: Tablet -->
        <!-- Mobile -->
        <div class="testimonial-content-mobile d-block d-md-none overflow-hidden">
            <%- include( `${component}/swiper/start`,
            {
                target: 'testimonial',
                effect: 'centered',
                items: 1,
                loop: true
            }) %>

            <% props.testimonials.forEach((slide)=> { %>
                <div class="swiper-slide">
                    <%- include(`${module}/testimonial/testimonialSlideContent`, {slide}) %>
                </div>
            <% }) %>

            <%- include( `${component}/swiper/end`, {paginationColor:'dark'}) %>
        </div>
        <!-- END: Mobile -->
    </div>
</div>