<%
/**
 * @required { src:String, alt:String } img
 */

    const props = {
        img,
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        shape: typeof shape !== 'undefined' ? shape : 'basic'
    }

    function validate(props) {
        const SHAPES = ['basic', 'horizontal', 'vertical']

        if (!SHAPES.includes(props.shape)) {
            throw new Error(`The shape ${props.shape} doesn't exists`)
        }
    }

    const styles = {
        portfolio: {
            shape: {
                toString: () => ('basic' === props.shape ? 'portfolio-basic' : `portfolio-${props.shape}`)
            }
        }
    }
%>

<div class="portfolio <%- styles.portfolio.shape -%> space-y-16 space-y-md-32 position-relative">
    <picture class="portfolio-container-img">
        <img class="portfolio-img" src="<%- `${image}/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="portfolio-content">
        <p class="body-regular-gray-text"><%= props.title %></p>
        <p class="body-light-gray-text"><%= props.text %></p>
    </div>
</div>