<%
    const props = {
        img,
        tag: typeof tag !== 'undefined' ? tag : null,
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        link,
        shape: typeof shape !== 'undefined' ? shape : 'basic',
        contentPosition: typeof contentPosition !== 'undefined' ? contentPosition : 'right',
    }

    function validate(props) {
        const SHAPES = ['basic', 'horizontal', 'vertical']

        if (!SHAPES.includes(props.shape)) {
            throw new Error(`The shape ${props.shape} doesn't exists`)
        }
    }

    const styles = {
        portfolio: {
            shape: {
                toString: () => ('basic' === props.shape ? 'portfolio-basic' : `portfolio-${props.shape}`)
            },
            contentPosition: {
            toString: () => (props.contentPosition !== 'right' ? 'flex-xl-row-reverse' : '')
            }
        }
    }
%>

<div class="portfolio <%- styles.portfolio.shape -%> row <%- styles.portfolio.contentPosition -%> w-100 m-0">
    <picture class="portfolio-container-img col-6 p-0 m-0">
        <% if(props.shape == 'vertical') { %>
            <img class="portfolio-img-small w-100 h-100 d-md-none" src="<%- `${image}/portfolio/${props.img.srcMobile}.jpg` -%>" alt="<%- props.img.alt -%>">
            <img class="portfolio-img w-100 h-100 d-none d-md-block" src="<%- `${image}/portfolio/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
        <% } 
        if(props.shape !== 'vertical') { %>
        <img class="portfolio-img w-100 h-100" src="<%- `${image}/portfolio/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
        <% } %>
    </picture>
    <div class="portfolio-content d-flex flex-column justify-content-between col-6 m-0">
        <span class="portfolio-tag body-bold-text d-flex justify-content-center align-items-end"><%= props.tag %></span>
        <div class="portfolio-content-info">
            <h4 class="portfolio-title body-dark-gray-text space-bottom-32"><%= props.title %></h4>
            <p class="portfolio-text body-light-gray-text"><%= props.text %></p>
        </div>
        <%- include( `${component}/links/link`, {
            href: props.link.href,
            label: props.link.label,
            icon: props.link.icon
        } ) %>
    </div>
</div>