<%
/**
 * @required { href:String, label:String, icon:String } link
 * @required { src:String, alt:String } img
 */

    const props = {
        pretitle: typeof pretitle !== 'undefined' ? pretitle : null,
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        link,
        img,
        contentPosition: typeof contentPosition !== 'undefined' ? contentPosition : 'right',
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        basicGrid: {
            contentPosition: {
            toString: () => (props.contentPosition !== 'right' ? 'order-xl-0' : 'order-xl-1')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="basic-grid module p-0 <%- styles.basicGrid.border -%>" <%- styles.basicGrid.dark -%>>
    <div class="d-grid grid-1 grid-xl-2 gap-0">
        <div class="basic-grid-content d-flex flex-column justify-content-center order-1 <%- styles.basicGrid.contentPosition -%>">
            <p class="basic-grid-pretitle body-medium-gray-text space-bottom-16 space-bottom-md-32"><%- props.pretitle -%></p>
            <h2 class="basic-grid-title space-bottom-24 space-bottom-md-32"><%- props.title -%></h2>
            <p class="basic-grid-text body-light-gray-text space-bottom-32"><%- props.text -%></p>
            <%- include( `${component}/links/link`, {
                href: props.link.href,
                label: props.link.label,
                icon: props.link.icon
                } ) %>
        </div>
        <picture class="basic-grid-img-container order-0">
            <img class="basic-grid-img w-100" src="<%- `${image}/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
        </picture>
    </div>
</div>